<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
    try {
      ace.settings.check('breadcrumbs', 'fixed')
    } catch (e) {
    }
  </script>

  <ul class="breadcrumb">
    <li>
      <%= link_to dashboard_index_path do %>
        <i class="icon-home home-icon"></i>
        <span class="menu-text"> Home </span>
      <% end %>
    </li>
    <li class="active">Profile</li>
  </ul>
  <!-- .breadcrumb -->
</div>
<% unless @user.nil? %>
  <div class="page-content">
    <!-- PAGE CONTENT BEGINS -->
    <div class="page-header">
      <h1><%= @user.firstname rescue 'user' %> Profile</h1>
    </div>
    <div class="page-body">
    <div class="row">
      <div id="dashboard-profile">
        <div class="col-sm-3 center">
          <!-- Profile picture -->
        <span class="profile-picture">
           <%= image_tag @user.profilepic_url(:thumb) || "/assets/profile.png", :class => "profile-pic nav-user-photo", :alt => "#{@user.firstname}'s Photo", style: "display: block;", class: "editable img-responsive editable-click editable-empty", id: 'avatar' %>
        </span>

          <div class="space-4"></div>

          <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
            <div class="inline position-relative">
              <span class="white"><%= @user.firstname %>&nbsp;<%= @user.lastname %></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <!-- Profile info -->
          <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
              <div class="profile-info-name"> First Name</div>

              <div class="profile-info-value">
                <a href="#" id="firstname" data-type="text"><%= @user.firstname %></a>
              </div>
            </div>
          </div>

          <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
              <div class="profile-info-name"> Last Name</div>

              <div class="profile-info-value">
                <a href="#" id="lastname" data-type="text"><%= @user.lastname %></a>
              </div>
            </div>
          </div>

          <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
              <div class="profile-info-name"> Email</div>

              <div class="profile-info-value">
                <span><%= @user.email %></span>
              </div>
            </div>
          </div>

          <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
              <div class="profile-info-name"> Joined</div>

              <div class="profile-info-value">
                <span><%= @user.created_at %></span>
              </div>
            </div>
          </div>
          <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
              <div class="profile-info-name"> Last Online</div>

              <div class="profile-info-value">
                <span><%= time_ago_in_words(@user.last_sign_in_at) %> ago</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
<% else %>
  <h1 class="text-center text-danger"> Something is Wrong</h1>
<% end %>