<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
    try {
      ace.settings.check('breadcrumbs', 'fixed')
    } catch (e) {
    }
  </script>

  <ul class="breadcrumb">
    <li>
      <%= link_to dashboard_index_path do %>
        <i class="icon-home home-icon"></i>
        <span class="menu-text"> Home </span>
      <% end %>
    </li>
    <li class="active">Saved Searches</li>
  </ul>
  <!-- .breadcrumb -->
</div>
<% unless @user.nil? %>  <div class="page-content">
  <!-- PAGE CONTENT BEGINS -->
  <div class="page-header">
    <h1><%= @user.firstname rescue 'user' %> Saved Searches</h1>
  </div>
  <div class="row">
    <div class="streams <%= (params[:email].nil?) ? "selected": ""%>">
      <% hours = ['midnight','1am','2am','3am','4am','5am','6am','7am','8am','9am','10am','11am','noon','1pm','2pm','3pm','4pm','5pm','6pm','7pm','8pm','9pm','10pm','11pm','midnight'] %>
      <% current_user.channels.each do |channel| %>
        <div class="stream" stream-id="<%= channel.id %>">
          <div class="stream-title">
            <span class="uber-title">
              <span class="title"><%= channel.name %></span>
              <a href="" stream-id="<%= channel.id %>" stream-name="<%= channel.name %>" class="action rename"><span class="icon icon-edit"></span>rename</a>
            </span>
            <a href="" stream-id="<%= channel.id %>" stream-name="<%= channel.name %>" class="action delete"><span class="icon icon-trash"></span>delete</a>
          </div>
          <div class="stream-details">
            <% unless (channel.search.to_s.empty?) %>
              <div><span class="filter name">search</span><span class="filter value"><%= channel.search %></span></div>
            <% end %>
            <% unless (channel.included_tags.to_s.empty?) %>
              <div><span class="filter name">tags</span><span class="filter value"><%= Tag.find(channel.included_tags.split(",")).collect { |t| t.name } * ", " %></span></div>
            <% end %>

            <%
               dateString = ""
               timeString = ""
               start_hours = (channel.start_seconds || 0) / 3600
               end_hours = (channel.end_seconds || 86400) / 3600

               # timeString
               unless (start_hours == 0 && end_hours == 24)
                 if(end_hours == 24)
                   timeString = "after <em>" + hours[start_hours] + "</em>"
                 elsif(start_hours == 0)
                   timeString = "before <em>" + hours[end_hours] + "</em>"
                 else
                   timeOne = hours[start_hours]
                   timeTwo = hours[end_hours]
                   timeString = "<em>" + timeOne + "&ndash;" + timeTwo + "</em>"
                 end
               end

               dow_short = ['Su','M','T','W','Th','F','Sa']
               dow_medium = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat']
               dow_long = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']

               if(!channel.start_date.to_s.empty? || !channel.end_date.to_s.empty?)
                 dateString = channel.start_date.strftime("%-m/%-d") + "&ndash;" + channel.end_date.strftime("%-m/%-d")
               elsif (channel.start_days == 0 && channel.end_days == 6)
                 dayArray = (channel.day_of_week || "").split(",")
                 num_days = dayArray.size
                 if(num_days == 7 || num_days == 0)
                   dateString = "This Week"
                 else
                   dayArray.each do |day|
                     day = day.to_i
                     if(num_days == 1)
                       dateString += "+" + dow_long[day]
                     elsif (num_days == 2)
                       dateString += "+" + dow_medium[day]
                     else
                       dateString += "/" + dow_short[day]
                     end
                   end
                   dateString = dateString[1..-1]
                 end
               elsif(channel.start_days == 0 && channel.end_days == 0)
                 dateString = "Today"
               end

               dateTimeString = dateString + " " + timeString
            %>
            <% unless (dateTimeString.blank?) %>
              <div><span class="filter name">time</span><span class="filter value"><%= raw dateTimeString %></span></div>
            <% end %>
            <% unless (channel.low_price.to_s.empty? && channel.high_price.to_s.empty?) %>
              <% if(channel.low_price.to_s.empty?)
                   costStr = "Under $" + channel.high_price.to_s
                 elsif(channel.high_price.to_s.empty?)
                   costStr = "Over $" + channel.low_price.to_s
                 else
                   costStr = "$" + channel.low_price.to_s + " to $" + channel.high_price.to_s
                 end
              %>
              <div><span class="filter name">cost</span><span class="filter value"><%= costStr %></span></div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% else %>
  <h1 class="text-center text-danger"> Something is Wrong</h1>
<% end %>
