<div marginwidth="0" marginheight="0" style="background-color:#cecfce"><div class="adM">

    </div><table width="100%" cellspacing="0" bgcolor="#CECFCE" style="background-color:#cecfce">

        <tbody><tr>

            <td valign="top" align="center">

                <table cellspacing="0" cellpadding="0" width="650" bgcolor="white" style="border:0px none #000000;margin-top:20px;margin-bottom:20px;background-color:#ffffff">

                    <tbody><tr>

                        <td>

                            <table width="650" cellpadding="0" cellspacing="0">

                                <tbody><tr>

                                    <td style="padding:10px 25px 10px 25px">

                                        <table>

                                            <tbody><tr>

                                                <td height="50">

                                                    <a href="http://www.halfpastnow.com" target="_blank"><img style="float:left" width="250" height="44" alt="See event picks in the categories you like" src="http://www.halfpastnow.com/assets/halfpastnow_final_300.png"></a>

                                                </td>
                                                <td height="50" width="125"></td>
                                                

                                            </tr>

                                        </tbody></table>

                                        <hr style="clear:both;margin-bottom:-8px;">
<div class="test" style="margin-top:-10px;margin-bottom:-14px;display: inline-block;">
    <table >
        
        <tbody>
            <tr>
                <td width="600px">
        <div class="header-content"><webversion><a href="http://www.halfpastnow.com" style="text-decoration:none;color:#4f2740" target="_blank">half past now.</a></webversion><span class="hide">&nbsp;&nbsp;|&nbsp; <preferences lang="en"><a href="http://www.halfpastnow.com/users/edit?email=y" style="text-decoration:none;color:#4f2740" target="_blank">Select event categories</a></preferences>&nbsp;&nbsp;|&nbsp; <unsubscribe><a href="mailto:?subject=Check out halfpastnow.'s event newsletter&body=Signup for half past now. newsletter at http%3A%2F%2Fwww.halfpastnow.com. It's an awesome way to find events in Austin based on on your profile and the categories of events that interest you!">Tell a friend</a></unsubscribe></span></div>
                </td>
                <td height="50" width="125"></td>
                <!-- <td height="50" width="125">
                                                    <a href="http://www.halfpastnow.com/users/edit?email=y" target="_blank" style="border: 1px solid #9C8FAD;
                                                            font-size: 14px;
                                                            background-color: #a700a7;
                                                            color: white;
                                                            padding: 7px 0px 4px 0px;
                                                            margin-top: 0px;
                                                            text-decoration: none;
                                                            text-transform: none;
                                                            display: block;
                                                            text-align: center;
                                                            vertical-align: middle;
                                                            width: 180px;
                                                            font-style: italic;
                                                            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0,0,0,0.3)));
                                                            font-family: Lato,Tahoma,sans-serif;
                                                            border-bottom-left-radius: 2px;
                                                            border-bottom-right-radius: 2px;
                                                            border-top-left-radius: 2px;
                                                            border-top-right-radius: 2px;
                                                            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.4) inset;" >Select Event Categories</a> 
                </td> -->
                </tr>
                
                
        </tbody>
    </table>
</div>
<!-- <div>
    <table >
        
        <tbody>
            <td height="30" width="425px"></td>
            <td>
                <div style="float:right;font-style:italic;color:rgb(84,36,88);max-width: 190px;text-align: center;" height="0px">
                    See the most popular events based on your interest
                </div>
            </td>
        </tbody>
    </table>
</div> -->

<div style="font-size: 14px;line-height: 30px;">Hello<%=(@user.nil?) ? "," : " " +@user.firstname+"," %></div>
<div style="font-size:14px;line-height:20px;">Here are our top event picks for this week. Update your preferences to receive your own personalized email with event categories you care about!</div>  
<!-- Start generating events -->
        
<% @ids.each do |id| %>
<% occurrence = Occurrence.find(id) %>
<table width="600" cellspacing="0" style="margin-top:15px">

    <tbody>
     <tr>

            <td width="450" valign="top" style="text-align:left">

                <div style="font-size:18px;color:#4f2740">



                    <a href="http://www.halfpastnow.com/events/show/<%= occurrence.id %>?fullmode=true" style="text-decoration:none;color:#4f2740" target="_blank">

                        

                            <%= truncate(occurrence.event.title, :length => 115) %>

                        

                    </a>

                </div>

                

                <div style="font-size:14px;color:#8c8c8c"> <% if occurrence.event.price %>
                        <b><span style="font-size:16px;line-height:5px;color: #4f2740;"><%= occurrence.event.price ? ((occurrence.event.price != 0) ? number_to_currency(occurrence.event.price,:unit=>"$").to_s + " " : "FREE ") : "" %></span></b>
                    <% end %>    at <%= occurrence.event.venue.name %></div>

                

            </td>

            <td width="150" valign="top">

                <table>

                    <tbody><tr>

                        <td width="150" height="30" align="center" valign="center" style="border:1px solid #8c8c8c;text-transform:uppercase;text-align:center;color:#8c8c8c;font-size:15px;font-weight:normal">

                            

                                <%= occurrence.start.to_time.strftime("%A, %B %-d at %-l:%M%P") %>

                            

                        </td>

                    </tr>

                </tbody></table>

            </td>

    </tr>

        

    

</tbody></table>

<% tnames = [] %>
<% tids = [] %>
<% unless @user.nil? %>
    <% tids=Channel.find(@user.ref).included_tags.split(",") %>
   
<% else %>
    <% tids =  "1,134,43,141,29,87,55,192,104".split(",") %>
<% end %>
<% tnames=Tag.find(tids).collect{|t| t.name} %>
<% names=occurrence.event.tags.collect{|t| t.name} %>
<% a= tnames&names %>

<table width="600" height="125" cellpadding="0" border="0" style="color:#595959;font-size:12px;text-align:left;border:0" cellspacing="0">

    <tbody >
        <tr style="font-size:0;">

            <td  style="background-color:#f2f2f2;border-top:1px solid #c0c0c0;border-left:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0;width: 198px;
    height: 125px;overflow-y: hidden;overflow-x: hidden;">

                <a href="http://www.halfpastnow.com/events/show/<%= occurrence.id %>?fullmode=true" target="_blank">
                    
                    <div style="width:198px; height:125px; border: solid thin gray;overflow:hidden;">
                        <img src="<%=occurrence.event.cover_image_url%>" alt="<%=occurrence.event.title%>" width="250px" height="125px"  >
                    </div>


                </a>

            </td>
            <td width="356" height="75" valign="top" style="background-color:#f2f2f2;padding:10px 10px 0px 10px;font-size:13px;line-height:16px; border-right:1px solid #c0c0c0;border-top:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0;"><%= truncate(strip_tags(occurrence.event.description), :length => 100) %>... <a style="color:#4f2740;text-decoration:none" href="http://www.halfpastnow.com/events/show/<%= occurrence.id %>?fullmode=true" target="_blank"><b>Read More»</b></a>
                
                <div >
                    <table>
                        <tbody>
                            <td width="500px">
                                <i>
                        
                                    <% a.each do |tag| %>
                                        
                                            <span style="font-size:16px;line-height:25px;color: #4f2740;"><%= tag %> </span>
                                        
                                        
                                    <% end %>
                                    
                                   
                                </i>
                            </td>
                            <td with="82px">
                                 <a href="http://www.halfpastnow.com/events/show/<%= occurrence.id %>?fullmode=true" target="_blank" style="border: 1px solid #9C8FAD;
                                                            font-size: 14px;
                                                            background-color: #a700a7;
                                                            color: white;
                                                            padding: 7px 0px 4px 0px;
                                                            margin-top: 9px;
                                                            text-decoration: none;
                                                            text-transform: none;
                                                            display: block;
                                                            text-align: center;
                                                            vertical-align: middle;
                                                            width: 82px;
                                                            font-style: italic;
                                                            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0,0,0,0.3)));
                                                            font-family: Lato,Tahoma,sans-serif;
                                                            border-bottom-left-radius: 2px;
                                                            border-bottom-right-radius: 2px;
                                                            border-top-left-radius: 2px;
                                                            border-top-right-radius: 2px;
                                                            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.4) inset;float:right;" >Visit Event</a>
                            </td>
                        </tbody>

                    </table>
                    
                   
                </div>
                <div>
                    <div style="font-size:14px"><i> Selected because... </i> </div>
                    
                </div>
                <div>
                    
                    <% a.each do |t|%>
                        <a href="http://www.halfpastnow.com/users/edit?email=y" target="_blank">
                            <% if t.to_s.eql? "Music"%>
                                <img style="float:left;margin-left:5px;" src="http://www.halfpastnow.com/assets/music_beamed_note.png" alt="Music" height="25" border="0" width="25">   
                            <% end %>
                            <% if t.to_s.eql? "Food/Drink Specials"%>
                                <img style="float:left;margin-left:5px;" src="http://www.halfpastnow.com/assets/cocktail.png" alt="Happy Hours" height="25" border="0" width="25">   
                            <% end %>
                            <% if t.to_s.eql? "Fitness"%>
                                <img style="float:left;margin-left:5px;" src="http://www.halfpastnow.com/assets/weights.png" alt="Fitness" height="25" border="0" width="25">   
                            <% end %>
                            <% if t.to_s.eql? "Tech"%>
                                <img style="float:left;margin-left:5px;" src="http://www.halfpastnow.com/assets/terminal2.png" alt="Tech" height="25" border="0" width="25">   
                            <% end %>
                            <% if t.to_s.eql? "Charity / Non-Profit"%>
                                <img style="float:left;margin-left:5px;" src="http://www.halfpastnow.com/assets/hand_handshake.png" alt="Non-Profit" height="25" border="0" width="25">   
                            <% end %>
                            <% if t.to_s.eql? "Art"%>
                                <img style="float:left;margin-left:5px;" src="http://www.halfpastnow.com/assets/palette.png" alt="Art" height="25" border="0" width="25">   
                            <% end %>
                             <% if t.to_s.eql? "Kid Friendly"%>
                                <img style="float:left;margin-left:5px;" src="http://www.halfpastnow.com/assets/teddy_bear.png" alt="Kid Friendly" height="25" border="0" width="25">   
                            <% end %>
                            <% if t.to_s.eql? "Romantic"%>
                                <img style="float:left;margin-left:5px;" src="http://www.halfpastnow.com/assets/heart.png" alt="Romantic" height="25" border="0" width="25">   
                            <% end %>
                            <% if t.to_s.eql? "LGBT"%>
                                <img style="float:left;margin-left:10px;" src="http://www.halfpastnow.com/assets/color.png" alt="LGBT" height="25" border="0" width="25">   
                            <% end %>
                        </a>
                    <% end %>
                    <% picklists = occurrence.event_bookmarks.collect { |b| b.bookmark_list if (b.bookmark_list && b.bookmark_list.featured) }.compact %>
                    <% if picklists.size > 0 %>
                    <% picklists.take(3).each_with_index do |pList,index| %>

                        <a href="http://www.halfpastnow.com/picks/find/<%= pList.id %>" target="_blank">
                            <img style="float:left;margin-left:5px;" src="<%=pList.picture_url(:mini)%>" height="25" border="0" width="25">
                        </a>

                    <% end %>
                    <em style="position: relative;top: -5px;margin-left: 5px;">on <%= picklists.size %> top picks <%= picklists.size == 1 ? "list" : "lists" %></em>
                    <% end %>
                    
                                
                </div>
             </td>
                
            
        </tr>
        <tr>

                <td colspan="2" height="5" style="font-size:1px">&nbsp;</td>

        </tr>
        

    </tbody>

</table>
    
    <div>
        
    </div>
    <br>
    <!-- <div style="font-size:14px;color:#8c8c8c">Reason you would like this event because your preference has <b><%= a.split(",").join(",")%></b></div> -->








    


<% end %>
<!-- end events generation -->
<br>

<table>    
        <tbody><tr><td style="padding: 5px 0 0 4px;
            font-size: 16px;
            color: #595959;
            font-weight: bold;">
                        Download our iOS app at     
            </td>
            <td>
            <a href="https://itunes.apple.com/us/app/halfpastnow/id589530107" target="_blank">
                <img src="http://www.halfpastnow.com/assets/apple_stoer.png" alt="Download our iOS app" width="80">
            </a>
                
        </td>
    </tr></tbody>
</table>


<!-- end bookmarked events -->


    
<!-- bookmarked Events -->
<% if @bookmarkedEvents.count > 0 %>

    <div style="margin:10px 0 10px 0;border:solid 0px #10add5;font-size:16px">

        <div style="padding:5px 0 0 4px;font-size:16px;color:#595959;font-weight:bold">

        

            Your Upcoming Bookmarked Events 

        

        </div>

        <table style="padding:10px 0 10px 0">

            <tbody><tr>

                <% @bookmarkedEvents.each do |occurrence| %>
                    <td style="vertical-align:top;width:157px;padding:0 12px 0 12px">

                        <div style="min-height:130px;padding:0;background-color:#f2f2f2">

                            

                            <a href="http://www.halfpastnow.com/events/show/<%=occurrence.id%>?fullmode=true" target="_blank">
                               <div style="width:170px; height:65px; border: solid thin gray;overflow:hidden;">
                                    <img src="<%=occurrence.event.cover_image_url%>" alt="<%=occurrence.event.title%>" width="250px" height="125px"  >
                                </div>  
                             </a>

                            <br>

                            <div style="padding:2px">

                                <a style="text-decoration:none" href="http://www.halfpastnow.com/events/show/<%=occurrence.id%>?fullmode=true" target="_blank">

                                    <div style="font-size:13px;color:#4f2740"><%= truncate(occurrence.event.title, :length => 47) %></div>

                                </a>

                                

                                    <div style="font-size:11px;color:#777777">at <%= occurrence.event.venue.name %></div>

                                

                            </div>

                        </div>

                    </td>
                <% end %>
                



            

                </tr>

        </tbody></table>

    </div>
<% end %>







    





    <hr style="color:#ccc;background-color:#ccc;margin:15px 0;min-height:1px;border:0">



    <div style="margin:10px 0 10px 0;border:solid 0px #10add5;font-size:16px">

        <div style="padding:5px 0 0 4px;font-size:16px;color:#595959;font-weight:bold">

        

            Visit our sponsored events

        

        </div>
        <!-- Our sponsor events -->
        <table style="padding:10px 0 10px 0">
            <% ids = [] %>
            <% ids << 155741 <<176905<< 177187 %>
            <% @occurrences= Occurrence.find(ids) %>
            <tbody><tr>

             <% @occurrences.each do |occurrence| %>
                <td style="vertical-align:top;width:157px;padding:0 12px 0 12px">

                    <div style="min-height:130px;padding:0;background-color:#f2f2f2">

                        <a href="http://www.halfpastnow.com/events/show/<%=occurrence.id%>?fullmode=true" target="_blank">

                           

                             
                               <div style="width:170px; max-height:65px; border: solid thin gray;overflow:hidden;">
                                    <img src="<%=occurrence.event.cover_image_url%>" >
                                </div>  
                            

                            

                        </a>

                        <br>

                        <div style="padding:2px">

                            <a style="text-decoration:none" href="http://www.halfpastnow.com/events/show/<%=occurrence.id%>?fullmode=true" target="_blank">

                                <div style="font-size:13px;color:#4f2740"><%= truncate(occurrence.event.title, :length => 47) %></div>
                               

                            </a>

                            

                                <div style="font-size:11px;color:#777777"><%= occurrence.event.venue.name %></div>

                            

                        </div>

                    </div>

                </td>

             <% end %>

             
                

            

            </tr>

        </tbody></table>

    </div>
    <table style="padding:10px 0 10px 0;margin-top:-20px;" valign="middle" align="center">
        <tbody><tr><td colspan="2" valign="middle" align="center">
            <div>
                <a href="https://twitter.com/halfpastnow" target="_blank">Follow on Twitter</a> | <a href="https://www.facebook.com/halfpastnow" target="_blank">Friend on Facebook
                </a>
            </div>
        </td></tr></tbody>
    </table>
        
    
    <table>    
        <td style="width:620px; max-height:90px; border: solid thin gray;overflow:hidden;">
            <a href="http://thelongcenter.org/" target="_blank">
                <img src="http://www.halfpastnow.com/assets/longCenter.png" alt="Visit the Long Center" height="90" border="0" width="620">
            </a>
                
        </td>
    </table>
    
    <table>    
        <td style="width:620px; max-height:90px; border: solid thin gray;overflow:hidden;">
            <a href="http://www.roguerunning.com/" target="_blank">
                <img src="http://www.halfpastnow.com/assets/rogue_running.jpg" alt="Visit Rogue Running" height="90" border="0" width="620">
            </a>
                
        </td>
    </table>



    <p style="font-size:11px;color:#777777">

        You're receiving this email because you are a member of <a style="color:#4f2740;text-decoration:none" href="http://wwww.halfpastnow.com" target="_blank">half past now.</a>Don't want to receive our half past now. Weekly <a style="color:#4f2740;text-decoration:none" href="http://www.halfpastnow.com/info/unsubscribe?email=<%=@email%>" target="_blank">Unsubscribe</a>.  half past now. is a Chimera Labs production. 

    </p>

    <div></div><img width="1" height="1" border="0">



                                    </td>

                                </tr>

                            </tbody></table>

                        </td>

                    </tr>

                </tbody></table>

            </td>

        </tr>

    </tbody></table>


<img alt="" width="1" height="1" border="0" style="min-height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important"><div class="yj6qo"></div><div class="adL">
</div></div>