<div marginwidth="0" marginheight="0" style="background-color:#cecfce"><div class="adM">

    </div><table width="100%" cellspacing="0" bgcolor="#CECFCE" style="background-color:#cecfce">

        <tbody><tr>

            <td valign="top" align="center">

                <table cellspacing="0" cellpadding="0" width="650" bgcolor="white" style="border:0px none #000000;margin-top:20px;margin-bottom:20px;background-color:#ffffff">

                    <tbody><tr>

                        <td>

                            <table width="650" cellpadding="0" cellspacing="0">

                                <tbody><tr>

                                    <td style="padding:10px 25px 10px 25px">

                                        <table>

                                            <tbody><tr>

                                                <td height="50">

                                                    <a href="http://halfpastnow.com" target="_blank"><img style="float:left" width="250" height="44" alt="Your couch will miss you" src="http://www.halfpastnow.com/assets/halfpastnow_final_300.png"></a>

                                                </td>
                                                <td height="50" width="125"></td>
                                                

                                            </tr>

                                        </tbody></table>

                                        <hr style="clear:both">

                                        



    

    <div style="text-align:left">

    

    
        
    



    </div>

    
<table>
    <tbody>
        <tr>
            <td>
    <div class="header-content"><webversion><a href="http://www.halfpastnow.com" style="text-decoration:none;color:#4f2740" target="_blank">half past now.</a></webversion><span class="hide">&nbsp;&nbsp;|&nbsp; <preferences lang="en"><a href="http://www.halfpastnow.com" style="text-decoration:none;color:#4f2740" target="_blank">Update preferences</a></preferences>&nbsp;&nbsp;|&nbsp; <unsubscribe><a href="mailto:?subject=Check out halfpastnow.&body=Signup for half past now. newsletter">Tell a friend</a></unsubscribe></span></div>
            </td>
            <td height="50" width="125"></td>
                                                <a href="http://halfpastnow.com" target="_blank" style="border: 1px solid #9C8FAD;
                                                        font-size: 14px;
                                                        font-weight: 900;
                                                        background-color: #a700a7;
                                                        color: white;
                                                        padding: 7px 0px 4px 0px;
                                                        margin-top: 0px;
                                                        text-decoration: none;
                                                        text-transform: none;
                                                        display: block;
                                                        text-align: center;
                                                        vertical-align: middle;
                                                        width: 180px;
                                                        font-style: italic;
                                                        text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
                                                        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0,0,0,0.3)));
                                                        font-family: Lato,Tahoma,sans-serif;
                                                        border-bottom-left-radius: 2px;
                                                        border-bottom-right-radius: 2px;
                                                        border-top-left-radius: 2px;
                                                        border-top-right-radius: 2px;
                                                        box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.4) inset;" >Update your preferences</a>
            </tr>
    </tbody>
</table>
<div style="font-size:16px;line-height:32px;">Hello <%=@user.firstname%>,</div>
<div style="font-size:16px;line-height:32px;">Here are our events for this week. Update your preferences to receive your customized email!!!</div>  
<!-- Start generating events -->
        
<% @ids.each do |id| %>
<% occurrence = Occurrence.find(id) %>
<table width="600" cellspacing="0" style="margin-top:15px">

    <tbody><tr>

        <td colspan="2" height="30">&nbsp;</td>

    </tr>

    

    

        <tr>

            <td width="450" valign="top" style="text-align:left">

                <div style="font-size:18px;color:#4f2740">



                    <a href="http://hpnstaging.herokuapp.com/search?event_id=158790" style="text-decoration:none;color:#4f2740" target="_blank">

                        

                            <%= truncate(occurrence.event.title, :length => 115) %>

                        

                    </a>

                </div>

                

                <div style="font-size:14px;color:#8c8c8c"><%= occurrence.event.venue.name %></div>

                

            </td>

            <td width="150" valign="top">

                <table>

                    <tbody><tr>

                        <td width="150" height="30" align="center" valign="center" style="border:1px solid #8c8c8c;text-transform:uppercase;text-align:center;color:#8c8c8c;font-size:15px;font-weight:normal">

                            

                                <%= occurrence.start.to_time.strftime("%A, %B %-d at %-l:%M%P") %>

                            

                        </td>

                    </tr>

                </tbody></table>

            </td>

        </tr>

        <tr>

            <td colspan="2" height="5" style="font-size:1px">&nbsp;</td>

        </tr>

    

</tbody></table>





<table width="600" height="125" cellpadding="0" border="0" style="color:#595959;font-size:12px;text-align:left;border:0" cellspacing="0">

    <tbody >
        <tr style="font-size:0;">

            <td  width="250" height="125" style="background-color:#f2f2f2;border-top:1px solid #c0c0c0;border-left:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0;">

                <a href="hpnstaging.herokuapp.com/?event_id=<%= occurrence.id %>" target="_blank"><img title="<%= occurrence.event.title %>" width="250" height="125" style="background-color:#f2f2f2;border-right:1px solid #c0c0c0;" src="<%= occurrence.event.cover_image_url %>">


                </a>

            </td>
            <td width="300" height="75" valign="top" style="background-color:#f2f2f2;padding:10px 10px 0px 10px;font-size:13px;line-height:16px; border-right:1px solid #c0c0c0;border-top:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0;"><%= truncate(strip_tags(occurrence.event.description), :length => 100) %>... <a style="color:#4f2740;text-decoration:none" href="http://hpnstaging.herokuapp.com/search?event_id=<%= occurrence.id %>" target="_blank"><b>Read More&nbsp;»</b></a>
                <div height="0" style="font-size:1px">&nbsp;</div>
                <div >
                    <i>
                        <% if occurrence.event.tags.count > 0 %>
                            <% occurrence.event.tags.each do |tag| %>
                                <% if tag.parent_tag_id.nil? %>
                                    <span style="font-size:16px;line-height:7px;color: #4f2740;"><%= tag.name %> </span>
                                <% end %>
                                
                            <% end %>
                        <% end %>
                       
                    </i>
                </div>
                <div height="0" style="font-size:0px">&nbsp;</div>
                <div>
                    <% if occurrence.event.price %>
                        <span style="font-size:16px;line-height:5px;color: #4f2740;"><%= occurrence.event.price ? ((occurrence.event.price != 0) ? number_to_currency(occurrence.event.price,:unit=>"$").to_s + " " : "FREE ") : "" %></span>
                    <% end %>
                    
                        
                </div>
             </td>
                
            
        </tr>
        <tr>

                <td colspan="2" height="5" style="font-size:1px">&nbsp;</td>

        </tr>
        

    </tbody>

</table>
    <% tids=Channel.find(@user.ref).included_tags.split(",") %>
    <% tnames=Tag.find(tids).collect{|t| t.name} %>
    <% names=occurrence.event.tags.collect{|t| t.name} %>
    <% a= tnames&names %>
    <div>
        <% a.each do |t|%>
       
            <% if t.to_s.eql? "Music"%>
                <img style="float:left;" src="http://www.randomdetox.com/wp-content/uploads/2011/09/live-music-vector_preview-50x50.jpg" alt="Music" height="25" border="0" width="25">   
            <% end %>
            <% if t.to_s.eql? "Food/Drink Specials"%>
                <img style="float:left;" src="http://www.goga-gastro.pl/media/products/a464b2529fcfcbb9c46f6fa954bed418/images/thumbnail/small_400104.jpg" alt="Happy Hours" height="25" border="0" width="25">   
            <% end %>
            <% if t.to_s.eql? "Fitness"%>
                <img style="float:left;" src="http://www.yoga-essex.co.uk/images/featured-icon-2.jpg" alt="Fitness" height="25" border="0" width="25">   
            <% end %>
            <% if t.to_s.eql? "Tech"%>
                <img style="float:left;" src="http://digitalethos.org/wp-content/uploads/2012/11/3rd-Generation-of-Websites-and-Inbound-Marketing-50x50.png" alt="Tech" height="25" border="0" width="25">   
            <% end %>
            <% if t.to_s.eql? "Charity / Non-Profit"%>
                <img style="float:left;" src="http://avatar.hq-picture.com/avatars/img36/peace_logo_avatar_picture_43463.gif" alt="Non-Profit" height="25" border="0" width="25">   
            <% end %>
            <% if t.to_s.eql? "Art"%>
                <img style="float:left;" src="http://engr.case.edu/merat_francis/eecs490f06/Images/Mona_Lisa.jpg" alt="Art" height="25" border="0" width="25">   
            <% end %>
             <% if t.to_s.eql? "Kid Friendly"%>
                <img style="float:left;" src="http://bloggeritis.com/wp-content/uploads/2012/02/Logo-Design-told-by-Kids-64x64.jpg" alt="Kid Friendly" height="25" border="0" width="25">   
            <% end %>
            <% if t.to_s.eql? "Romantic"%>
                <img style="float:left;" src="http://static.general-play.com/thumbs/ee3/31/gp74e6fh1f5i0.jpeg" alt="Romantic" height="25" border="0" width="25">   
            <% end %>
            <% if t.to_s.eql? "LGBT"%>
                <img style="float:left;" src="http://www.lifechurch.tv/assets/jobs/icon_heart-3c3a5c611f0dd5b19b782308f3c33dbc.png" alt="LGBT" height="25" border="0" width="25">   
            <% end %>

        <% end %>
    </div>
    <br>
    <!-- <div style="font-size:14px;color:#8c8c8c">Reason you would like this event because your preference has <b><%= a.split(",").join(",")%></b></div> -->








    


<% end %>
<!-- end events generation -->
<br>
<hr style="color:#ccc;background-color:#ccc;margin:15px 0;min-height:1px;border:0">

<!-- bookmarked Events -->
<% if @bookmarkedEvents.count > 0 %>

    <div style="margin:10px 0 10px 0;border:solid 0px #10add5;font-size:16px">

        <div style="padding:5px 0 0 4px;font-size:16px;color:#595959;font-weight:bold">

        

            Your Upcomming Bookmarked Events 

        

        </div>

        <table style="padding:10px 0 10px 0">

            <tbody><tr>

                <% @bookmarkedEvents.each do |occurrence| %>
                    <td style="vertical-align:top;width:157px;padding:0 12px 0 12px">

                        <div style="min-height:130px;padding:0;background-color:#f2f2f2">

                            <a href="http://hpnstaging.herokuapp.com/picks?event_id=<%=occurrence.id%>" target="_blank">
                                    <img title="<%= occurrence.event.title %>" width="170" height="65"  src="<%= occurrence.event.cover_image_url %>">
                             </a>

                            <br>

                            <div style="padding:2px">

                                <a style="text-decoration:none" href="http://hpnstaging.herokuapp.com/picks?event_id=<%=occurrence.id%>" target="_blank">

                                    <div style="font-size:13px;color:#4f2740"><%= truncate(occurrence.event.title, :length => 47) %></div>

                                </a>

                                

                                    <div style="font-size:11px;color:#777777">at <%= occurrence.event.venue.name %></div>

                                

                            </div>

                        </div>

                    </td>
                <% end %>
                



            

                </tr>

        </tbody></table>

    </div>
<% end %>
<!-- end bookmarked events -->


    <div style="margin:10px 0 10px 0;border:solid 0px #10add5;font-size:16px">

        <div style="padding:5px 0 0 4px;font-size:16px;color:#595959;font-weight:bold">

        

            upcoming Top Picks for this week

        

        </div>

        <table style="padding:10px 0 10px 0">

            <tbody><tr>

                <% @tpoccurrences.each do |occurrence|%>
                    <td style="vertical-align:top;width:157px;padding:0 12px 0 12px">

                    <div style="min-height:130px;padding:0;background-color:#f2f2f2">

                        <a href="http://hpnstaging.herokuapp.com/picks?event_id=<%=occurrence.id%>" target="_blank">

                            

                                <img title="" width="170" height="65" src="<%= occurrence.event.cover_image_url %>">

                            

                        </a>

                        <br>

                        <div style="padding:2px">

                            <a style="text-decoration:none" href="http://hpnstaging.herokuapp.com/picks?event_id=<%=occurrence.id%>" target="_blank">

                                <div style="font-size:13px;color:#4f2740"><%= occurrence.event.title %></div>

                            </a>

                            

                                <div style="font-size:11px;color:#777777">at <%= occurrence.event.venue.name %></div>

                            

                        </div>

                    </div>

                </td>

                <% end %>


            

            </tr>

        </tbody></table>

    </div>







    





    <hr style="color:#ccc;background-color:#ccc;margin:15px 0;min-height:1px;border:0">



    <div style="margin:10px 0 10px 0;border:solid 0px #10add5;font-size:16px">

        <div style="padding:5px 0 0 4px;font-size:16px;color:#595959;font-weight:bold">

        

            Visit our sponsored events

        

        </div>

        <table style="padding:10px 0 10px 0">

            <tbody><tr>

            

                <td style="vertical-align:top;width:157px;padding:0 12px 0 12px">

                    <div style="min-height:130px;padding:0;background-color:#f2f2f2">

                        <a href="http://hpnstaging.herokuapp.com/picks?event_id=160589" target="_blank">

                            

                                <img title="" width="170" height="65" src="http://hpn-pictures.s3.amazonaws.com/uploads/picture/image/8657/large_2102_47562344207_6358_n.jpg">

                            

                        </a>

                        <br>

                        <div style="padding:2px">

                            <a style="text-decoration:none" href="http://hpnstaging.herokuapp.com/picks?event_id=160589" target="_blank">

                                <div style="font-size:13px;color:#4f2740">Statesman Capitol 10,000</div>

                            </a>

                            

                                <div style="font-size:11px;color:#777777">by Austin American-Statesman</div>

                            

                        </div>

                    </div>

                </td>



            

                <td style="vertical-align:top;width:157px;padding:0 12px 0 12px">

                    <div style="min-height:130px;padding:0;background-color:#f2f2f2">

                        <a href="http://hpnstaging.herokuapp.com/picks/find/95?event_id=133000" target="_blank">

                            

                                <img title="" width="170" height="65" src="http://hpn-pictures.s3.amazonaws.com/uploads/picture/image/4122/large_event-5568.jpg">

                            

                        </a>

                        <br>

                        <div style="padding:2px">

                            <a style="text-decoration:none" href="http://hpnstaging.herokuapp.com/picks/find/95?event_id=133000" target="_blank">

                                <div style="font-size:13px;color:#4f2740">Texas Parkour Academy Youth Classes</div>

                            </a>

                            

                                <div style="font-size:11px;color:#777777">by Texas Parkour Academy</div>

                            

                        </div>

                    </div>

                </td>



            

                <td style="vertical-align:top;width:157px;padding:0 12px 0 12px">

                    <div style="min-height:130px;padding:0;background-color:#f2f2f2">

                        <a href="http://hpnstaging.herokuapp.com/search?event_id=32467" target="_blank">

                            

                                <img title="" width="170" height="65" src="http://hpn-pictures.s3.amazonaws.com/uploads/picture/image/667/large_spiderhouse4conradb.800w_600h.jpg">

                            

                        </a>

                        <br>

                        <div style="padding:2px">

                            <a style="text-decoration:none" href="http://hpnstaging.herokuapp.com/search?event_id=32467" target="_blank">

                                <div style="font-size:13px;color:#4f2740">Happy Hour: $1 off drinks</div>

                            </a>

                            

                                <div style="font-size:11px;color:#777777">by Spider House</div>

                            

                        </div>

                    </div>

                </td>



            

            </tr>

        </tbody></table>

    </div>

    <table>    
        <td style="">
            <a href="https://itunes.apple.com/us/app/halfpastnow/id589530107" target="_blank">
                <img src="http://www.tecgossip.com/wp-content/uploads/2013/02/App-store-Download-Icon.jpg" alt="Download our iOS app"  width="80">
            </a>
                
        </td>
    </table>
    
    <table>    
        <td style="">
            <a href="http://www.yahoo.com" target="_blank">
                <img src="http://images.highspeedbackbone.net/email/wem3531/TD_TaxHQ_bnr_620x90.jpg" alt="We're Your TAX Headquarters" height="90" border="0" width="620">
            </a>
                
        </td>
    </table>



    <p style="font-size:11px;color:#777777">

        You're receiving this email because you are a member of <a style="color:#4f2740;text-decoration:none" href="http://e.sosh.com/wf/click?upn=FoLMDfTJVg-2FzTfHOeCtj1kSwIOzRIwhYrX6tdJysRl7DKY6ZNCJeipFezFqtU9DD4Hc51weZN776MOeYT9kle54utbl9mPaDb-2Fe-2BlokvklEcYH6DS0bxnXPQV4nM7PViU9MTcv3w8kBISevbaJEzFwuQd9JagkVhcjmoXQ7LLM-2BTSPb0EnT5VlsqbzP11BoyE-2BFv0Ro3Ych6GkaqzeU3cw-3D-3D_Yuzv0-2BcgxNCIOe-2BW56v-2FvQ7o5Z5w2mCDEgOJ17nj8T08y2jLehQavm7oJ9VYlHezpUYXDDWl6ZsEqJQLe36jry-2BIletnHKdjXVyxqWX6e-2FBpT7JHrDLU3ZGaf4mpfRaK9lv5Sm1em9MvsGD5RvpOdzN7MSZ4NdZj9oyb8Cp8vWqonbpFUyU97lCTsNqZBEwa" target="_blank">half past now.</a>Don't want to receive The half past now. Weekly <a style="color:#4f2740;text-decoration:none" href="http://e.sosh.com/wf/click?upn=FoLMDfTJVg-2FzTfHOeCtj1kSwIOzRIwhYrX6tdJysRl7DKY6ZNCJeipFezFqtU9DD4Hc51weZN776MOeYT9kle54utbl9mPaDb-2Fe-2BlokvklEcYH6DS0bxnXPQV4nM7PViU9MTcv3w8kBISevbaJEzFwuQd9JagkVhcjmoXQ7LLM9-2BUrQb4Xl3SG6dHjfKxtjKc8T42U1HBciAHsZl5sEOCi-2FUnkERN2bOU0zUe4ldlZs53gfY4JowuiU79uiH-2FtSNYaPoeLZOYJmqhfsk83vIlQ-3D-3D_Yuzv0-2BcgxNCIOe-2BW56v-2FvQ7o5Z5w2mCDEgOJ17nj8T08y2jLehQavm7oJ9VYlHezA-2FGWLJGtEHGXhIz-2BRKbmDr298qIwZ2n-2Bs05hLeLJpePmK50PBpLSux8R4sH-2BeJkB-2Bbcz9n83wzdIHhafr8NYqma4WYzifLYjypgF640b7e7EjmMiQwI0JvyXSzmlRemW" target="_blank">Unsubscribe</a>.  half past now. is a Chimera Labs production, and we love to receive <a style="color:#4f2740;text-decoration:none" href="http://e.sosh.com/wf/click?upn=FoLMDfTJVg-2FzTfHOeCtj1kSwIOzRIwhYrX6tdJysRl7DKY6ZNCJeipFezFqtU9DD4Hc51weZN776MOeYT9kle54utbl9mPaDb-2Fe-2BlokvklEcYH6DS0bxnXPQV4nM7PViU9MTcv3w8kBISevbaJEzFwuQd9JagkVhcjmoXQ7LLM-2BPhA70taUlRvYCWxO549LwQ1Tqt-2F7U0v-2FMTPtI4tMSFGCMYDRPgWQIYNf5L7rJTc4-3D_Yuzv0-2BcgxNCIOe-2BW56v-2FvQ7o5Z5w2mCDEgOJ17nj8T08y2jLehQavm7oJ9VYlHez9PTG3U4ZKmjg9Ivt-2FgyLNnmlkDv2ee6rJqhy5QTJeibyozJ76YsrVCzfZm9m4Jo6fIOixZ8t3AR5wEAEpVScLrxDtmtAP5WGfPhK8JV-2BnbCPfVgxVDFJpUn1d20jFjz-2F" target="_blank">your feedback</a>. <a style="color:#4f2740;text-decoration:none" href="http://e.sosh.com/wf/click?upn=41cn7YAvYngXdjbdoSsfB9G8VOL9DtWjYAomJeWaZ-2F8-3D_Yuzv0-2BcgxNCIOe-2BW56v-2FvQ7o5Z5w2mCDEgOJ17nj8T08y2jLehQavm7oJ9VYlHezX4zALkhOklx3U-2FuZfdPbiW37kuXupsFLX6CU0e5Ze4YLczEBDXvAduSrn-2BlnJDbnnUHk1wrwT5aUh9dl55Hg5k6JuX3EMkGuXUGkVWiNr9WLzBBYjhDJip8cX9YnIES6" target="_blank">Follow us on Twitter</a> for updates.

    </p>

    <div></div><img width="1" height="1" border="0">



                                    </td>

                                </tr>

                            </tbody></table>

                        </td>

                    </tr>

                </tbody></table>

            </td>

        </tr>

    </tbody></table>


<img alt="" width="1" height="1" border="0" style="min-height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important"><div class="yj6qo"></div><div class="adL">
</div></div>