
<div class="row">
<!-- Big things: column left -->
<div class="large-6 columns leftCol ptm stretch">

  <% @default_venues.each do |venue| %>
    <div class="big-event-container clearfix">
      <div class="event-image">
        <img src="<%= venue.pictures.first ? venue.pictures.first.image_url(:large) : "/assets/placeholder.png" %>" />
      </div>
      <div class="text antialiased">
        <a class="event-title" href="unofficialacl/show_venue/<%= venue.id %>"><%= truncate(venue.name, :length => 42) %></a>
        <p class="event-tags">
          <% puts venue.id %>
          <% if venue.id == 39473 %>
            An Austin staple, Stubb's has never failed to attract some of the hottest artists and most delicious BBQ to Austinites since day 1.
          <% elsif venue.id == 39334 %>
            Austin's home of the blues since 1875, Antone's has hosted some of the music industry's greatest artists and continues to serve as a vital component to the Live Music Capital of the World.
          <% elsif venue.id == 39349 %>
            A premiere music venue in Austin, Emo's remains true to it's roots by staying a lil rough around the edges. May the rock and roll that shakes Emo's walls live forever.
          <% elsif venue.id == 47138 %>
            This state of the art venue is as iconic as the statue of Willie Nelson that resides outside the front doors. There is no bad seat in this auditorium built to boast the best acoustics in Austin.
          <% elsif venue.id == 39329 %>
            Nestled deep in the heart of downtown Austin, the size of this music venue may surprise you. Hosting some of the biggest shows, Austin Music Hall never disappoints.
          <% end %>
        </p>
      </div>
    </div>
  <% end %>

</div>

<!-- Small things: column right -->
<div class="large-6 columns rightCol ptm stretch">
<ul class="small-block-grid-2">
  <% @default_occurrences.each_with_index do |occurrence| %>
  <li class="mix freedrink">
    <div class="small-event-container">
      <div class="event-image">
        <!--<img src="<%#= occurrence.event.pictures.first ? occurrence.event.pictures.first.image_url(:large) : "/assets/placeholder.png" %>" />-->
        <% if occurrence.event.pictures.first %>
            <img src="<%= occurrence.event.pictures.first.image_url(:cover) %>" />
        <% elsif occurrence.event.acts.length != 0 && occurrence.event.acts.first.pictures.first %>
            <img src="<%= occurrence.event.acts.first.pictures.first.image_url(:cover) %>" />
        <% else %>
            <img src="<%= occurrence.event.venue.pictures.first ? occurrence.event.venue.pictures.first.image_url(:cover) : "/assets/placeholder.png" %>" />
        <% end %>
      </div>
      <div class="text antialiased">
        <a class="event-title" href="unofficialacl/show_event?event_id=<%= occurrence.id %>"><%= truncate(occurrence.event.title, :length => 42) %></a>
        <p class="event-tags event-date">
          <%= occurrence.start.to_time.strftime("%A, %b %e, %l:%M %p") %>
        </p>
        <p class="event-tags">
          <% if occurrence.event.tags.count > 0 %>
              <% names = occurrence.event.tags.collect {|tag| tag.name} %>
              <% exclude_tag_names = ["Festival","Music", "SXSW Artist"] %>
              <% names = names - exclude_tag_names %>
              <span><%= names[0..2].join(', ') %></span>
          <% end %>
        </p>
      </div>
    </div>
    <div style="display:none;">
      <div class="latitude"><%= occurrence.event.venue.latitude %></div>
      <div class="longitude"><%= occurrence.event.venue.longitude %></div>
    </div>
  </li>
  <% end %>
</ul>

</div>
</div>
