
<!-- tab offical ACL -->


  <% @occurrences.each_with_index do |occurrence, count| %>
      <% count = 0 if count == 18 %>

      <!-- Big things: column left -->
       <% if (0..4).include?(count) %>

          <% if count == 0 %>
            <div class="row"><!--Row tag for first 19 elements -->
              <div class="large-6 columns left ptm stretch"><!--(0..4) events left -->
          <% end %>
             <div class="big-event-container clearfix">
               <div class="event-image">
                 <!--<img src="<%#= occurrence.event.cover_image_url ? occurrence.event.cover_image_url : "/assets/placeholder.png" %>" />-->
                 <img src="<%= occurrence.event.pictures.first ? occurrence.event.pictures.first.image_url(:large) : "/assets/placeholder.png" %>" />
               </div>
               <div class="text antialiased">
                 <a class="event-title" href="unofficialacl/show_event?event_id=<%= occurrence.id %>"><%= truncate(occurrence.event.title, :length => 18) %></a>
                 <p class="event-tags">
                   <% if occurrence.event.tags.count > 0 %>
                     <% occurrence.event.tags.each_with_index  do |tag, index| %>
                       <span><%= tag.name %></span>
                       <% if index == 1 %><% break %><% else %>,<% end %>
                     <% end %>
                   <% end %>
                 </p>
               </div>
             </div>
          <% if count == 4 %>
            </div> <!--End of (0..4) events left -->
          <% end %>

        <!-- Small things: column right -->
       <% elsif (5..18).include?(count) %>

          <% if count == 5 %>
            <div class="large-6 columns rightCol ptm stretch">   <!--(5..18) events right -->
              <ul class="small-block-grid-2">
          <% end %>
             <li class="mix freedrink">
                 <div class="small-event-container">
                   <div class="event-image">
                     <img src="<%= occurrence.event.pictures.first ? occurrence.event.pictures.first.image_url(:large) : "/assets/placeholder.png" %>" />
                   </div>
                   <div class="text antialiased">
                     <a class="event-title" href="unofficialacl/show_event?event_id=<%= occurrence.id %>"><%= truncate(occurrence.event.title, :length => 18) %></a>
                     <p class="event-tags">
                       <% if occurrence.event.tags.count > 0 %>
                         <% occurrence.event.tags.each_with_index  do |tag, index| %>
                           <span><%= tag.name %></span>
                           <% if index == 1 %><% break %><% else %>,<% end %>
                         <% end %>
                       <% end %>
                     </p>
                   </div>
                 </div>
             </li>
          <% if count == 18 %>
               </ul>
             </div>  <!--End of (5..18) events right -->
            </div> <!--End of Row tag for 19 elements -->
              <!--scrolling code
               <div class="by-center">Scroll Down to See More!
               <div id="triangle-down"></div>
             </div>
             -->
          <% end %>

       <% end %> <!--End if condition 0..19 -->
  <% end %> <!--End of main occurrences loop -->



<!--Scroll top btn -->
<a href="#" class="scrollup pull-right">Scroll</a>
