<%# params[:included_tags] = params[:included_tags].present? ? params[:included_tags] : '25'   %>
<% params[:and_tags] = params[:and_tags].present? ? params[:and_tags] : '25'   %>

    <div class="wrapper row header">
      <div class="large-8 columns">
        <ul id="tab-anchors" class="header-navigation">
          <li id="tab-anchor-3" class = <%= (params[:and_tags].include? '25') ? "current" : "" %>>
            <a href="http://www.unofficialacl.com">Unofficial ACL</a>
          </li>          
          <li id="tab-anchor-2" class = <%= (params[:and_tags].include? '247') ? "current" : "" %>>
            <%= link_to "Official Late Night Shows", search_unofficialacl_index_path(and_tags: 247), method: :post %>
          </li>
          <li  id="tab-anchor-1" class = <%= (params[:and_tags].include? '230') ? "current" : "" %>>
            <%= link_to "Official ACL", search_unofficialacl_index_path(and_tags: 230), method: :post %>
          </li>
          <li id="tab-anchor-4" class = <%= (params[:and_tags].include? '15') ? "current" : "" %>>
            <a href="http://unofficialacl.wordpress.com">Local Recommendations</a>
          </li>
        </ul>
      </div>

      <div class="large-4 columns">
        <div class="small-navbar-note">Show me events with:</div>
        <div id="small-navbar">
          <ul>
            <li><%= link_to "Free drinks", search_unofficialacl_index_path(and_tags: 256), method: :post, class: (params[:and_tags].include? '256') ? "active" : "" %></li>
            <li><%= link_to "party", search_unofficialacl_index_path(and_tags: 253), method: :post, class: (params[:and_tags].include? '253') ? "active" : "" %></li>
            <li><%= link_to "no cover", search_unofficialacl_index_path(and_tags: 254), method: :post, class: (params[:and_tags].include? '254') ? "active" : "" %></li>
            <li><%= link_to "RSVP", search_unofficialacl_index_path(and_tags: 255), method: :post, class: (params[:and_tags].include? '255') ? "active" : "" %></li>
          </ul>
        </div>
      </div>
    </div>
