

<% params[:type] = params[:type].present? ? params[:type] : 'event'   %>
<% content_for :meta do %>

  <% if params[:type] == 'event' %>
     <meta property="og:type"                 content="unofficialacl:event"/> 
     <meta property="og:url"                  content="http://www.unofficial.com/unofficialacl/event/show/<%= params[:id] %>"/>
     <meta property="og:site_name"            content="unofficialacl"/>
     <meta property="og:image"                content="<%=@event.cover_image_url%>"/>
     <meta property="og:title"                content="<%=@event.title%> on unofficialacl.com">
     <meta property="og:description"          content="<%=strip_tags(@event.description)%>"/> 
  <% elsif params[:type] == 'venue' %>
     <meta property="og:type"                 content="unofficial:venue"/> 
     <meta property="og:url"                  content="http://www.unofficialacl.com/unofficialacl/show_venue/<%= @venue.id%>"/>
     <meta property="og:site_name"            content="unofficialacl"/>
     <meta property="og:image"                content="<%=@venue.pictures.first ? @venue.pictures.first.image_url(:large) : ""%>"/>
     <meta property="og:title"                content="<%=@venue.name%> on unofficialacl.com">
     <meta property="og:description"          content="<%=strip_tags(@venue.description)%>"/> 
  <% else %>
     <meta property="og:type"                 content="unofficial:artist"/> 
     <meta property="og:url"                  content="http://www.unofficialacl.com/unofficialacl/show_artist/<%= @acts.first.id%>"/>
     <meta property="og:site_name"            content="unofficialacl"/>
     <meta property="og:image"                content="<%=@acts.first.pictures.first ? @acts.first.pictures.first.image_url(:large) : ""%>"/>
     <meta property="og:title"                content="<%=@acts.first.name%> on unofficialacl.com">
     <meta property="og:description"          content="<%=strip_tags(@acts.first.description)%>"/> 
  <% end %>
<% end %>
<%= form_tag "/unofficialacl/search"  do %>
    <div id="sticker">
      <div class="pink-banner">
        <div class="wrapper row">
          <div class="large-9 columns">
            <a class="callout" tabindex="1" href="http://www.halfpastnow.com">
              <img src="/assets/acl/layout/hpn-marker.png">
              <p>Sponsored: See all of Austin's <span class="rotate">Live Music, Happy Hour, Outdoor, Fitness, Business, Tech, Arts, Exhibition</span> events at halfpastnow.com!</p>
            </a>

            <div class="comments">
              <div class="ear left"></div>
              <i class="icon-chevron-right"></i> Go On!
            </div>
          </div>
          <div class="large-3 columns ptx">
            <div class="text-rounded dark">
              <%= text_field_tag :search,"", placeholder: "Search", "tabindex" => "2" %>
              <%= submit_tag "",class: "search-button", "tabindex" => "6" %>
            </div>
          </div>
        </div>
      </div>

    </div>
<% end %>


<div class="wrapper row header">
  <div class="small-12 columns">
    <nav>
      <a id="menu-icon"><i class="icon-reorder"></i></a>
      <ul id="tab-anchors" class="header-navigation">
        <% unless @event.nil? %>
        <li id="tab-anchor-1" class="<%= (params[:type].include? 'event') ? "current" : "" %>">
          <!--<a href="javascript:ShowTab(1);">Event overview</a>-->
          <%= link_to "Event overview", unofficialacl_detail_path(type: "event",id: params[:id]) %>
        </li>
        <% end %>
        <% unless @venue.nil? %>
        <li id="tab-anchor-2" class="<%= (params[:type].include? 'venue') ? "current" : "" %>">
          <!--<a href="javascript:ShowTab(2);">Venue details</a>-->
          <%= link_to "Venue details", unofficialacl_detail_path(type: "venue",id: params[:id]) %>
        </li>
        <% end %>
        <% unless @acts.empty? %>
        <li id="tab-anchor-3" class="<%= (params[:type].include? 'artist') ? "current" : "" %>">
          <!--<a href="javascript:ShowTab(3);">Artist details</a>-->
          <%= link_to "Artist details", unofficialacl_detail_path(type: "artist",id: params[:id]) %>
        </li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>


<% unless @event.nil? %>
<!-- tab event overview -->
<div class="content tab" id="tab-1" style="display: <%= (params[:type].include? 'event') ? "block" : "none" %>;">
  <div class="row">
    <!-- Big things: column left -->
    <div class="large-6 columns stretch">

      <div class="row main-picture">
          <!--<img src="<%#= @event.pictures.first ? @event.pictures.first.image_url(:full) : "/assets/placeholder.png" %>" />-->
          <% if @event.price && @event.price != 0 %>
              <div class="sticker pack detail-badge"><div class="sticker-discount"><%= @event.price != 0 ? "$" + number_with_precision(@event.price, :precision => 0) : "" %></div><div class="sticker-label"></div></div>
          <% end %>
        <div class="event-picture">
          <% if @event.pictures.first %>
              <img src="<%= @event.pictures.first.image_url(:large)  %>" alt="Event picture" />
          <% elsif @event.acts.length != 0 && @event.acts.first.pictures.first %>
              <img src="<%= @event.acts.first.pictures.first.image_url(:large) %>" alt="occurrence pic"/>
          <% else %>
              <img src="<%= @event.venue.pictures.first ? @event.venue.pictures.first.image_url(:large) : "/assets/placeholder.png" %>" alt="venue pic" />
          <% end %>
        </div>
      </div>

      <div class="details-social">
        <div class="fb-like" data-href="http://www.unofficialacl.com/unofficial/details?id=<%=@event.id%>" data-width="100" data-colorscheme="dark" data-layout="button_count" data-show-faces="true" data-send="false"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.unofficialacl.com/unofficial/details?id=<%=@event.id%>" data-text="<%= truncate(@event.title, length: 58) %> #ACL" data-via="halfpastnow" data-count="none" style="width:65px">Tweet</a>
        <div id="g-plus-footer" class="g-plus" data-action="share" data-annotation="none"></div>
        <a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ></a>
      </div>

      <% unless @event.acts.length == 0 %>
      <div class="row">
        <div class="small-9 small-offset-3 columns">
          <h1 class="featuring-title">Featuring:</h1>
        </div>
      </div>


      <ul class="features">
        <% @event.acts.each do |act| %>
        <li class="row">
          <div class="small-3 columns">
            <img src="<%= act.pictures.first ? act.pictures.first.image_url(:thumb) : "" %>" />
          </div>
          <div class="small-9 columns">
            <h2 class="pbm"><a href="/unofficialacl/show_artist/<%= act.id %>"><%= act.name %></a></h2>
            <% unless act.description.to_s.empty? %><p>  <%= strip_tags(act.description) %> </p> <% end %>
          </div>
        </li>
        <% end %>
      </ul>
      <% end %>
      <% if false %>
      <div class="row ptl">
        <div class="large-6 columns">
          <div class="user-slug">
            <img src="images/avatars/iurevych.jpg" class="slug-avatar" alt="Sergii Iurevych">
            <ul class="last-col">
              <li class="slug-name">Sergii Iurevych</li>
              <li class="slug-status online">Online</li>
            </ul>
          </div>
        </div>
        <div class="large-6 columns">
          <div class="user-slug">
            <img src="images/avatars/kudinov.jpg" class="slug-avatar" alt="Vladimir Kudinov">
            <ul class="last-col">
              <li class="slug-name">Vladimir Kudinov</li>
              <li class="slug-status away">Away</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row ptl pbl">
        <div class="large-6 large-offset-6 columns">
          <div class="starbar clearfix">
            <div class="star full focus"></div>
            <div class="star full focus"></div>
            <div class="star full focus"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="starbar-rating">
               ? Rating: 175
            </div>
          </div>
        </div>
      </div>
      <% end %>

    </div>

    <!-- Small things: column right -->
    <div class="large-6 columns rightCol stretch">
      <div class="mll mrl clearfix">
        <h1 class="title"><%= @event.title %></h1>
        <ul class="details">
          <li><%= @event.venue.name %></li>
          <li><%= @occurrence.start.to_time.strftime("%A, %b %e, %I:%M%p") %></li>
        </ul>
      </div>
      <div class="mll mrl mbl">
        <% unless @event.description.to_s.empty? %>
        <p class="text">
          <%= strip_tags(@event.description) %>
        </p>
        <% end %>
      </div>
      <div class="text-center">
        <% if !@event.ticket_url.blank? %>
        <a href="<%= @event.ticket_url %>" class="button-huge positive">
          RESERVE NOW
          <span class="button-description">I Won't Miss It!</span>
        </a>
        <% end %>
      </div>
    </div>

  </div>
</div>
<% end %>

<% unless @venue.nil? %>
<!-- the next tab venue details  -->
<div class="content tab" id="tab-2" style="display: <%= (params[:type].include? 'venue') ? "block" : "none" %>;">
  <div class="row">
    <!-- Big things: column left -->
    <div class="large-6 columns stretch">

      <div class="row main-picture">
        <div class="event-picture">
          <img src="<%= @venue.pictures.first ? @venue.pictures.first.image_url(:large) : "/assets/placeholder.png" %>" />
          <% if false %><div class="sticker percent popular-badge"><span class="sticker-label popular">popularity</span>?80</div> <% end %>
        </div>
      </div>

      <div class="row ptl">
        <div class="small-8 small-offset-4 columns">
          <% unless @venue.description.to_s.empty? %>
          <p> <%= strip_tags(@venue.description) %> </p>
          <% end %>
        </div>
      </div>

      <% if false %>
      <div class="row ptl">
        <div class="small-8 small-offset-4 columns">
          <div class="user-slug">
            <img src="images/avatars/iurevych.jpg" class="slug-avatar" alt="Sergii Iurevych">
            <ul class="last-col">
              <li class="slug-name">Sergii Iurevych</li>
              <li class="slug-status online">Online</li>
            </ul>
          </div>
        </div>
        <div class="ptl small-8 small-offset-4 columns">
          <div class="user-slug">
            <img src="images/avatars/kudinov.jpg" class="slug-avatar" alt="Vladimir Kudinov">
            <ul class="last-col">
              <li class="slug-name">Vladimir Kudinov</li>
              <li class="slug-status away">Away</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row ptl pbl">
        <div class="small-8 small-offset-4 columns">
          <div class="starbar clearfix">
            <div class="star full focus"></div>
            <div class="star full focus"></div>
            <div class="star full focus"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="starbar-rating">
              ?Rating: 175
            </div>
          </div>
        </div>
      </div>
      <% end %>

    </div>

    <!-- Small things: column right -->
    <div class="large-6 columns rightCol stretch">
      <div class="mll mrl clearfix">
        <h1 class="title"><%= @event.venue.name %></h1>
        <ul class="details">
          <li><i class="icon-map-marker pull-left icon-large mbl"></i> <%= @event.venue.address %><br><%= @event.venue.city + ", " + @event.venue.state + " " + @event.venue.zip.to_s %></li>
          <li><% unless @venue.phonenumber.nil? or @venue.phonenumber.empty? %><a href="tel:1-800-555-555"><i class="icon-mobile-phone icon-large"></i> <%= @venue.phonenumber %></a><% end %></li>
        </ul>
        <div class="row">
          <div class="small-12 columns">
            <h1 class="featuring-title upcoming">Upcoming events:</h1>
          </div>
        </div>

        <ul class="features upcoming">
          <% @recurrences.each do |rec| %>
              <li class="row">
                <div class="small-3 columns">
                  <!--<img src="<%#= rec.event.pictures.first ? rec.event.pictures.first.image_url(:thumb) : "/assets/placeholder.png" %>" />-->
                  <% if rec.event.pictures.first %>
                      <img src="<%= rec.event.pictures.first.image_url(:thumb)  %>" alt="Event picture" />
                  <% elsif rec.event.acts.length != 0 && rec.event.acts.first.pictures.first %>
                      <img src="<%= rec.event.acts.first.pictures.first.image_url(:thumb) %>" alt="Artist pic"/>
                  <% elsif rec.event.venue.pictures.first %>
                      <img src="<%= rec.event.venue.pictures.first.image_url(:thumb) %>" alt="venue pic" />
                  <% else %>
                      <img src="<%= rec.event.cover_image_url ? rec.event.cover_image_url : "/assets/placeholder.png" %>" alt="cover pic" />
                  <% end %>
                </div>
                <div class="small-9 columns">
                  <a href="/unofficialacl/event/show/<%= rec.occurrences.first.id %>"><h2 class="pbm"><%= rec.event.title %></h2></a>
                  <% unless rec.event.description.to_s.empty? %>
                      <p> <%= strip_tags(rec.event.description) %> </p>
                  <% end %>
                </div>
              </li>
          <% end %>
          <% @occurrences.each do |occ| %>
              <li class="row">
                <div class="small-3 columns">
                  <!--<img src="<%#= occ.event.pictures.first ? occ.event.pictures.first.image_url(:thumb) : "/assets/placeholder.png" %>" />-->
                  <% if occ.event.pictures.first %>
                      <img src="<%= occ.event.pictures.first.image_url(:thumb)  %>" alt="Event picture" />
                  <% elsif occ.event.acts.length != 0 && occ.event.acts.first.pictures.first %>
                      <img src="<%= occ.event.acts.first.pictures.first.image_url(:thumb) %>" alt="Artist pic"/>
                  <% elsif occ.event.venue.pictures.first %>
                      <img src="<%= occ.event.venue.pictures.first.image_url(:thumb) %>" alt="venue pic" />
                  <% else %>
                      <img src="<%= occ.event.cover_image_url ? occ.event.cover_image_url : "/assets/placeholder.png" %>" alt="cover pic" />
                  <% end %>
                </div>
                <div class="small-9 columns">
                  <a href="/unofficialacl/event/show/<%= occ.id %>"><h2 class="pbm"><%= occ.event.title %></h2></a>
                  <% unless occ.event.description.to_s.empty? %>
                      <p> <%= strip_tags(occ.event.description) %> </p>
                  <% end %>
                </div>
              </li>
          <% end %>
        </ul>
      </div>

    </div>

  </div>
</div>
<% end %>

<% unless @event.acts.length == 0 %>
<!-- the last tab artist details -->
<div class="content tab" id="tab-3" style="display: <%= (params[:type].include? 'artist') ? "block" : "none" %>;">
  <div class="row">
    <!-- Big things: column left -->
    <div class="large-6 columns stretch">

      <% @event.acts.each_with_index do |act,index| %>
          <% unless (act.fb_picture.blank? && act.pictures.nil?) %>
      <div class="row main-picture">
        <div class="event-picture">
          <img src="<%= act.pictures.first ? act.pictures.first.image_url(:full) : "" %>" />
          <!--<div class="sticker percent popular-badge"><span class="sticker-label popular">popularity</span>80</div>-->
        </div>
      </div>
          <% end %>

        <% unless act.description.to_s.empty? %>
        <div class="row ptl">
        <div class="small-8 small-offset-4 columns">
          <p class="text"> <%= strip_tags(act.description) %></p>
        </div>

        </div>
        <% end %>

          <% unless act.embeds.length == 0 %>
          <% act.embeds.select { |e| e.primary }.each do |embed| %>
      <div class="row ptl">
        <div class="small-8 small-offset-4 columns">
          <%= raw(embed.source) %>
          <!--<iframe width="300" height="225" src="http://www.youtube.com/embed/0mtw2bNdCIk?rel=0" frameborder="0" allowfullscreen></iframe>-->
        </div>
      </div>
          <% end %>
          <% end %>
          <% break %>
      <% end %>

    </div>

    <!-- Small things: column right -->
    <div class="large-6 columns rightCol stretch">
      <% @event.acts.each_with_index do |act,index| %>
      <div class="mll mrl clearfix">
        <h1 class="title"><%= act.name %></h1>
        <!--<ul class="details">
          <li><a href="#"><i class="icon-link pull-left icon-large"></i>hipsterband.com</a></li>
          <li>
            <a href="#"><i class="icon-facebook-sign icon-large"></i></a> <a href="#"><i class="icon-twitter-sign icon-large"></i></a> <a href="#"><i class="icon-youtube-sign icon-large"></i></a>
          </li>
        </ul>-->
        <div class="row">
          <div class="small-12 columns">
            <h1 class="featuring-title upcoming">Upcoming events:</h1>
          </div>
        </div>

        <ul class="features upcoming">
          <% @a_recurrences.each do |rec| %>
              <li class="row">
                <div class="small-3 columns">
                  <!--<img src="<%#= rec.event.pictures.first ? rec.event.pictures.first.image_url(:thumb) : "/assets/placeholder.png" %>" />-->
                  <% if rec.event.pictures.first %>
                      <img src="<%= rec.event.pictures.first.image_url(:thumb)  %>" alt="Event picture" />
                  <% elsif rec.event.acts.length != 0 && rec.event.acts.first.pictures.first %>
                      <img src="<%= rec.event.acts.first.pictures.first.image_url(:thumb) %>" alt="occurrence pic"/>
                  <% elsif rec.event.venue.pictures.first %>
                      <img src="<%= rec.event.venue.pictures.first.image_url(:thumb) %>" alt="venue pic" />
                  <% else %>
                      <img src="<%= rec.event.cover_image_url ? rec.event.cover_image_url : "/assets/placeholder.png" %>" alt="cover pic" />
                  <% end %>
                </div>
                <div class="small-9 columns">
                  <a href="/unofficialacl/event/show/<%= rec.occurrences.first.id %>"><h2 class="pbm"><%= rec.event.title %></h2></a>
                  <% unless rec.event.description.to_s.empty? %>
                      <p> <%= strip_tags(rec.event.description) %> </p>
                  <% end %>
                </div>
              </li>
          <% end %>
          <% @a_occurrences.each do |occ| %>
              <li class="row">
                <div class="small-3 columns">
                  <!--<img src="<%#= occ.event.pictures.first ? occ.event.pictures.first.image_url(:thumb) : "/assets/placeholder.png" %>" />-->
                  <% if occ.event.pictures.first %>
                      <img src="<%= occ.event.pictures.first.image_url(:thumb)  %>" alt="Event picture" />
                  <% elsif occ.event.acts.length != 0 && occ.event.acts.first.pictures.first %>
                      <img src="<%= occ.event.acts.first.pictures.first.image_url(:thumb) %>" alt="Artist pic"/>
                  <% elsif occ.event.venue.pictures.first %>
                      <img src="<%= occ.event.venue.pictures.first.image_url(:thumb) %>" alt="venue pic" />
                  <% else %>
                      <img src="<%= occ.event.cover_image_url ? occ.event.cover_image_url : "/assets/placeholder.png" %>" alt="cover pic" />
                  <% end %>
                </div>
                <div class="small-9 columns">
                  <a href="/unofficialacl/event/show/<%= occ.id %>"><h2 class="pbm"><%= occ.event.title %></h2></a>
                  <% unless occ.event.description.to_s.empty? %>
                      <p> <%= strip_tags(occ.event.description) %> </p>
                  <% end %>
                </div>
              </li>
          <% end %>

        </ul>
      </div>
          <% break %>
      <% end %>
    </div>

  </div>
</div>
<% end %>
<!-- end tabs -->

