
<div class="content">
  <%= render 'row_header', locals: {occurrences: @occurrences} %>
  <%= render 'default_venues' %>
  <div id="search_content">
    <%= render 'results', locals: {occurrences: @occurrences} %>
  </div>
</div>

<%= hidden_field_tag :next_page, @occurrences.next_page %>
<%= hidden_field_tag :total_pages, @occurrences.total_pages %>

<style>
  .scrollup{
    width:40px;
    height:40px;
    /*opacity:0.3;*/
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('/assets/acl/icon_top.png') no-repeat;
  }
</style>

<script>
  $(window).scroll(function () {

    if ($(this).scrollTop() > 100) {
      $('.scrollup').fadeIn();
    } else {
      $('.scrollup').fadeOut();
    }

    if ($(window).scrollTop() == $(document).height() - $(window).height()) {

      var next_page = $('#next_page').val();
      next_page = parseInt(next_page);
      var total_pages = $('#total_pages').val();
      total_pages = parseInt(total_pages);

      if (next_page < total_pages) {
        append_data(next_page);
      }
    }

  });

  function append_data(page) {

  $.post('/unofficialacl/search', {page: page},
    function () {
    }, 'script');
    return false;
  }

  $('.scrollup').on('click',function(){
    $("html, body").animate({scrollTop: '0px' }, 1500);
    return false;
  });
</script>