

<%# params[:included_tags] = params[:included_tags].present? ? params[:included_tags] : '25'   %>
<% params[:and_tags] = params[:and_tags].present? ? params[:and_tags] : '232'   %>

<% content_for :meta do %>
     <meta property="og:type"                 content="place"/> 
     <meta property="og:url"                  content="http://www.unofficialacl.com/unofficialacl/show_venue/<%= @venue.id%>"/>
     <meta property="og:site_name"            content="unofficialacl"/>
     <meta property="og:image"                content="<%=@venue.pictures.first ? @venue.pictures.first.image_url(:large) : ""%>"/>
     <meta property="og:title"                content="<%=@venue.name%> on unofficialacl.com">
     <meta property="og:description"          content="<%=strip_tags(@venue.description)%>"/> 
<% end %>
    <div id="sticker">
      <div class="pink-banner">
        <div class="wrapper row">
          <div class="large-9 columns">
            <a class="callout" tabindex="1" href="http://www.halfpastnow.com">
              <img src="/assets/acl/layout/hpn-marker.png">
              <p>Sponsored: See all of Austin <span class="rotate">Live Music, Happy Hour, Outdoor, Fitness, Business, Tech, Arts, Exhibition</span> events at halfpastnow.com!</p>
            </a>

            <div class="comments">
              <div class="ear left"></div>
              <i class="icon-chevron-right"></i> Go On!
            </div>
          </div>
          <div class="large-3 columns ptx">
            <div class="text-rounded dark">
              <%= form_tag "/unofficialacl/search"  do %>
                <%= text_field_tag :search,"", placeholder: "Search", "tabindex" => "2" %>
                <%= submit_tag "",class: "search-button", "tabindex" => "6" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>



<div class="wrapper row header">
  <div class="small-12 columns">
    <nav>
      <a id="menu-icon"><i class="icon-reorder"></i></a>
      <ul id="tab-anchors" class="header-navigation">
            <li id="tab-anchor-1" class="current">
              <a href="javascript:ShowTab(1);">Venue details</a>
            </li>
      </ul>
    </nav>
  </div>
</div>




<% unless @venue.nil? %>
    <!-- the next tab venue details  -->
    <div class="content tab" id="tab-1">
      <div class="row">
        <!-- Big things: column left -->
        <div class="large-6 columns stretch">

          <div class="row main-picture">
            <div class="event-picture">
              <img src="<%= @venue.pictures.first ? @venue.pictures.first.image_url(:large) : "/assets/placeholder.png" %>" />
              <% if false %><div class="sticker percent popular-badge"><span class="sticker-label popular">popularity</span>?80</div> <% end %>
            </div>
          </div>

          <div class="row ptl">
            <div class="small-8 small-offset-4 columns">
              <% unless @venue.description.to_s.empty? %>
                  <p> <%= strip_tags(@venue.description) %> </p>
              <% end %>
            </div>
          </div>
        </div>

        <!-- Small things: column right -->
        <div class="large-6 columns rightCol stretch">
          <div class="mll mrl clearfix">
            <h1 class="title"><%= @venue.name %></h1>
            <ul class="details">
              <li><i class="icon-map-marker pull-left icon-large mbl"></i> <%= @venue.address %><br><%= @venue.city + ", " + @venue.state + " " + @venue.zip.to_s %></li>
              <li><% unless @venue.phonenumber.empty? %><a href="tel:1-800-555-555"><i class="icon-mobile-phone icon-large"></i> <%= @venue.phonenumber %></a><% end %></li>
            </ul>
            <div class="row">
              <div class="small-12 columns">
                <h1 class="featuring-title upcoming">Upcoming events:</h1>
              </div>
            </div>

            <ul class="features upcoming">
              <% @recurrences.each do |rec| %>
                  <li class="row">
                    <div class="small-3 columns">
                      <!--<img src="<%#= rec.event.pictures.first ? rec.event.pictures.first.image_url(:thumb) : "/assets/placeholder.png" %>" />-->
                      <% if rec.event.pictures.first %>
                          <img src="<%= rec.event.pictures.first.image_url(:thumb)  %>" alt="Event picture"/>
                      <% elsif rec.event.acts.length != 0 && rec.event.acts.first.pictures.first %>
                          <img src="<%= rec.event.acts.first.pictures.first.image_url(:thumb) %>" alt="occurrence pic"/>
                      <% elsif rec.event.venue.pictures.first %>
                          <img src="<%= rec.event.venue.pictures.first.image_url(:thumb) %>" alt="venue pic" />
                      <% else %>
                          <img src="<%= rec.event.cover_image_url ? rec.event.cover_image_url : "/assets/placeholder.png" %>" alt="cover pic" />
                      <% end %>
                    </div>
                    <div class="small-9 columns">
                      <a href="/unofficialacl/event/show/<%= rec.occurrences.first.id %>"><h2 class="pbm"><%= rec.event.title %></h2></a>
                      <% unless rec.event.description.to_s.empty? %>
                          <p> <%= raw(rec.event.description) %> </p>
                      <% end %>
                    </div>
                  </li>
              <% end %>
              <% @occurrences.each do |occ| %>
                  <li class="row">
                    <div class="small-3 columns">
                      <!--<img src="<%#= occ.event.pictures.first ? occ.event.pictures.first.image_url(:thumb) : "/assets/placeholder.png" %>" />-->
                      <% if occ.event.pictures.first %>
                          <img src="<%= occ.event.pictures.first.image_url(:thumb)  %>" alt="Event picture" />
                      <% elsif occ.event.acts.length != 0 && occ.event.acts.first.pictures.first %>
                          <img src="<%= occ.event.acts.first.pictures.first.image_url(:thumb) %>" alt="Artist pic"/>
                      <% elsif occ.event.venue.pictures.first %>
                          <img src="<%= occ.event.venue.pictures.first.image_url(:thumb) %>" alt="venue pic" />
                      <% else %>
                          <img src="<%= occ.event.cover_image_url ? occ.event.cover_image_url : "/assets/placeholder.png" %>" alt="cover pic" />
                      <% end %>
                    </div>
                    <div class="small-9 columns">
                      <a href="/unofficialacl/event/show/<%= occ.id %>"><h2 class="pbm"><%= occ.event.title %></h2></a>
                      <% unless occ.event.description.to_s.empty? %>
                          <p> <%= raw(occ.event.description) %> </p>
                      <% end %>
                    </div>
                  </li>
              <% end %>
            </ul>
          </div>

        </div>

      </div>
    </div>
<% end %>


<!-- end tabs -->

