<script type="text/javascript" src="/assets/stupidtable.js"></script>
<script type="text/javascript">
	
$(function() {
	$('#summary-table').stupidtable();
	$('#user-select').on("change", pageUpdate);


});
  
   var venue_id = null;
   function pageUpdate() {
		$.get('/users/venueslist/?user_id=' + $('#user-select option:selected').val(), function(data) {
		  var tableData = "<br><h2>User Summary:</h2><br>Number of assigned Venues: <b>" + data[0].total_venues + "</b><br>Total number Remaining Raw Events: <b>"+ data[0].total_raw_events+ "</b><br>Total number of active events: <b>" + data[0].total_events + "</b><br><br>Assign venue to user: <input id='venue-name' /> <button id='venue-go'>Add</button><br><br>"

		  tableData += "<table id='assigned-venues-table'><thead><tr><th>Name</th><th>Address</th><th>Events</th><th>Raw Events</th><th>Unassign</th></tr></thead><tbody>"
	      for (var i=1;i<data.length;i++) {
	        tableData += "<tr><td><a href='/venues/edit/"+data[i].id+"' target='_blank'>"+ data[i].name +"</a></td><td>"+ data[i].address +"</td><td>"+data[i].num_events+"</td><td>"+data[i].num_raw_events+"</td><td><button class='remove-venue' value='" + data[i].id + "'>[remove]</button></td>";
	      }
	      tableData += "</tbody></table>"
	      tableData +="<br><br><h3>Past Edits (up to 1 month ago)</h3><div id='tableContainer' style='margin-top:3px'></div></div>"
	    $('#assignments-content').html(tableData);
		    $("#venue-go").click(function() {
		      if(venue_id) {
		        // console.log("/venues/edit/" + venue_id);
		        $.post("/venues/setOwner/?venue_id=" + venue_id + "&user_id=" + $('#user-select option:selected').val(), function(data){
		        	console.log("Posted to Venue");
		        	pageUpdate();
		        },
        		"json");
		      }
		    });
		    $(".remove-venue").click(function() {
		        $.post("/venues/removeOwner/?venue_id=" + this.getAttribute("value") + "&user_id=" + $('#user-select option:selected').val(), function(data){
		        	pageUpdate();
		        },
        		"json");
		    });
	        $( "#venue-name" ).autocomplete({
		      source: function( request, response ) {
		        $.getJSON("/venues/find?contains=" + request.term, function (data) {
		          // console.log(data);
		          response(data);
		        });
		      },
		      minLength: 2,
		      select: function( event, ui ) {
		        $("#venue-name").val(ui.item.label);
		        venue_id = ui.item.id;

		        console.log( ui.item ?
		          "Selected: " + ui.item.label :
		          "Nothing selected, input was " + this.value);
		      },
		      open: function() {
		        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
		      },
		      close: function() {
		        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
		      }
		    });
		var iTable =  $('#assigned-venues-table').dataTable({ 
			                              "bJQueryUI": true,
                              "bRetrieve" : true,
                              "bPaginate" : false,
                              "aoColumnDefs": [{ "sWidth": "50%", "aTargets": [ 1 ] }
                                              ],
                              "aaSorting" : [[3, 'desc']]
                              });
      		iTable.fnDraw();
		});


	$.get('/users/itemslist/?user_id=' + $('#user-select option:selected').val(), function(data) {
      // console.log(data);
      var tableData = "<table id='itemsTable'><thead><tr><th></th><th>Type</th><th>Name/Title</th><th>Edited Date</th><th>%</th><th>Edit</th></tr></thead><tbody>"
      for (var i=0;i<data.length;i++) {
        tableData += "<tr><td></td><td>"+ data[i].type +"</td><td><a href='/?"+data[i].type.toLowerCase()+"_id="+data[i].id+"' target='_blank'>"+data[i].name+"</a></td><td>"+data[i].date+"</td>";
        if (data[i].type === "Act" || data[i].type === "Event")
          tableData += "<td><div style='padding:1px;overflow:hidden;width:30px;margin:0 auto;background-color:rgba(" + Math.round((1 - data[i].completion) * 192) + "," + Math.round(data[i].completion * 192) + ",0,1);''><div style='float:right;height:5px;width:" + Math.round(30 * (1 - data[i].completion)) + "px;background-color:white;''><div style='display:none;'>" + data[i].completion + "</div></div></div></td>"
        else
          tableData += "<td></td>"
        if (data[i].type === "Act")
          tableData += "<td><a href='/acts/index' target='_blank'>Edit</a></tr>"
        else if (data[i].type === "Event")
          tableData += "<td><a href='/venues/list_events/" + data[i].venue_id + "#anchor" + data[i].id + "' target='_blank'>Edit</a></tr>"
        else if (data[i].type === "Venue")
          tableData += "<td><a href='/venues/edit/" + data[i].id + "' target='_blank'>Edit</a></tr>"
      }
      tableData += "</tbody></table>"
      $('#tableContainer').html(tableData);
      var iTable =  $('#itemsTable').dataTable({ 
                              "fnDrawCallback": function ( oSettings ) {
                                /* Need to redo the counters if filtered or sorted */
                                if ( oSettings.bSorted || oSettings.bFiltered )
                                {
                                  for ( var i=0, iLen=oSettings.aiDisplay.length ; i<iLen ; i++ )
                                  {
                                    $('td:eq(0)', oSettings.aoData[ oSettings.aiDisplay[i] ].nTr ).html( i+1 );
                                  }
                                }
                              },
                              "bJQueryUI": true,
                              "bRetrieve" : true,
                              "bPaginate" : false,
                              "aoColumnDefs": [{ "sWidth": "55%", "aTargets": [ 2 ] },
                                               { "bSortable": false, "aTargets": [ 0 ] }
                                              ],
                              "aaSorting" : [[3, 'desc']]
                              });
      iTable.fnDraw();
    });
  };


</script>
<style type="text/css">
	#summary-table {
		margin:20px 10px;
		border-spacing: 0;
		border-collapse:collapse;
	}

	#summary-table th {

	}
	#summary-table td, #summary-table th {
		padding:5px;
	}
	#summary-table td:nth-child(1) {
		width:200px;
	}
	#summary-table td:nth-child(2) {
		width:100px;
	}
	#summary-table td:nth-child(3) {
		width:100px;
		text-align:center;
	}
	#summary-table td:nth-child(4) {
		width:100px;
		text-align:center;
	}
	#summary-table td:nth-child(5) {
		width:100px;
		text-align:center;
	}
	#summary-table tbody tr:nth-child(odd) {
		background:#eeeeee;
	}
</style>
<h3>Select Specific User:
<% @users = User.find(:all, :conditions => { :role => [ "admin", "super_admin" ]}).sort_by{|a| a.firstname} %>

<select id="user-select" name="user-select">
    <option class="" value=""></option>
  <% @users.each do |o| %>
    <option class="user-<%=o.id%>" value="<%=o.id%>"><%=o.fullname%></option>
    <% end %>
</select>
</h3>
<div id="assignments-content">
<br>
<h2>Assignments Overview:</h2>
<% @users = User.find(:all, :conditions => { :role => [ "admin", "super_admin" ]}).sort_by{|a| a.firstname} %>
<table id="summary-table">
	<thead><tr>
		<th class="type-string" style="cursor:pointer;">Admin Name</th>
		<th class="type-int" style="cursor:pointer;"># Venues</th>
		<th class="type-int" style="cursor:pointer;"># Events</th>
		<th class="type-int" style="cursor:pointer;"># Raw To Do</th>
		<th class="type-int" style="cursor:pointer;"># Total Raw</th>
		<th class="type-int" style="cursor:pointer;">Activity This Wk</th>
	</tr></thead>
	<tbody>
		<% @users.each do |o| %>
			<tr><td><%=o.fullname%></td><td><%=Venue.where(:admin_owner => o.id.to_s).count %></td><td><%=o.assigned_events%></td><td><%=o.assigned_raw_events%></td><td><%=o.total_raw_events%></td><td><%=o.total_activity_week%></td></tr>
		<% end %>
	</tbody>
</table>
<br>

</div>



<!-- Venue name: <input id="venue-name" /> <button id="venue-go">Go</button> -->