<% content_for :head do %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    
      google.load('visualization', '1.0', {'packages':['corechart']});
      google.setOnLoadCallback(drawChart);
    
	var chart;

	$(function () {
		chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
	    drawChart();

		$.get('/users/itemslist/?user_id=<%= current_user.id%>', function(data) {
	      // console.log(data);
	      var tableData = "<table id='itemsTable'><thead><tr><th></th><th>Type</th><th>Name/Title</th><th>Edited Date</th><th>Edit</th></tr></thead><tbody>"
	      for (var i=0;i<data.length;i++) {
	        tableData += "<tr><td></td><td>"+ data[i].type +"</td><td><a href='/?"+data[i].type.toLowerCase()+"_id="+data[i].id+"' target='_blank'>"+data[i].name+"</a></td><td>"+data[i].date+"</td>";
	        if (data[i].type === "Act")
	          tableData += "<td><a href='/acts/index' target='_blank'>Edit</a></tr>"
	        else if (data[i].type === "Event")
	          tableData += "<td><a href='/venues/list_events/" + data[i].venue_id + "#anchor" + data[i].id + "' target='_blank'>Edit</a></tr>"
	        else if (data[i].type === "Venue")
	          tableData += "<td><a href='/venues/edit/" + data[i].id + "' target='_blank'>Edit</a></tr>"
	      }
	      tableData += "</tbody></table>"
	      $('#tableContainer').html(tableData);
	      var iTable =  $('#itemsTable').dataTable({ 
	                              "fnDrawCallback": function ( oSettings ) {
	                                /* Need to redo the counters if filtered or sorted */
	                                if ( oSettings.bSorted || oSettings.bFiltered )
	                                {
	                                  for ( var i=0, iLen=oSettings.aiDisplay.length ; i<iLen ; i++ )
	                                  {
	                                    $('td:eq(0)', oSettings.aoData[ oSettings.aiDisplay[i] ].nTr ).html( i+1 );
	                                  }
	                                }
	                              },
	                              "bJQueryUI": true,
	                              "bRetrieve" : true,
	                              "bPaginate" : false,
	                              "aoColumnDefs": [{ "sWidth": "60%", "aTargets": [ 2 ] },
	                                               { "bSortable": false, "aTargets": [ 0 ] }
	                                              ],
	                              "aaSorting" : [[3, 'desc']]
	                              });
	      iTable.fnDraw();
	    });

	});

	function drawChart() {
		var jsonData = $.ajax ({
			url:"/users/recentActivity/",
			dataType:"json",
			async: false,
			}).responseText;

		arrayData = $.parseJSON(jsonData);
		var data = new google.visualization.arrayToDataTable(arrayData);
		var options = {'title':'My Recent Activity',
                 'width':580,
                 'height':300,
				 'vAxis': {title: "Day"},
    			 'hAxis': {title: "Entries Made"},
             	 'isStacked':true,
             	 'chartArea':{left:50,top:50,width:"70%",height:"68%"},
             	 'backgroundColor': '#F3F3FA',
             	 animation:{
			        duration: 1000,
			        easing: 'out'}
					 };

		chart.draw(data, options);
	};


	$(function() {
   		var venue_id = null;
		$.get('/users/venueslist/?user_id=<%=current_user.id%>', function(data) {
		  var tableData = "<table id='assigned-venues-table'><thead><tr><th>Name</th><th>Address</th><th>Events</th><th style='color:red'>Remaining Raw Events</th></tr></thead><tbody>"
	      for (var i=1;i<data.length;i++) {
	        tableData += "<tr><td><a href='/venues/edit/"+data[i].id+"' target='_blank'>"+ data[i].name +"</a></td><td>"+ data[i].address +"</td><td>"+data[i].num_events+"</td><td>"+data[i].num_raw_events+"</td>";
	      }
	      tableData += "</tbody></table>"
	    $('#assignments-content').html(tableData);

		var iTable =  $('#assigned-venues-table').dataTable({ 
			                              "bJQueryUI": true,
                              "bRetrieve" : true,
                              "bPaginate" : false,
                              "aoColumnDefs": [{ "sWidth": "35%", "aTargets": [ 1 ] }
                                              ],
                              "aaSorting" : [[3, 'desc']]
                              });
      		iTable.fnDraw();
		});
  });

    </script>
<% end %>

<h2>My Dashboard</h2><br>
<div class="summary-stats" style="float:left"><br>
Assigned Events: <b><div style="display:inline;color:red"><%= current_user.assigned_raw_events%> items remaining</div></b><br>
(Raw Events between now and 2 weeks from now)<br><br>
My activity this week: <b><%= current_user.total_activity_week %> items edited </b><br><br>
Number of assigned Venues: <b><%= Venue.where(:admin_owner => current_user.id.to_s).count %></b><br><br>
Total number of active events: <b><%= current_user.assigned_events%></b><br>
<br>
</div>
<div id="chart_div" style="width:600; height:500; float:right"></div>
<div style="display:block;margin-top:257px"><br><Br>
<h3><b>My Assigned Venues</b></h3>
<div id="assignments-content" style="margin-top:3px"></div></div><br>
<h3><b>My Past Edits (up to 1 month ago)</b></h3>
<div id="tableContainer" style="margin-top:3px"></div></div>