<% content_for :title do %>Here are My Friends<% end %>
<h2>My Friends</h2>
<div id="profile-sidebar">
    <%= image_tag resource.profilepic_url(:thumb) || "/assets/profile.png", :class => "profile-pic" %>
    <!-- <h2><%= current_user.firstname %> <%= current_user.lastname %> </h2> -->
    <ul id="profile-nav">
      <li class="streams selected">Saved Searches</li>
      <!-- <li><a style="text-decoration:none; color:#333" href="/users/rsvp/<%=current_user.id%>">My RSVPs</a></li> -->
      <% if false %><!-- <li class="bookmarks">Bookmarks</li> --><% end %>
      <li class="picture">Picture</li>
      <li class="preferences">My preferences</li>
      <li class="settings">Settings</li>
      <li class="password">Password</li>
    </ul>
    <%= link_to('Logout', destroy_user_session_path, :method => 'delete', :class => 'logout') %>
  </div>

<% content_for :content do %>

	

	<h2>My Friends</h2>

	<p>Username: <%= current_user.fullname %></p>

	<h2>Friends</h2>
	<ul>
	<% puts "loading herererere .... " %>
	<% puts current_user.friends.count %>
	  <% current_user.friends.each do |friend| %>
	    <li>
	    <% puts "friend" %>
	    <% puts friend.fullname %>
	      <%= friend.fullname %>
	      (<%= link_to "remove", friend, :method => :delete %>)
	    </li>
	  <% end %>
	</ul>

<% end %>
