<% content_for :meta do %>
  <meta class="meta-type"          property="og:type"                 content="website">
  <meta class="meta-url"           property="og:url"                  content="http://www.halfpastnow.com">
  <meta class="meta-image"         property="og:image"                content="http://www.halfpastnow.com/assets/halfpastnow_final-square.png">
  <meta class="meta-title"         property="og:title"                content="half past now | your couch will miss you">
  <meta class="meta-description"   property="og:description"          content="Find the best events in Austin">
<% end %>
<% content_for :head do %>
  <% @page = "login" %>
  <%= stylesheet_link_tag "custom_login" %>
<% end %>
<% content_for :code do %>

<% end %>
<% content_for :body do %>
  <% @footer = "no" %>
  <div id="fb-root"></div>
  <% @page = "login" %>
  <span id="forget_email_form">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>

    <div><%= f.submit "Send me reset password instructions" %></div>
  <% end %>

  <%= render "links" %>
    </span>
  <style>

    #forget_email_form {
      left: 20%;
      position: relative;
    }
  </style>

<% end %>



