
<h2>Crop Profilepic</h2>

<% content_for (:head) do %>
<%= stylesheet_link_tag "jcrop" %>

</script>
<% end %>

<%= image_tag @user.profilepic_url(:large), :id => "cropbox" %>

<h4>Preview</h4>
<div style="width:100px; height:100px; overflow:hidden;">
  <%= image_tag @user.profilepic.url(:large), :id => "preview" %>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>
  <div class="actions">
    <% %w[x y w h].each do |attribute| %>
      <%= f.hidden_field "crop_#{attribute}"%>
    <% end %>

    <%= f.submit "Crop" %>
  </div>
<% end %>