<% content_for :title do %>Account<% end %>

<% content_for :content do %>
  <script type="text/javascript">
    var jcrop_api;

    $(function() {
      $('#profile-nav li').click(function() {
        $('#profile-nav li').removeClass('selected');
        $(this).addClass('selected');
        $('#profile-menu > div').removeClass('selected');
        $('#profile-menu > div:nth-child(' + ($(this).index() + 1) + ')').addClass('selected');
      });

      $('.profile .edit_user').ajaxForm({
        dataType: 'json',
        success: function() { alert('weeee'); }
      });

      $('.update-picture .edit_user').ajaxForm({
        dataType: 'json',
        beforeSubmit: function() {
          $('.update-picture .form-indicator').hide();
          $('.update-picture .form-loading').show();
        },
        success: function(user) {
          $('.update-picture .form-indicator').hide();
          $('.update-picture .form-success').show();
          console.log(user.profilepic.url);
          $('#cropbox').attr('src',user.profilepic.large.url);
          $('#preview').attr('src',user.profilepic.large.url);
          $('.update-picture').hide();
          $('.crop-picture').show();
          $('#cropbox').Jcrop({
            aspectRatio: 1,
            onSelect: updateCrop,
            onChange: updateCrop
          },function(){
            jcrop_api = this;
          });
        }
      });

      $('.crop-picture .edit_user').ajaxForm({
        dataType: 'json',
        beforeSubmit: function() {
          $('.crop-picture .form-indicator').hide();
          $('.crop-picture .form-loading').show();
        },
        success: function(user) {
          $('.crop-picture .form-indicator').hide();
          $('.crop-picture .form-success').show();
          $('#existing-pic').attr('src',user.profilepic.thumb.url);
          $('.crop-picture').hide();
          $('.update-picture').show();
          jcrop_api.destroy();
        }
      });

      $('#edit_settings').ajaxForm({
        beforeSubmit: function() {
          $('#edit_settings .form-indicator').hide();
          $('#edit_settings .form-loading').show();
        },
        success: function() {
          $('#edit_settings .form-indicator').hide();
          $('#edit_settings .form-success').show();
        }
      });

      $('#edit_password').ajaxForm({
        beforeSubmit: function() {
          $('#edit_password .form-indicator').hide();
          $('#edit_password .form-loading').show();
        },
        success: function(data) {
          console.log(data);
          $('#edit_password .form-indicator').hide();
          $('#edit_password .form-success').show();
        }
      });

    });

    function updateCrop(coords) {
        $('#user_crop_x').val(coords.x);
        $('#user_crop_y').val(coords.y);
        $('#user_crop_w').val(coords.w);
        $('#user_crop_h').val(coords.h);
        $('#preview').css({
          width: Math.round(150 / coords.w * $('#cropbox').width()) + 'px',
          height: Math.round(150 / coords.h * $('#cropbox').height()) + 'px',
          marginLeft: '-' + Math.round(150 / coords.w * coords.x) + 'px',
          marginTop: '-' + Math.round(150 / coords.h * coords.y) + 'px'
        });
      }

      $(function() {

        $('.stream').on('click', ' .action.rename', function() {
          var id = $(this).attr('stream-id');
          var name = $(this).attr('stream-name');
          $(this).parent('.uber-title').html("<input type='text' value='" + name + "' stream-id='" + id + "'/><button class='action save' stream-id='" + id + "'>save</button><button class='action cancel' stream-id='" + id + "' stream-name='" + name + "'>cancel</button>");
          return false;
        });

        $('.stream').on('click', ' .action.save', function() {
          var that = $(this);
          var stream_name = $(this).siblings('input').val();
          var stream_id = $(this).attr("stream-id");
          $.get('/channels/rename/' + stream_id, { stream: { name: stream_name } },function(data) {
            console.log(data);
            that.parent('.uber-title').html("<span class='title'>" + stream_name + "</span><a href='' stream-id='" + stream_id + "' stream-name='" + stream_name + "' class='action rename'><span class='icon icon-edit'></span>rename</a>");
          });
        });

        $('.stream').on('click', ' .action.cancel', function() {
          var stream_name = $(this).attr("stream-name");
          var stream_id = $(this).attr("stream-id");
          $(this).parent('.uber-title').html("<span class='title'>" + stream_name + "</span><a href='' stream-id='" + stream_id + "' stream-name='" + stream_name + "' class='action rename'><span class='icon icon-edit'></span>rename</a>");
        });

        $('.stream').on('click', ' .action.delete', function() {
          if(confirm("Are you sure you want to delete '" + $(this).attr('stream-name') + "'?")) {
            var stream_id = $(this).attr("stream-id");
            $.get('/channels/destroy/' + stream_id, function(data) {
              console.log(data);
              $('.stream[stream-id=' + stream_id + ']').remove();
            });
          }
          return false;
        });
      });

    function check(field){
            var str ="";
            for (i=0;i<field.length;i++)
            if (field[i].checked==true) {
              if (str==="") {
                str = field[i].value;
              }
              else{
                str = str +"," +field[i].value;  
              };
              
            }
            
            console.log("Checkebox : "+str);
            $.get('/channels/updateReg?id=<%=current_user.ref%>'+'&included_tags='+str, function(data) {
              
            });


            }
  </script>
  <div id="profile-sidebar">
    <%= image_tag resource.profilepic_url(:thumb) || "/assets/profile.png", :class => "profile-pic" %>
    <!-- <h2><%= current_user.firstname %> <%= current_user.lastname %> </h2> -->
    <ul id="profile-nav">
      <li class="streams selected">Saved Searches</li>
      <!-- <li><a style="text-decoration:none; color:#333" href="/users/rsvp/<%=current_user.id%>">My RSVPs</a></li> -->
      <% if false %><!-- <li class="bookmarks">Bookmarks</li> --><% end %>
      <li class="picture">Picture</li>
      <li class="preferences">My preferences</li>
      <li class="settings">Settings</li>
      <li class="password">Password</li>
    </ul>
    <%= link_to('Logout', destroy_user_session_path, :method => 'delete', :class => 'logout') %>
  </div>

  <div id="profile-menu">

    <div class="streams selected">
      <h2>Saved Searches</h2>
      <% hours = ['midnight','1am','2am','3am','4am','5am','6am','7am','8am','9am','10am','11am','noon','1pm','2pm','3pm','4pm','5pm','6pm','7pm','8pm','9pm','10pm','11pm','midnight'] %>
      <% current_user.channels.each do |channel| %>
        <div class="stream" stream-id="<%= channel.id %>">
          <div class="stream-title">
            <span class="uber-title">
              <span class="title"><%= channel.name %></span>
              <a href="" stream-id="<%= channel.id %>" stream-name="<%= channel.name %>" class="action rename"><span class="icon icon-edit"></span>rename</a>
            </span>
            <a href="" stream-id="<%= channel.id %>" stream-name="<%= channel.name %>" class="action delete"><span class="icon icon-trash"></span>delete</a>
          </div>
          <div class="stream-details">
            <% unless (channel.search.to_s.empty?) %>
            <div><span class="filter name">search</span><span class="filter value"><%= channel.search %></span></div>
            <% end %>
            <% unless (channel.included_tags.to_s.empty?) %>
            <div><span class="filter name">tags</span><span class="filter value"><%= Tag.find(channel.included_tags.split(",")).collect { |t| t.name } * ", " %></span></div>
            <% end %>

            <% 
                dateString = ""
                timeString = ""
                start_hours = (channel.start_seconds || 0) / 3600
                end_hours = (channel.end_seconds || 86400) / 3600
                
                # timeString
                unless (start_hours == 0 && end_hours == 24)
                  if(end_hours == 24)
                    timeString = "after <em>" + hours[start_hours] + "</em>"
                  elsif(start_hours == 0)
                    timeString = "before <em>" + hours[end_hours] + "</em>"
                  else
                    timeOne = hours[start_hours]
                    timeTwo = hours[end_hours]
                    timeString = "<em>" + timeOne + "&ndash;" + timeTwo + "</em>"
                  end
                end

                dow_short = ['Su','M','T','W','Th','F','Sa']
                dow_medium = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat']
                dow_long = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']

                if(!channel.start_date.to_s.empty? || !channel.end_date.to_s.empty?)
                  dateString = channel.start_date.strftime("%-m/%-d") + "&ndash;" + channel.end_date.strftime("%-m/%-d")
                elsif (channel.start_days == 0 && channel.end_days == 6)
                  dayArray = (channel.day_of_week || "").split(",")
                  num_days = dayArray.size
                  if(num_days == 7 || num_days == 0)
                    dateString = "This Week"
                  else
                    dayArray.each do |day|
                      day = day.to_i
                      if(num_days == 1)
                        dateString += "+" + dow_long[day]
                      elsif (num_days == 2)
                        dateString += "+" + dow_medium[day]
                      else
                        dateString += "/" + dow_short[day]
                      end
                    end
                    dateString = dateString[1..-1]
                  end
                elsif(channel.start_days == 0 && channel.end_days == 0)
                  dateString = "Today"
                end

                dateTimeString = dateString + " " + timeString
            %>
            <% unless (dateTimeString.blank?) %>
            <div><span class="filter name">time</span><span class="filter value"><%= raw dateTimeString %></span></div>
            <% end %>
            <% unless (channel.low_price.to_s.empty? && channel.high_price.to_s.empty?) %>
              <% if(channel.low_price.to_s.empty?) 
                  costStr = "Under $" + channel.high_price.to_s
                 elsif(channel.high_price.to_s.empty?)
                  costStr = "Over $" + channel.low_price.to_s
                 else
                  costStr = "$" + channel.low_price.to_s + " to $" + channel.high_price.to_s
                 end
              %>
            <div><span class="filter name">cost</span><span class="filter value"><%= costStr %></span></div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <% if false %>
   <!--  <div class="bookmarks">
      <h2>Bookmarks</h2>
      <% if current_user.bookmarked_events.size > 0 %>
        <h3>Bookmarked Events</h3>
        <% current_user.bookmarked_events.each do |occurrence| %>
          <div><%= occurrence.event.title %></div>
        <% end %>
      <% end %>
      <% if current_user.bookmarked_venues.size > 0 %>
        <h3>Bookmarked Venues</h3>
        <% current_user.bookmarked_venues.each do |venue| %>
          <div><%= venue.name %></div>
        <% end %>
      <% end %>
      <% if current_user.bookmarked_acts.size > 0 %>
        <h3>Bookmarked Artists</h3>
        <% current_user.bookmarked_acts.each do |act| %>
          <div><%= act.name %></div>
        <% end %>
      <% end %>
    </div> -->
    <% end %>
    
    <div class="picture">
      <h2>Picture</h2>
      <label>Select an area in the picture below to crop your picture</label>
      <div class="update-picture">
        <%= image_tag resource.profilepic_url(:thumb) || "/assets/profile.png", :id => "existing-pic" %>
        <%= form_for(resource, :as => resource_name, :url => "/users", :html => { :method => :put, :multipart => true }) do |f| %>
            <%= f.label :profilepic, "File name" %><%= f.file_field :profilepic %><br />
            <%= f.label :remote_profilepic_url, "Or image URL" %><%= f.text_field :remote_profilepic_url %>
          <div><%= f.submit "Update" %><%= render :partial => "layouts/loading" %></div>
        <% end %>
      </div>
      <div class="crop-picture" style="display:none;">
        <img src="" id="cropbox" />

        <h4>Preview</h4>
        <div style="height:150px;width:150px;overflow:hidden;">
          <img src="" id="preview" />
        </div>

        <%= form_for(resource, :as => resource_name, :url => "/users", :html => { :method => :put, :multipart => true }) do |f| %>
          <div class="actions">
            <% %w[x y w h].each do |attribute| %>
              <%= f.hidden_field "crop_#{attribute}"%>
            <% end %>

            <%= f.submit "Update" %><%= render :partial => "layouts/loading" %>
          </div>
        <% end %>
      </div>
    </div>
     <div class="preferences">
      <!-- Create a reference channel for current user if it does not exist -->
      <% if current_user.ref.nil? %>
        <% c =  Channel.new %>
        <!-- Change to approriate tag ids for Production -->
        <% c.included_tags = "1,134,43,141,29,87,55,192,104" %>
        <% c.save %>
        <% current_user.ref = c.id.to_s %>
        <% current_user.save %>
        <form name="form" method="post">
          <div class = "reform"> 
            <img border="0" src="http://www.randomdetox.com/wp-content/uploads/2011/09/live-music-vector_preview-50x50.jpg" alt="Live Music" width="50" height="50"><br>
            <input  type="checkbox" name="cat" value="<%=Tag.find_by_name("Music").id%>" checked onclick="check(document.form.cat)"> <img border="0" src="http://www.randomdetox.com/wp-content/uploads/2011/09/live-music-vector_preview-50x50.jpg" alt="Live Music" width="50" height="50"><br>
          </div>

          <div class = "reform"> 
            <img border="0" src="http://www.yoga-essex.co.uk/images/featured-icon-2.jpg" alt="Fitness" width="50" height="50"><br>
            <input type="checkbox" name="cat" value="<%=Tag.find_by_name("Fitness").id%>" checked onclick="check(document.form.cat)">Fitness<br>
          </div>

          <div class = "reform"> 
            <img border="0" src="http://digitalethos.org/wp-content/uploads/2012/11/3rd-Generation-of-Websites-and-Inbound-Marketing-50x50.png" alt="Tech" width="50" height="50"><br>
            <input type="checkbox" name="cat" value="<%=Tag.find_by_name("Tech").id%>" checked onclick="check(document.form.cat)">Tech<br>
          </div>

          <div class = "reform"> 
            <img border="0" src="http://avatar.hq-picture.com/avatars/img36/peace_logo_avatar_picture_43463.gif" alt="Live Music" width="50" height="50"><br>
            <input type="checkbox" name="cat" value="<%=Tag.find_by_name("Charity / Non-Profit").id%>" checked onclick="check(document.form.cat)">Non-Profit<br>
          </div>
          <div class = "reform"> 
            <img border="0" src="http://engr.case.edu/merat_francis/eecs490f06/Images/Mona_Lisa.jpg" alt="Art" width="50" height="50"><br>
            <input type="checkbox" name="cat" value="<%=Tag.find_by_name("Art").id%>" checked onclick="check(document.form.cat)">Arts<br>
          </div>
          <div class = "reform"> 
            <img border="0" src="http://bloggeritis.com/wp-content/uploads/2012/02/Logo-Design-told-by-Kids-64x64.jpg" alt="Kid Friendly" width="50" height="50"><br>
            <input type="checkbox" name="cat" value="<%=Tag.find_by_name("Kid Friendly").id%>" checked onclick="check(document.form.cat)">Kid Friendly<br>
          </div>
          <div class = "reform"> 
             <img border="0" src="http://static.general-play.com/thumbs/ee3/31/gp74e6fh1f5i0.jpeg" alt="Live Music" width="50" height="50"><br>
            <input type="checkbox" name="cat" value="<%=Tag.find_by_name("Romantic").id%>" checked onclick="check(document.form.cat)">Romantic<br>
          </div>
          <div class = "reform"> 
            <img border="0" src="http://www.lifechurch.tv/assets/jobs/icon_heart-3c3a5c611f0dd5b19b782308f3c33dbc.png" alt="LGBT" width="50" height="50"><br>
            <input type="checkbox" name="cat" value="<%=Tag.find_by_name("LGBT").id%>" checked onclick="check(document.form.cat)">LGBT<br>
          </div>
          <div class = "reform"> 
             <img border="0" src="http://www.goga-gastro.pl/media/products/a464b2529fcfcbb9c46f6fa954bed418/images/thumbnail/small_400104.jpg" alt="HH" width="50" height="50"><br>
            <input type="checkbox" name="cat" value="<%=Tag.find_by_name("Food/Drink Specials").id%>" checked onclick="check(document.form.cat)">Food/Drinks Special<br>
          </div>
        </form>

      <% else %>
        <% @refincluded_tags = Channel.find(current_user.ref.to_i).included_tags %>
        <form name="form" method="post">
          <div class = "reform"> 
            <img border="0" src="http://www.randomdetox.com/wp-content/uploads/2011/09/live-music-vector_preview-50x50.jpg" alt="Live Music" width="50" height="50"><br>
            <input type="checkbox" style="vertical-align:-0.1em;" name="cat" value="<%=Tag.find_by_name("Music").id%>"  <%= (@refincluded_tags.include? Tag.find_by_name("Music").id.to_s) ? "checked" : "" %> onclick="check(document.form.cat)">Live Music<br>
          </div>
          <div class = "reform"> 
            <img border="0" src="http://www.yoga-essex.co.uk/images/featured-icon-2.jpg" alt="Fitness" width="50" height="50"><br>
            <input type="checkbox" name="cat" value="<%=Tag.find_by_name("Fitness").id%>" <%= (@refincluded_tags.include? Tag.find_by_name("Fitness").id.to_s) ? "checked" : "" %>  onclick="check(document.form.cat)">Fitness<br>
          </div>
          <div class = "reform"> 
            <img border="0" src="http://digitalethos.org/wp-content/uploads/2012/11/3rd-Generation-of-Websites-and-Inbound-Marketing-50x50.png" alt="Tech" width="50" height="50"><br>
            <input type="checkbox" name="cat" value="<%=Tag.find_by_name("Tech").id%>" <%= (@refincluded_tags.include? Tag.find_by_name("Tech").id.to_s) ? "checked" : "" %>  onclick="check(document.form.cat)">Tech<br>
          </div>
          <div class = "reform"> 
            <img border="0" src="http://avatar.hq-picture.com/avatars/img36/peace_logo_avatar_picture_43463.gif" alt="Non Profit" width="50" height="50"><br>
            <input type="checkbox" name="cat" value="<%=Tag.find_by_name("Charity / Non-Profit").id%>" <%= (@refincluded_tags.include? Tag.find_by_name("Charity / Non-Profit").id.to_s) ? "checked" : "" %>  onclick="check(document.form.cat)">Non-Profit<br>
          </div>
          <div class = "reform"> 
            <img border="0" src="http://engr.case.edu/merat_francis/eecs490f06/Images/Mona_Lisa.jpg" alt="Art" width="50" height="50"><br>
            <input type="checkbox" name="cat" value="<%=Tag.find_by_name("Art").id%>" <%= (@refincluded_tags.include? Tag.find_by_name("Art").id.to_s) ? "checked" : "" %>  onclick="check(document.form.cat)">Arts<br>
          </div>
          <div class = "reform"> 
            <img border="0" src="http://bloggeritis.com/wp-content/uploads/2012/02/Logo-Design-told-by-Kids-64x64.jpg" alt="Kid Friendly" width="50" height="50"><br>
            <input type="checkbox" name="cat" value="<%=Tag.find_by_name("Kid Friendly").id%>" <%= (@refincluded_tags.include? Tag.find_by_name("Kid Friendly").id.to_s) ? "checked" : "" %>  onclick="check(document.form.cat)">Kid Friendly<br>
          </div>
          <div class = "reform"> 
             <img border="0" src="http://static.general-play.com/thumbs/ee3/31/gp74e6fh1f5i0.jpeg" alt="Live Music" width="50" height="50"><br>
            <input type="checkbox" name="cat" value="<%=Tag.find_by_name("Romantic").id%>" <%= (@refincluded_tags.include? Tag.find_by_name("Romantic").id.to_s) ? "checked" : "" %>  onclick="check(document.form.cat)">Romantic<br>
          </div>
          <div class = "reform"> 
            <img border="0" src="http://www.lifechurch.tv/assets/jobs/icon_heart-3c3a5c611f0dd5b19b782308f3c33dbc.png" alt="LGBT" width="50" height="50"><br>
            <input type="checkbox" name="cat" value="<%=Tag.find_by_name("LGBT").id%>" <%= (@refincluded_tags.include? Tag.find_by_name("LGBT").id.to_s) ? "checked" : "" %>  onclick="check(document.form.cat)">LGBT<br>
          </div>
          <div class = "reform"> 
             <img border="0" src="http://www.goga-gastro.pl/media/products/a464b2529fcfcbb9c46f6fa954bed418/images/thumbnail/small_400104.jpg" alt="HH" width="50" height="50"><br>
            <input type="checkbox" name="cat" value="<%=Tag.find_by_name("Food/Drink Specials").id%>" <%= (@refincluded_tags.include? Tag.find_by_name("Food/Drink Specials").id.to_s) ? "checked" : "" %>  onclick="check(document.form.cat)">Food/Drinks Special<br>
          </div>
        </form>
      <% end %>
      
     </div>
    <div class="settings">
      <h2>Settings</h2>
      <%= form_for(resource, :as => resource_name, :url => "/users", :html => { :method => :put, :id => "edit_settings" }) do |f| %>
        <!-- <p><%= f.label :username %><br />
        <%= f.text_field :username %></p> -->

        <p><%= f.label :firstname %><br />
        <%= f.text_field :firstname %></p>

        <p><%= f.label :lastname %><br />
        <%= f.text_field :lastname %></p>

        <div><%= f.label :email %><br />
        <%= f.email_field :email %></div>
        <!-- <div><%= check_box("item", "done") %> <%= f.label :checkFB, "Show activities on Facebook" %></div><br /> -->
        <div><%= f.submit "Update" %><%= render :partial => "layouts/loading" %></div>
      <% end %>
    </div>

    <div class="password">
      <h2>Password</h2>
      <%= form_for(resource, :as => resource_name, :url => "/users", :html => { :method => :put, :id => "edit_password" }) do |f| %>
        <div><%= f.label :password %><br />
          <%= f.password_field :password, :autocomplete => "off" %></div>

          <div><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation %></div>

          <div><%= f.label :current_password %> <em>(we need your current password to confirm your changes)</em><br />
          <%= f.password_field :current_password %></div>

          <div><%= f.submit "Update" %><%= render :partial => "layouts/loading" %></div>
      <% end %>
    </div>
  </div>
<% end %>