<% content_for :title do %>Account<% end %>

<% content_for :content do %>
  <script type="text/javascript">
    var jcrop_api;

    $(function() {
      $('#profile-nav li').click(function() {
        $('#profile-nav li').removeClass('selected');
        $(this).addClass('selected');
        $('#profile-menu > div').removeClass('selected');
        $('#profile-menu > div:nth-child(' + ($(this).index() + 1) + ')').addClass('selected');
      });
      $('.profile .edit_user').ajaxForm({
        dataType: 'json',
        success: function() { alert('weeee'); }
      });
      $('.update-picture .edit_user').ajaxForm({
        dataType: 'json',
        success: function(user) {
          console.log(user.profilepic.url);
          $('#cropbox').attr('src',user.profilepic.url);
          $('#preview').attr('src',user.profilepic.url);
          $('.update-picture').hide();
          $('.crop-picture').show();
          $('#cropbox').Jcrop({
            aspectRatio: 1,
            onSelect: updateCrop,
            onChange: updateCrop
          },function(){
            jcrop_api = this;
          });
        }
      });
      $('.crop-picture .edit_user').ajaxForm({
        dataType: 'json',
        success: function(user) {
          $('#existing-pic').attr('src',user.profilepic.thumb.url);
          $('.crop-picture').hide();
          $('.update-picture').show();
          jcrop_api.destroy();
        }
      });
    });

    function updateCrop(coords) {
        $('#user_crop_x').val(coords.x);
        $('#user_crop_y').val(coords.y);
        $('#user_crop_w').val(coords.w);
        $('#user_crop_h').val(coords.h);
        $('#preview').css({
          width: Math.round(150 / coords.w * $('#cropbox').width()) + 'px',
          height: Math.round(150 / coords.h * $('#cropbox').height()) + 'px',
          marginLeft: '-' + Math.round(150 / coords.w * coords.x) + 'px',
          marginTop: '-' + Math.round(150 / coords.h * coords.y) + 'px'
        });
      }

      $(function() {

        $('.stream').on('click', ' .action.rename', function() {
          var id = $(this).attr('stream-id');
          var name = $(this).attr('stream-name');
          $(this).parent('.uber-title').html("<input type='text' value='" + name + "' stream-id='" + id + "'/><button class='action save' stream-id='" + id + "'>save</button><button class='action cancel' stream-id='" + id + "' stream-name='" + name + "'>cancel</button>");
          return false;
        });

        $('.stream').on('click', ' .action.save', function() {
          var that = $(this);
          var stream_name = $(this).siblings('input').val();
          var stream_id = $(this).attr("stream-id");
          $.get('/channels/rename/' + stream_id, { stream: { name: stream_name } },function(data) {
            console.log(data);
            that.parent('.uber-title').html("<span class='title'>" + stream_name + "</span><a href='' stream-id='" + stream_id + "' stream-name='" + stream_name + "' class='action rename'><span class='icon icon-edit'></span>rename</a>");
          });
        });

        $('.stream').on('click', ' .action.cancel', function() {
          var stream_name = $(this).attr("stream-name");
          var stream_id = $(this).attr("stream-id");
          $(this).parent('.uber-title').html("<span class='title'>" + stream_name + "</span><a href='' stream-id='" + stream_id + "' stream-name='" + stream_name + "' class='action rename'><span class='icon icon-edit'></span>rename</a>");
        });

        $('.stream').on('click', ' .action.delete', function() {
          if(confirm("Are you sure you want to delete '" + $(this).attr('stream-name') + "'?")) {
            var stream_id = $(this).attr("stream-id");
            $.get('/channels/destroy/' + stream_id, function(data) {
              console.log(data);
              $('.stream[stream-id=' + stream_id + ']').remove();
            });
          }
          return false;
        });
      });
  </script>
  <div id="profile-sidebar">
    <img src="/assets/profile.png" class="profile-pic"/>
    <!-- <h2><%= current_user.firstname %> <%= current_user.lastname %> </h2> -->
    <ul id="profile-nav">
      <li class="streams selected">Streams</li>
      <% if false %><!-- <li class="bookmarks">Bookmarks</li> --><% end %>
      <li class="picture">Picture</li>
      <li class="settings">Settings</li>
      <li class="password">Password</li>
    </ul>
    <%= link_to('Logout', destroy_user_session_path, :method => 'delete', :class => 'logout') %>
  </div>

  <div id="profile-menu">

    <div class="streams selected">
      <h2>Streams</h2>
      <% current_user.channels.each do |channel| %>
        <div class="stream" stream-id="<%= channel.id %>">
          <div>
            <span class="uber-title">
              <span class="title"><%= channel.name %></span>
              <a href="" stream-id="<%= channel.id %>" stream-name="<%= channel.name %>" class="action rename"><span class="icon icon-edit"></span>rename</a>
            </span>
            <a href="" stream-id="<%= channel.id %>" stream-name="<%= channel.name %>" class="action delete"><span class="icon icon-trash"></span>delete</a>
          </div>
          <div>
            <% unless (channel.search.to_s.empty?) %>
            <div><span class="filter name">search</span><span class="filter value"><%= channel.search %></span></div>
            <% end %>
            <% unless (channel.included_tags.to_s.empty?) %>
            <div><span class="filter name">tags</span><span class="filter value"><%= Tag.find(channel.included_tags.split(",")).collect { |t| t.name } * ", " %></span></div>
            <% end %>
            <% unless (false) %>
            <div><span class="filter name">time</span><span class="filter value">some time</span></div>
            <% end %>
                <!-- t.string   "day_of_week"
                t.integer  "start_seconds"
                t.integer  "end_seconds"
                t.integer  "start_days"
                t.integer  "end_days"
                t.date     "start_date"
                t.date     "end_date" -->
            <% unless (channel.low_price.to_s.empty? && channel.high_price.to_s.empty?) %>
              <% if(channel.low_price.to_s.empty?) 
                  costStr = "Under $" + channel.high_price.to_s
                 elsif(channel.high_price.to_s.empty?)
                  costStr = "Over $" + channel.low_price.to_s
                 else
                  costStr = "$" + channel.low_price.to_s + " to $" + channel.high_price.to_s
                 end
              %>
            <div><span class="filter name">cost</span><span class="filter value"><%= costStr %></span></div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <% if false %>
   <!--  <div class="bookmarks">
      <h2>Bookmarks</h2>
      <% if current_user.bookmarked_events.size > 0 %>
        <h3>Bookmarked Events</h3>
        <% current_user.bookmarked_events.each do |occurrence| %>
          <div><%= occurrence.event.title %></div>
        <% end %>
      <% end %>
      <% if current_user.bookmarked_venues.size > 0 %>
        <h3>Bookmarked Venues</h3>
        <% current_user.bookmarked_venues.each do |venue| %>
          <div><%= venue.name %></div>
        <% end %>
      <% end %>
      <% if current_user.bookmarked_acts.size > 0 %>
        <h3>Bookmarked Artists</h3>
        <% current_user.bookmarked_acts.each do |act| %>
          <div><%= act.name %></div>
        <% end %>
      <% end %>
    </div> -->
    <% end %>
    
    <div class="picture">
      <h2>Picture</h2>
      <div class="update-picture">
        <% if resource.profilepic %>
          <%= image_tag resource.profilepic_url(:thumb), :id => "existing-pic" %>
        <% end %>
        <%= form_for(resource, :as => resource_name, :url => "/users", :html => { :method => :put, :multipart => true }) do |f| %>
            <%= f.label :profilepic, "File name" %><%= f.file_field :profilepic %><br />
            <%= f.label :remote_profilepic_url, "Or image URL" %><%= f.text_field :remote_profilepic_url %>
          <div><%= f.submit "Update" %></div>
        <% end %>
      </div>
      <div class="crop-picture" style="display:none;">
        <img src="" id="cropbox" />

        <h4>Preview</h4>
        <div style="height:150px;width:150px;overflow:hidden;">
          <img src="" id="preview" />
        </div>

        <%= form_for(resource, :as => resource_name, :url => "/users", :html => { :method => :put, :multipart => true }) do |f| %>
          <div class="actions">
            <% %w[x y w h].each do |attribute| %>
              <%= f.hidden_field "crop_#{attribute}"%>
            <% end %>

            <%= f.submit "Update" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="settings">
      <h2>Settings</h2>
      <%= form_for(resource, :as => resource_name, :url => "/users", :html => { :method => :put }) do |f| %>
        <p><%= f.label :username %><br />
        <%= f.text_field :username %></p>

        <p><%= f.label :firstname %><br />
        <%= f.text_field :firstname %></p>

        <p><%= f.label :lastname %><br />
        <%= f.text_field :lastname %></p>

        <div><%= f.label :email %><br />
        <%= f.email_field :email %></div>

        <div><%= f.submit "Update" %></div>
      <% end %>
    </div>

    <div class="password">
      <h2>Password</h2>
      <%= form_for(resource, :as => resource_name, :url => "/users", :html => { :method => :put }) do |f| %>
        <div><%= f.label :password %> <em>(leave blank if you don't want to change it)</em><br />
          <%= f.password_field :password, :autocomplete => "off" %></div>

          <div><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation %></div>

          <div><%= f.label :current_password %> <em>(we need your current password to confirm your changes)</em><br />
          <%= f.password_field :current_password %></div>

          <div><%= f.submit "Update" %></div>
      <% end %>
    </div>
  </div>
<% end %>