<h1>Editing List: <%= @bookmarklist.name %></h1>
<%= link_to 'Back', bookmark_lists_path %>
<br>
<%= render 'form' %>
<br>
<table id="bookmarks-table">
	<thead>
		<tr>
			<th class="type-string" style="cursor:pointer;text-align:left;">Bookmark Type</th>
			<th class="type-string" style="cursor:pointer;text-align:left;">Name / Title</th>
			<th>delete</th>
		</tr>
	</thead>
	<tbody>
		<% Bookmark.where(:bookmark_list_id => @bookmarklist.id).each do |bm| %>
			<% if bm.bookmarked_type == "Occurrence" && Occurrence.exists?(bm.bookmarked_id)  %>
				<% occ = Occurrence.find(bm.bookmarked_id) %>
				<% if occ.event.nextOccurrence.nil? %>
						<% next %>
				<% end %>
			<% end %>
			<tr id="anchor<%=bm.id%>">
				<td>
					<% if bm.bookmarked_type == "Occurrence" %>
						Event
					<% else %>
						<%= bm.bookmarked_type %>
					<% end %>
				</td>
				<td>
					<% if bm.bookmarked_type == "Occurrence" && Occurrence.exists?(bm.bookmarked_id)  %>
						<a href="/venues/list_events/<%=occ.event.venue.id%>#anchor<%=occ.id%>" target="_blank"><%= occ.event.title %></a>
					<% elsif bm.bookmarked_type == "Venue" && Venue.exists?(bm.bookmarked_id) %>
						<% ven = Venue.find(bm.bookmarked_id) %>
						<a href="/venues/edit/<%=ven.id%>" target="_blank"><%= ven.name %></a>
					<% elsif bm.bookmarked_type == "Act" && Act.exists?(bm.bookmarked_id) %>
						<a href="/admin/artists#anchor<%=Act.find(bm.bookmarked_id).id%>" target="_blank"><%= Act.find(bm.bookmarked_id).name %></a>
					<% end %>
				</td>
				<td><%= link_to '[delete]', bm, confirm: 'Are you sure you want to delete this from the list?', method: :delete %></td>
			</tr>
		<% end %>
	</tbody>
</table>



<br>
<%= link_to 'Show', @bookmarklist %> |
<%= link_to 'Back', bookmark_lists_path %>
