<% puts "In _android_event_element.html.erb " %>
<% puts @mobileMode %>
<li linkto="event" link-id="<%= occurrence.id %>" event-id="<%= occurrence.id %>">
		
		<!-- http://www.halfpastnow.com/events/show/167474?fullmode=true -->
		<!-- <a href="localhost:3000/events/show/<%= occurrence.id %>?fullmode=true"> -->
		<!-- <a href="show/<%= occurrence.id %>?fullmode=true"> -->
		<div class="title">
			<%= truncate(occurrence.event.title, :length => 115) %>
		</div>
		<div class="venue" >@ <span class="venue-inner"><%= occurrence.event.venue.name %></span></div>
		<div class="datetime"><%= occurrence.start.to_time.strftime("%A, %B %-d at %-l:%M%P") %></div>
		<% if occurrence.event.price %>
			<div class="price"><%= occurrence.event.price ? ((occurrence.event.price != 0) ? number_to_currency(occurrence.event.price,:unit=>"$").to_s + " " : "FREE ") : "" %></div>
		<% end %>
		
		<% picklists = occurrence.event_bookmarks.collect { |b| b.bookmark_list if (b.bookmark_list && b.bookmark_list.featured) }.compact %>
		<% if picklists.size > 0 %>
		<div class="picklists">
			<% picklists.take(3).each_with_index do |pList,index| %>
				<a ><%= image_tag pList.picture_url(:mini) || "/assets/picklist-placeholder.png", :class => "picklist-picture" %></a>
				<% first_commented_occurrence = occurrence.event_bookmarks_with_comments(pList.id).first %>
				<% if first_commented_occurrence %>
				<% @comment_string = first_commented_occurrence.comment %>
				<% unless @comment_string.eql?'' %>
					<div class="event-tp-comment-<%= pList.id %>-<%=occurrence.id %> popup-comment">
						<%=  @comment_string %>
					</div>
				<% end %>
				<% end %> 
			<% end %>
			<em style="position: relative;top: -5px;margin-left: 2px;">on <%= picklists.size %> top picks <%= picklists.size == 1 ? "list" : "lists" %></em>
		</div>
		<% end %>
		

		<div class="picture">
			<img src="<%= occurrence.event.cover_image_url ? occurrence.event.cover_image_url : "/assets/placeholder.png" %>" />
			<div class="picture-overlay"></div>
		</div>
	
		
		<div style="display:none;">
			<div class="latitude"><%= occurrence.event.venue.latitude %></div>
			<div class="longitude"><%= occurrence.event.venue.longitude %></div>
		</div>
		<div class="marker-caching">
			<img src="/assets/markers/marker_<%= (index + 1) % 100 %>.png" />
			<img src="/assets/markers/marker_hover_<%= (index + 1) % 100 %>.png" />
		</div>
	</li>
