

<li linkto="event" link-id="<%= occurrence.id %>">
		
		<div class="index <%= ((index + 1) >= 100) ? "over100" : ""%>"><%= index ? (index + 1) : "" %></div>
		
		<a href="/?event_id=<%= occurrence.id %>">
		<% puts "Before crash" %>
		<% puts occurrence.id %>
		<div class="title">
			<%= truncate(occurrence.event.title, :length => 115) %>
		</div>
		<a href="/?venue_id=<%= occurrence.event.venue.id %>"><div class="venue" link-id="<%= occurrence.event.venue.id %>" linkto="venue">@ <span class="venue-inner"><%= occurrence.event.venue.name %></span></div></a>
		<div class="datetime"><%= occurrence.start.to_time.strftime("%A, %B %-d at %-l:%M%P") %></div>
		<% if occurrence.event.price %>
			<div class="price"><%= occurrence.event.price ? ((occurrence.event.price != 0) ? number_to_currency(occurrence.event.price,:unit=>"$").to_s + " " : "FREE ") : "" %></div>
		<% end %>
		<div class="tags">
			<% if occurrence.event.tags.count > 0 %>
				<% occurrence.event.tags.each do |tag| %>
					<span class="tag"><%= tag.name %></span>
				<% end %>
			<% end %>
		</div>
		<% # Adding Friends and Trendsetters' Bookmark %>
		<% # Todo:  Show 4 pictures. If both Trendsetters and Users are more than 2, show 2 pics for each%>

		<% @users =[] %>
		<% unless current_user.nil? %>
			<%	friendids = current_user.friends.collect{|f| f.id} %>
			<%	listidsss = occurrence.event_bookmarks.collect{|b| b.bookmark_list_id if (b.bookmark_list && (not b.bookmark_list.featured))} %>
			<% # Better safe than sorry %>
			<%  listidss = listidsss.reject{ |c| c.nil?} %>
			<%  listids = listidss.flatten %>
			<% if listids.size > 0 %>
				<%	eventUserids = BookmarkList.find(listids).select{|l| l.featured == false}.collect{|l| l.user_id} %>
				<%	ids = friendids & eventUserids %>
				<%  @users = User.find(ids) %>
			<% end %>
			
			
		<% end %>
		<% picklists = occurrence.event_bookmarks.collect { |b| b.bookmark_list if (b.bookmark_list && b.bookmark_list.featured) }.compact %>
		<% if (picklists.size + @users.size) > 0 %>
		<div class="picklists">
			
			<% if (picklists.size + @users.size) < 4 %>
			<% # Display all %>
				<% if picklists.size > 0 %>
					<% picklists.each_with_index do |pList,index| %>
						<a href="/picks/find/<%= pList.id %>" onMouseOver="show('.event-tp-comment-<%= pList.id %>-<%=occurrence.id %>')" onMouseOut="hide('.event-tp-comment-<%= pList.id %>-<%=occurrence.id %>')" class="picklist-link"><%= image_tag pList.picture_url(:mini) || "/assets/picklist-placeholder.png", :class => "picklist-picture" %></a>
						<% first_commented_occurrence = occurrence.event_bookmarks_with_comments(pList.id).first %>
						<% if first_commented_occurrence %>
						<% @comment_string = first_commented_occurrence.comment %>
						<% unless @comment_string.eql?'' %>
							<div class="event-tp-comment-<%= pList.id %>-<%=occurrence.id %> popup-comment">
								<%=  @comment_string %>
							</div>
						<% end %>
						<% end %> 
					<% end %>
				<% end %> 
				<% if @users.size >0 %>

					<% @users.each_with_index do |user| %>
						<% puts "Frined name "%>
						<% fname =  user.firstname+" "+user.lastname %>
						<% pic = "https://graph.facebook.com/"+user.uid.to_s+"/picture?type=square" %>
						<a href="/users/bookmark/<%=user.id%>"  class="picklist-link"><%= image_tag pic || "/assets/picklist-placeholder.png", :class => "picklist-picture", :title => fname %></a>
						
						
					<% end %>
				<% end %>
				
			<% elsif (picklists.size >= 2) && (@users.size >= 2) %>
				<% picklists.take(2).each_with_index do |pList,index| %>
						<a href="/picks/find/<%= pList.id %>" onMouseOver="show('.event-tp-comment-<%= pList.id %>-<%=occurrence.id %>')" onMouseOut="hide('.event-tp-comment-<%= pList.id %>-<%=occurrence.id %>')" class="picklist-link"><%= image_tag pList.picture_url(:mini) || "/assets/picklist-placeholder.png", :class => "picklist-picture" %></a>
						<% first_commented_occurrence = occurrence.event_bookmarks_with_comments(pList.id).first %>
						<% if first_commented_occurrence %>
						<% @comment_string = first_commented_occurrence.comment %>
						<% unless @comment_string.eql?'' %>
							<div class="event-tp-comment-<%= pList.id %>-<%=occurrence.id %> popup-comment">
								<%=  @comment_string %>
							</div>
						<% end %>
						<% end %> 
				<% end %>
				<% @users.take(2).each_with_index do |user| %>
						<% puts "Frined name "%>
						<% fname =  user.firstname+" "+user.lastname %>
						<% pic = "https://graph.facebook.com/"+user.uid.to_s+"/picture?type=square" %>
						<a href="/users/bookmark/<%=user.id%>"  class="picklist-link"><%= image_tag pic || "/assets/picklist-placeholder.png", :class => "picklist-picture", :title => fname %></a>
						
						
				<% end %>
			<% elsif (picklists.size < 2) && (@users.size >= 2) %>
				<% if picklists.size > 0 %>
					<% picklists.each_with_index do |pList,index| %>
						<a href="/picks/find/<%= pList.id %>" onMouseOver="show('.event-tp-comment-<%= pList.id %>-<%=occurrence.id %>')" onMouseOut="hide('.event-tp-comment-<%= pList.id %>-<%=occurrence.id %>')" class="picklist-link"><%= image_tag pList.picture_url(:mini) || "/assets/picklist-placeholder.png", :class => "picklist-picture" %></a>
						<% first_commented_occurrence = occurrence.event_bookmarks_with_comments(pList.id).first %>
						<% if first_commented_occurrence %>
						<% @comment_string = first_commented_occurrence.comment %>
						<% unless @comment_string.eql?'' %>
							<div class="event-tp-comment-<%= pList.id %>-<%=occurrence.id %> popup-comment">
								<%=  @comment_string %>
							</div>
						<% end %>
						<% end %> 
				<% end %>
				<% end %>
				
				<% @users.take(4-picklists.size).each_with_index do |user| %>
						<% puts "Frined name "%>
						<% fname =  user.firstname+" "+user.lastname %>
						<% pic = "https://graph.facebook.com/"+user.uid.to_s+"/picture?type=square" %>
						<a href="/users/bookmark/<%=user.id%>"  class="picklist-link"><%= image_tag pic || "/assets/picklist-placeholder.png", :class => "picklist-picture", :title => fname %></a>
						
						
				<% end %>
			<% elsif (picklists.size >= 2) && (@users.size < 2) %>
				<% picklists.take(4-@users.size).each_with_index do |pList,index| %>
						<a href="/picks/find/<%= pList.id %>" onMouseOver="show('.event-tp-comment-<%= pList.id %>-<%=occurrence.id %>')" onMouseOut="hide('.event-tp-comment-<%= pList.id %>-<%=occurrence.id %>')" class="picklist-link"><%= image_tag pList.picture_url(:mini) || "/assets/picklist-placeholder.png", :class => "picklist-picture" %></a>
						<% first_commented_occurrence = occurrence.event_bookmarks_with_comments(pList.id).first %>
						<% if first_commented_occurrence %>
						<% @comment_string = first_commented_occurrence.comment %>
						<% unless @comment_string.eql?'' %>
							<div class="event-tp-comment-<%= pList.id %>-<%=occurrence.id %> popup-comment">
								<%=  @comment_string %>
							</div>
						<% end %>
						<% end %> 
				<% end %>
				<% if @users.size > 0 %>
					<% @users.each_with_index do |user| %>
						<% puts "Frined name "%>
						<% fname =  user.firstname+" "+user.lastname %>
						<% pic = "https://graph.facebook.com/"+user.uid.to_s+"/picture?type=square" %>
						<a href="/users/bookmark/<%=user.id%>"  class="picklist-link"><%= image_tag pic || "/assets/picklist-placeholder.png", :class => "picklist-picture", :title => fname %></a>
						
						
					<% end %>
				<% end %>
				
			<% end %>

			<% # End : Adding Friends and Trendsetters' Bookmark %>

			<% message ="" %>
			<% tpmessage = (picklists.size == 0) ? "" : (picklists.size == 1 ? picklists.size.to_s + " top picks list" : picklists.size.to_s + " top picks lists") %>
			<% fmessage =  (@users.size == 0) ? "" : (@users.size == 1 ? @users.size.to_s + " friend list" : @users.size.to_s + " friends' lists") %>
			<% if (fmessage.eql? "" &&  (tpmessage.eql? "") ) %>
			<% message = "" %>
			<% elsif ((not fmessage.eql? "") &&  (tpmessage.eql? "") )%>
			<% message = "on "+fmessage %>
			<% elsif (( fmessage.eql? "") &&  ( not tpmessage.eql? "") )%>
			<% message = "on "+tpmessage %>
			<% elsif ((not  fmessage.eql? "") &&  ( not tpmessage.eql? "") )%>
			<% message = "on "+tpmessage +" and " + fmessage %>
			<% end %>
			
			
			<em style="position: relative;top: -5px;margin-left: 2px;"><%= message %></em>
		</div>
		<% end %>
		<% if ((defined? bookmarkList) && !(bookmarkList.nil?) && (bookmarkList.featured))
			list_bookmark = occurrence.event_bookmarks_with_comments(bookmarkList.id).first
				if (list_bookmark ) %>
				<div id="<%= occurrence.id %>" class="bookmark-comment"><%= list_bookmark.comment %></div>
				
				<% if (@isMyTopPicksList) && (current_user.role_at_least?("top_picker")) %>
					<div class="edit-comment-tp <%= (occurrence.all_event_bookmarks(current_user.featured_list.id).size > 0) ? "add" : "remove" %> ">
					<div class="edit-add-tp" event-id="<%= occurrence.id %>">Edit</div>
					<div class="delete-tp" event-id="<%= occurrence.id %>">Remove</div>
					<div class="<%= occurrence.id %>">
						<div class="edit-popup-box add" >
							
							<label class="edit-label" style="font-size: 16px; color:white; margin-left:10px; "> Edit comment (Optional)</label>
							<textarea class="edit-comment-text" style="color:black; font-size: 16px; margin-left:10px; width:270px; " placeholder="Comment"><%=list_bookmark.comment %></textarea>
							<button class="edit-button" onclick='return submit_edit_comment(<%= occurrence.id %>)' style="margin-right:10px; float:right;">Edit Comment</button>
							<button class="delete-btn" onclick='return deleteTP(<%= occurrence.id %>)'>UnTP</button>
						
						</div>
					</div>
					</div>
				
				<% end %>
				
			
			<% end
		end %>

		<div class="picture">
			<img src="<%= occurrence.event.cover_image_url ? occurrence.event.cover_image_url : "/assets/placeholder.png" %>" />
			<div class="picture-overlay"></div>
		</div>
	</a> 

		<div class="event-actions"> 
			<div title="Share by Email"><span class="icon icon-envelope-alt email" event-id="<%= occurrence.id %>" event-title="<%= occurrence.event.title %>" event-summary="<%=occurrence.event.description%>" event-pic="<%= occurrence.event.cover_image_url ? occurrence.event.cover_image_url : "/assets/placeholder.png" %>"></span><span class="text">email</span></div>
			<div title="Post to Facebook"><span class="icon icon-facebook-sign facebook" event-id="<%= occurrence.id %>" event-title="<%= occurrence.event.title %>" event-summary="<%=strip_tags(occurrence.event.description)%>" event-venue="<%= occurrence.event.venue.name %>" event-pic="<%= occurrence.event.cover_image_url ? occurrence.event.cover_image_url : "/assets/placeholder.png" %>"></span><span class="text">facebook</span></div>
			<div title="Post on Twitter"><span class="icon icon-twitter-sign twitter" event-id="<%= occurrence.id %>"></span><span class="text">twitter</span></div>
			<% 
				if(current_user)
			      bookmark = Bookmark.where(:bookmarked_type => 'Occurrence', :bookmarked_id => occurrence.id, :bookmark_list_id => current_user.main_bookmark_list.id).first
			      bookmarkId = bookmark.nil? ? nil : bookmark.id 
			    else
			      bookmarkId = nil
			    end 
		    %>
			<div title="Bookmark This"><span class="icon icon-bookmark <%= current_user ? "bookmark" : "" %> <%= bookmarkId ? "remove" : "add" %>" bookmark-id="<%= bookmarkId %>" <%= current_user ? "" : "linkto='shunt'" %> event-id="<%= occurrence.id %>"></span><span class="text">bookmark</span></div>
		</div>
		<div style="display:none;">
			<div class="latitude"><%= occurrence.event.venue.latitude %></div>
			<div class="longitude"><%= occurrence.event.venue.longitude %></div>
		</div>
		<div class="marker-caching">
			<img src="/assets/markers/marker_<%= (index + 1) % 100 %>.png" />
			<img src="/assets/markers/marker_hover_<%= (index + 1) % 100 %>.png" />
		</div>
	</li>
