<article class="product-item" link-id="<%= occurrence.id %>">
  <figure><a href="#">
    <!--<img src="<%#= occurrence.event.cover_image_url ? occurrence.event.cover_image_url : "/assets/placeholder.png" %>"/>-->
    <% if occurrence.event.pictures.first %>
      <img src="<%= occurrence.event.pictures.first.image_url(:full) %>" alt="Event picture" />
    <% elsif occurrence.event.acts.length != 0 && occurrence.event.acts.first.pictures.first %>
      <img src="<%= occurrence.event.acts.first.pictures.first.image_url(:full) %>" alt="occurrence pic"/>
    <% elsif occurrence.event.venue.pictures.first %>
      <img src="<%= occurrence.event.venue.pictures.first.image_url(:full) %>" alt="venue pic" />
    <% else %>
      <img src="<%= occurrence.event.cover_image_url ? occurrence.event.cover_image_url : "/assets/placeholder.png" %>" alt="cover pic" />
    <% end %>

  </a></figure>
  <div class="name"><a href="/events/austin/<%= occurrence.id %>"><%= truncate(occurrence.event.title, :length => 115) %></a></div>
  <div class="info clearfix">
    <span class="time pull-left"><%= occurrence.start.to_time.strftime("%B %-d, %-l:%M%P") %></span>
    <span class="value pull-right">
      <% if occurrence.event.price %>
      <%= occurrence.event.price ? ((occurrence.event.price != 0) ? number_to_currency(occurrence.event.price, :unit => "$").to_s + " " : "FREE ") : "" %>
  <% end %>
     </span>
  </div>
  <div class="additional-info">
    <span class="place">
      <!--<a href="/?venue_id=<%#= occurrence.event.venue.id %>">-->
        <span class="venue" link-id="<%= occurrence.event.venue.id %>" linkto="venue">@
          <span class="venue-inner"><%= occurrence.event.venue.name %></span>
        </span>
      <!--</a>-->
    </span>
    <%
       if (current_user)
         bookmark = Bookmark.where(:bookmarked_type => 'Occurrence', :bookmarked_id => occurrence.id, :bookmark_list_id => current_user.main_bookmark_list.id).first
         bookmarkId = bookmark.nil? ? nil : bookmark.id
       else
         bookmarkId = nil
       end
    %>
    <% unless user_signed_in? %>
      <a href="#" class="bookmark <%= current_user ? "bookmark" : "" %> <%= bookmarkId ? "remove" : "add" %>" bookmark-id="<%= bookmarkId %>" event-title="<%= occurrence.event.title %>" event-id="<%= occurrence.id %>" event-venue="<%= occurrence.event.venue.name %>" event-id="<%= occurrence.id %>"><img src="/assets/images/icon-bookmark.png" class="before_login" alt="Bookmark"/></a>

      <script>
          $('.before_login').click(function () {
            window.location.href = window.location.origin + "/login"
          })
      </script>
    <% else %>
      <a href="#" class="bookmark <%= current_user ? "bookmark" : "" %> <%= bookmarkId ? "remove" : "add" %>" bookmark-id="<%= bookmarkId %>" event-title="<%= occurrence.event.title %>" event-id="<%= occurrence.id %>" event-venue="<%= occurrence.event.venue.name %>" event-id="<%= occurrence.id %>"><img src="/assets/images/icon-bookmark.png" alt="Bookmark"/></a>
    <% end %>
  </div>
</article>