<li linkto="event" link-id="<%= occurrence.id %>">
	<div class="index <%= ((index + 1) >= 100) ? "over100" : ""%>"><%= index ? (index + 1) : "" %></div>
	<div class="title">
		<%= occurrence.event.title %>
	</div>
	<div class="venue" link-id="<%= occurrence.event.venue.id %>" linkto="venue"><!-- <span class="at">@</span> -->@ <span class="venue-inner"><%= occurrence.event.venue.name %></span></div>
	<div class="datetime"><%= occurrence.start.to_time.strftime("%A, %B %-d at %-l:%M%P") %></div>
	<% if occurrence.event.price %>
		<div class="price"><%= occurrence.event.price ? ((occurrence.event.price != 0) ? number_to_currency(occurrence.event.price,:unit=>"$").to_s + " " : "FREE ") : "" %></div>
	<% end %>
	<div class="tags">
		<% if occurrence.event.tags.count > 0 %>
			<% occurrence.event.tags.each do |tag| %>
				<span class="tag"><%= tag.name %></span>
			<% end %>
		<% end %>
	</div>
	<div class="picture">
		<img src="<%= occurrence.event.cover_image ?  Picture.find(occurrence.event.cover_image).image_url(:cover) : "/assets/placeholder.png" %>" />
		<div class="picture-overlay"></div>
	</div>
	<div class="event-actions">
		<div><span class="icon icon-envelope-alt email" event-id="<%= occurrence.id %>"></span><span class="text">email</span></div>
		<div><span class="icon icon-facebook-sign facebook" event-id="<%= occurrence.id %>"></span><span class="text">facebook</span></div>
		<div><span class="icon icon-twitter-sign twitter" event-id="<%= occurrence.id %>"></span><span class="text">twitter</span></div>
		<div><span class="icon icon-bookmark <%= current_user ? "bookmark" : "" %>" <%= current_user ? "" : "linkto='shunt'" %> event-id="<%= occurrence.id %>"></span><span class="text">bookmark</span></div>
	</div>
	<div style="display:none;">
		<div class="latitude"><%= occurrence.event.venue.latitude %></div>
		<div class="longitude"><%= occurrence.event.venue.longitude %></div>
	</div>
	<div class="marker-caching">
		<img src="/assets/markers/marker_<%= (index + 1) % 100 %>.png" />
		<img src="/assets/markers/marker_hover_<%= (index + 1) % 100 %>.png" />
	</div>
</li>