<article class="slide-item product-item" link-id="<%= occurrence.id %>" style="margin: 0 18px">
  <figure><a href="/events/austin/<%= occurrence.slug %>">
    <% if occurrence.event.pictures.first %>
      <img src="<%= occurrence.event.pictures.first.image_url(:full) %>" alt="Event picture" />
    <% elsif occurrence.event.acts.length != 0 && occurrence.event.acts.first.pictures.first %>
      <img src="<%= occurrence.event.acts.first.pictures.first.image_url(:full) %>" alt="occurrence pic"/>
    <% elsif occurrence.event.venue.pictures.first %>
      <img src="<%= occurrence.event.venue.pictures.first.image_url(:full) %>" alt="venue pic" />
    <% else %>
      <img src="<%= occurrence.event.cover_image_url ? occurrence.event.cover_image_url : "/assets/placeholder.png" %>" alt="cover pic" />
    <% end %>



  </a></figure>
  <div class="name"><a href="/events/austin/<%= occurrence.slug %>"><%= truncate(occurrence.event.title, :length => 115) %></a></div>
  <div class="info clearfix">
    <span class="time pull-left" time="<%= occurrence.start.to_i %>"><%= occurrence.start.to_time.strftime("%B %-d @ %-l:%M%P") %></span>
    <span class="value pull-right" price="<%= occurrence.event.price.to_f %>"><%= occurrence.event.price ? ((occurrence.event.price != 0) ? number_to_currency(occurrence.event.price, :unit => "$").to_s + " " : "FREE ") : "FREE" %></span>
  </div>
  <div class="additional-info">
    <div class="place">
      <%= link_to occurrence.venue.name.truncate(35),"/venues/austin/#{occurrence.event.venue.slug}",:style => "color:#4C334D" %>
    </div>
    <div class="place">
      <%= occurrence.venue.neighborhoods.first.name.truncate(35) rescue '' %>
    </div>


    <% bookmarks = [] %>
    <%
       if (current_user)
         bookmarks = Bookmark.where(:bookmarked_type => 'Occurrence', :bookmarked_id => occurrence.id)
       end
    %>

    <%= link_to event_bookmark_popup_path(id: occurrence.id), class: "bookmark #{current_user ? 'bookmark_' + occurrence.id.to_s : 'before_login'}", remote: true do %>
      <%= bookmarks.empty? ? image_tag("images/icon-bookmark-large.png") : image_tag("images/icon-bookmark-add-more-large.png") %>
    <% end %>
  </div>
</article>

