<article class="slide-item product-item" link-id="<%= occurrence.id %>">
  <figure><a href="/events/austin/<%= occurrence.slug %>">
    <% if occurrence.event.pictures.first %>
      <img src="<%= occurrence.event.pictures.first.image_url(:full) %>" alt="Event picture" />
    <% elsif occurrence.event.acts.length != 0 && occurrence.event.acts.first.pictures.first %>
      <img src="<%= occurrence.event.acts.first.pictures.first.image_url(:full) %>" alt="occurrence pic"/>
    <% elsif occurrence.event.venue.pictures.first %>
      <img src="<%= occurrence.event.venue.pictures.first.image_url(:full) %>" alt="venue pic" />
    <% else %>
      <img src="<%= occurrence.event.cover_image_url ? occurrence.event.cover_image_url : "/assets/placeholder.png" %>" alt="cover pic" />
    <% end %>



  </a></figure>
  <div class="name"><a href="/events/austin/<%= occurrence.slug %>"><%= truncate(occurrence.event.title, :length => 115) %></a></div>
  <div class="info clearfix">
    <span class="time pull-left"><%= occurrence.start.to_time.strftime("%B %-d @ %-l:%M%P") %></span>
    <span class="value pull-right" price="<%= occurrence.event.price.to_f %>"><%= occurrence.event.price ? ((occurrence.event.price != 0) ? number_to_currency(occurrence.event.price, :unit => "$").to_s + " " : "FREE ") : "FREE" %></span>
  </div>
  <div class="additional-info">
    <span class="place"><%= link_to occurrence.event.venue.name,"/venues/austin/#{occurrence.event.venue.slug}",:style => "color:#4C334D" %></span>
    <%
       if (current_user)
         bookmark = Bookmark.where(:bookmarked_type => 'Occurrence', :bookmarked_id => occurrence.id, :bookmark_list_id => current_user.main_bookmark_list.id).first
         bookmarkId = bookmark.nil? ? nil : bookmark.id
       else
         bookmarkId = nil
       end
    %>

      <a href="#" class="bookmark <%= current_user ? "bookmark" : "before_login" %> <%= bookmarkId ? "remove" : "add" %>" bookmark-id="<%= bookmarkId %>"  event-title="<%= occurrence.event.title %>" event-id="<%= occurrence.id %>" event-venue="<%= occurrence.event.venue.name %>" event-id="<%= occurrence.id %>"><img src="assets/new_design/icon-bookmark.png" alt="Bookmark"/></a>


  </div>
</article>