<article class="product-item" link-id="<%= venue_list.id %>">
  <figure><a href="#">
    <!--<img src="<%#= occurrence.event.cover_image_url ? occurrence.event.cover_image_url : "/assets/placeholder.png" %>"/>-->
   <% if venue_list.pictures.first %>
      <img src="<%= venue_list.pictures.first.image_url(:full) %>" alt="venue pic" />
    <% end %>

  </a></figure>
  <div class="name info" style="min-height: 20px;max-height: 54px;"><a href="/venues/austin/<%= venue_list.slug %>"><%= truncate(venue_list.name, :length => 115) %></a></div>

  <div class="additional-info" style="margin-top: -12px">
    <div class="place">
      <%= venue_list.neighborhoods.first.name.truncate(35) rescue '' %>
    </div>

    <% bookmarks = [] %>
    <%
       if (current_user)
         bookmarks = Bookmark.where(:bookmarked_type => 'Venue', :bookmarked_id => venue_list.id)
       end
    %>

    <%= link_to venue_bookmark_popup_path(id: venue_list.id), class: "bookmark #{current_user ? 'bookmark_' + venue_list.id.to_s : 'before_login'}", remote: true, metgod: :post do %>
      <%= bookmarks.empty? ? image_tag("images/icon-bookmark-large.png") : image_tag("images/icon-bookmark-add-more-large.png") %>
    <% end %>

  </div>
  <div class="place">
    <% bookmark = Bookmark.where(:bookmarked_type => 'Venue', :bookmarked_id => venue_list.id, :bookmark_list_id => bookmarkList.id).first %>

    <% if bookmark %>
      <%= bookmark.comment.truncate(80) %>
    <% end %>
  </div>
</article>

<script>

  $('.before_login').click(function () {
    window.location.href = window.location.origin + "/login"
  })
</script>