<% content_for :meta do %>
  <meta class="meta-type" property="og:type" content="website">
  <meta class="meta-url" property="og:url" content="http://www.halfpastnow.com">
  <meta class="meta-image" property="og:image" content="http://www.halfpastnow.com/assets/halfpastnow_final-square.png">
  <meta class="meta-title" property="og:title" content="half past now | your couch will miss you">
  <meta class="meta-description" property="og:description" content="Find the best events in Austin">
<% end %>
<% content_for :head do %>
  <%= javascript_tag do %>
    var user_signed_in = <%= user_signed_in? %>;
    var params = <%= raw params.to_json %>;
    var start_of_weekend = "<%= (Time.now.next_week-3.day).strftime('%m/%d/%Y') %>";
    var end_of_weekend = "<%= (Time.now.next_week-1.day).strftime('%m/%d/%Y') %>";
  <% end %>
  <%= stylesheet_link_tag "custom1","search" %>
  <% @location_page = "serach" %>
<% end %>
<% content_for :code do %>
<<<<<<< HEAD
<%# TODO: put this stuff in the controller eventually %>

	<% 	@now = DateTime.now.change(:hour => 0)
		@channels = current_user ? current_user.channels.sort_by { |channel| channel.created_at } : Channel.default_channels %>
	
	<script type="text/javascript">
		//cookie redirect

		
		
		(function ($, document, undefined) {

			var pluses = /\+/g;

			function raw(s) {
				return s;
			}

			function decoded(s) {
				return decodeURIComponent(s.replace(pluses, ' '));
			}

			var config = $.cookie = function (key, value, options) {

				// write
				if (value !== undefined) {
					options = $.extend({}, config.defaults, options);

					if (value === null) {
						options.expires = -1;
					}

					if (typeof options.expires === 'number') {
						var days = options.expires, t = options.expires = new Date();
						t.setDate(t.getDate() + days);
					}

					value = config.json ? JSON.stringify(value) : String(value);

					return (document.cookie = [
						encodeURIComponent(key), '=', config.raw ? value : encodeURIComponent(value),
						options.expires ? '; expires=' + options.expires.toUTCString() : '', // use expires attribute, max-age is not supported by IE
						options.path    ? '; path=' + options.path : '',
						options.domain  ? '; domain=' + options.domain : '',
						options.secure  ? '; secure' : ''
					].join(''));
				}

				// read
				var decode = config.raw ? raw : decoded;
				var cookies = document.cookie.split('; ');
				for (var i = 0, l = cookies.length; i < l; i++) {
					var parts = cookies[i].split('=');
					if (decode(parts.shift()) === key) {
						var cookie = decode(parts.join('='));
						return config.json ? JSON.parse(cookie) : cookie;
					}
				}

				return null;
			};

			config.defaults = {};

			$.removeCookie = function (key, options) {
				if ($.cookie(key) !== null) {
					$.cookie(key, null, options);
					return true;
				}
				return false;
			};

		})(jQuery, document);

		


		$(function() {
		  var COOKIE_NAME = 'splash-page';
		  var cookie = $.cookie(COOKIE_NAME);
		  if (cookie == null) {
		    $.cookie(COOKIE_NAME, true, { path: '/', expires: 9001 });

		  	// ** Adding this check because if a new user is directly linked to a top pick or event, it sucks to be redirected to the splash page.
		    if ((window.location.pathname === "/search") || (window.location.pathname === "/picks") || (window.location.pathname === "/")) {
		    	window.location = "/events/new_splash";
		    }
		  }
		  else {
		  }
		});


		var geocoder;
		var map;
		var markers = [];
		var tags = {};
		var channelFilters = {};

		var filter = {
		  start_days: <%= params[:start_days].coalesce_to 0 %>,
		  end_days: isNaN(parseInt("<%= params[:end_days] || 0 %>")) ? "<%= params[:end_days] %>" : <%= params[:end_days].coalesce_to 0 %>,
		  start_seconds: <%= params[:start_seconds].coalesce_to "''" %>,
		  end_seconds: <%= params[:end_seconds].coalesce_to "''" %>,
		  day: [0,1,2,3,4,5,6],
		  low_price: <%= params[:low_price].coalesce_to "''" %>,
		  high_price: <%= params[:high_price].coalesce_to "''" %>,
		  included_tags: <%= params[:included_tags] ? "[" + (params[:included_tags] * ",") + "]" : "[]" %>,
		  excluded_tags: <%= params[:excluded_tags] ? "[" + (params[:excluded_tags] * ",") + "]" : "[]" %>,
		  and_tags: <%= params[:and_tags] ? "[" + (params[:and_tags] * ",") + "]" : "[]" %>,
		  lat_min: "",
		  lat_max: "",
		  long_min: "",
		  long_max: "",
		  offset: 0,
		  search: "",
		  sort: <%= params[:sort].coalesce_to 0 %>,
		  name: "<%= params[:name].coalesce_to "" %>"
//		  start_date: "",
//		  end_date: ""
		};

		function initialize() {
			//console.log("initialize");
			//$("#map").height($(window).height() - $("#map").offset().top - 2 * parseInt($("#map").css("border-top-width")));
			geocoder = new google.maps.Geocoder();
=======
>>>>>>> 059bcf5a2945f2bcb1c9b17be77b5f4f3d6f6acf

  <script type="text/javascript">
     filter = {
      start_days: <%= params[:start_days].coalesce_to 0 %>,
      end_days: isNaN(parseInt("<%= params[:end_days] || 0 %>")) ? "<%= params[:end_days] %>" : <%= params[:end_days].coalesce_to 0 %>,
      start_seconds: <%= params[:start_seconds].coalesce_to "''" %>,
      end_seconds: <%= params[:end_seconds].coalesce_to "''" %>,
      day: [0, 1, 2, 3, 4, 5, 6],
      low_price: <%= params[:low_price].coalesce_to "''" %>,
      high_price: <%= params[:high_price].coalesce_to "''" %>,
      included_tags: <%= params[:included_tags] ? "[" + (params[:included_tags] * ",") + "]" : "[]" %>,
      excluded_tags: <%= params[:excluded_tags] ? "[" + (params[:excluded_tags] * ",") + "]" : "[]" %>,
      and_tags: <%= params[:and_tags] ? "[" + (params[:and_tags] * ",") + "]" : "[]" %>,
      lat_min: "",
      lat_max: "",
      long_min: "",
      long_max: "",
      offset: 0,
      search: "",
      sort: <%= params[:sort].coalesce_to 0 %>,
      name: "<%= params[:name].coalesce_to "" %>",
      start_date: "",
      end_date: "",
      order_time: 1,
      order_cost: 1
    };
    console.log(filter)
    console.log("inline script 46")
  </script>
<% end %>
<% content_for :body do %>

<<<<<<< HEAD
<% content_for :header do %>
	<%#= render :partial => "layouts/font_select" %>


	<div class="bar-wrapper">
		<!-- <div class="bookmarkbar">
			<div class="stay-on-target">
				<span class="stream title">Bookmarks:</span>
				<span class="stream bookmark selected" bookmark-type="event"><span class="icon icon-bolt"></span>Events</span>
				<span class="stream bookmark" bookmark-type="venue"><span class="icon icon-home"></span>Venues</span>
				<span class="stream bookmark" bookmark-type="act"><span class="icon icon-flag"></span>Performers</span>
				<span class="right filter-toggle filter-action action-streams">
					<span class="filter-text">
						<span class="pre-text"><span class="icon icon-reorder"></span>back to streams + filters</span>
					</span>
				</span>
			</div>
		</div> -->
		<div class="doublebar">
		<div class="stay-on-target bullseye-womprats">
			<div class="streambar">
				<div class="header">
					<span class="stream title">Saved Searches:</span>
					<% @selectedChannel = params[:channel_id].coalesce_to 0 %>
					<!-- <span class="stream <%= @selectedChannel == 0 ? "selected" : ""%>" channel-id="0">All Events</span> -->
					<!-- <span class="stream new" <%= current_user ? "linkto='new-channel-2'" : "linkto='shunt'" %>>+ New Stream</span> -->
					<% @channels.each do |channel| %>
						<span class="stream <%= (@selectedChannel.to_i == channel.id) ? "selected" : ""%>" stream-id="<%= channel.id %>"><%= channel.name %></span>
					<% end %>

					<span class="filter-toggle sort">
						<span class="filter-text">
							<span class="pre-text"><!-- <span class="icon icon-sort"></span> -->Sort By</span> 
							<span class="text">
								<span class="text-inner">Popularity</span>
								<span class="icon icon-caret-down"></span>
							</span>
						</span>
						<div class="filter-dropdown">
							<div class="filter-inner">
								<div class="filter sort">
									<div class="filters">
										<span class="popularity selected">popularity</span><span class="date">date</span>
									</div>
								</div>
							</div>
						</div>
					</span>

					<!-- <span class="stream bookmark">Bookmarks<span class="icon icon-bookmark"></span></span> -->
					<span class="filter-toggle filter-action action-save" <%= current_user ? "linkto='new-channel'" : "linkto='shunt'" %>>
						<span class="filter-text">
							<span class="pre-text"><span class="icon icon-plus-sign"></span>save search</span>
						</span>
					</span>
					<!-- <span class="right filter-toggle filter-action <%= current_user ? "action-bookmarks" : "" %>" <%= current_user ? "" : "linkto='shunt'" %>>
						<span class="filter-text">
							<span class="pre-text"><span class="icon icon-bookmark"></span>bookmarks</span>
						</span>
					</span> -->
				</div>
			</div>
			
			<div class="filterbar">
				<div class="header">
					<div class="toggle-wrapper">
						<span class="filter-toggle search">
							<span class="filter-text">
								<span class="pre-text"><span class="icon icon-search"></span></span>
								<span class="text">
									<span class="text-inner"><input type="text" class="search-input" /></span>
								</span>
							</span>
						</span>
						<span class="filter-toggle tags ortags">
							<span class="filter-text">
								<span class="pre-text"><!-- <span class="icon icon-tags"></span> -->Categories</span>
								<span class="text">
									<span class="text-inner">Any Category</span>
									<span class="icon icon-caret-down"></span>
								</span>
							</span>
							<div class="filter-dropdown">
								<div class="filter-inner">
									<%= render :partial => "tag_list", :locals => { :tagCounts => @tagCounts, :parentTags => @parentTags } %>
								</div>
							</div>
						</span>

						<span class="filter-toggle tags andtags">
							<span class="filter-text">
								<span class="pre-text"><!-- <span class="icon icon-tags"></span> -->Tags</span>
								<span class="text">
									<span class="text-inner">Any Tag</span>
									<span class="icon icon-caret-down"></span>
								</span>
							</span>
							<div class="filter-dropdown">
								<div class="filter-inner">
									<%= render :partial => "andtags_list", :locals => { :tagCounts => @tagCounts}  %>
								</div>
							</div>
						</span>

						<span class="filter-toggle date">
							<span class="filter-text">
								<span class="pre-text"><!-- <span class="icon icon-time"></span> -->Time</span>
								<span class="text">
									<span class="text-inner">Today</span>
									<span class="icon icon-caret-down"></span>
								</span>
							</span>
							<div class="filter-dropdown">
								<div class="filter-inner">
									<div class="filter date">
										<div class="filters">
											<span class="any">any day</span><span class="today selected">today</span><span class="tomorrow">this week</span><span class="custom">custom</span>
										</div>
										<div>
											<div class="custom-select">
												<div class="any time-range"></div>									
												<div class="time-range-hashes">
													<div>3 AM</div>
													<div>6 AM</div>
													<div>9 AM</div>
													<div>Noon</div>
													<div>3 PM</div>
													<div>6 PM</div>
													<div>9 PM</div>
												</div>
												<div class="any time-display">any time</div></div>
											<div class="custom-select selected">
												<div class="today time-range"></div>										
												<div class="time-range-hashes">
													<div>3 AM</div>
													<div>6 AM</div>
													<div>9 AM</div>
													<div>Noon</div>
													<div>3 PM</div>
													<div>6 PM</div>
													<div>9 PM</div>
												</div>
												<div class="today time-display">any time</div>
											</div>
											<div class="custom-select">
												<div class="day-of-week">
													<% dayOfWeek = Date.today() %>
													<% 7.times do %>
														<div day-of-week="<%= dayOfWeek.to_time.strftime("%w") %>"><div class="day"><%= dayOfWeek.to_time.strftime("%a") %></div><div class="date"><%= dayOfWeek.to_time.strftime("%b %-d") %></div></div>
														<% dayOfWeek = dayOfWeek + 1 %>
													<% end %>
												</div>
												<div class="tomorrow time-range"></div>										
												<div class="time-range-hashes">
													<div>3 AM</div>
													<div>6 AM</div>
													<div>9 AM</div>
													<div>Noon</div>
													<div>3 PM</div>
													<div>6 PM</div>
													<div>9 PM</div>
												</div>
												<div class="tomorrow time-display">any time</div>
											</div>
											<div class="custom-select">
												<span class="icon icon-calendar"></span><input type="text" class="custom-start"/> to <span class="icon icon-calendar"></span><input type="text" class="custom-end"/>
												<div class="custom time-range"></div>									
												<div class="time-range-hashes">
													<div>3 AM</div>
													<div>6 AM</div>
													<div>9 AM</div>
													<div>Noon</div>
													<div>3 PM</div>
													<div>6 PM</div>
													<div>9 PM</div>
												</div>
												<div class="custom time-display">any time</div>
												<!-- <div class="custom date-range"></div>
												<div class="custom date-display">today</div> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</span>
						<span class="filter-toggle price">
							<span class="filter-text">
								<span class="pre-text"><!-- <span class="icon icon-credit-card"></span> -->Cost</span> 
								<span class="text">
									<span class="text-inner">Any Price</span>
									<span class="icon icon-caret-down"></span>
								</span>
							</span>
							<div class="filter-dropdown">
								<div class="filter-inner">
									<div class="price-free-button nice-button">Free</div>
									<div class="col-2">
										<div class="price-range"></div>
										<div class="price-range-hashes">
											<div>5</div>
											<div>10</div>
											<div>15</div>
											<div>20</div>
											<div>25</div>
											<div>30</div>
											<div>35</div>
											<div>40</div>
											<div>45</div>
										</div>
										<div class="price-display">any price</div>
									</div>
								</div>
							</div>
						</span>
						<span class="filter-toggle filter-action action-clear">
							<span class="filter-text">
								<span class="pre-text"><span class="icon icon-remove-sign"></span>clear</span>
							</span>
						</span>
					</span>
					</div>
				</div>
			</div>
			
		</div>
		</div>
	</div>
	<!-- <div class="expandobar">
		<div class="subbar">
			<div class="sort-by">Sorted by <span class="sort selected" sort-type="popularity">popularity</span> / <span class="sort" sort-type="date">date</span></div>
			<div class="num-occurrences">showing <span class="num-occurrences-count"><%= @allOccurrences.size %></span> events</div>
		</div>
		<div class="expandobar-inner">
			<span>&#9660;</span>show advanced options<span>&#9660;</span>
		</div>
	</div> -->

=======
  <section class="search">

    <div class="tabs">
      <div class="container">
        <ul class="nav nav-tabs" id="search-tab">
          <li class="events_tab active"><a data-toggle="tab" tag_id="0" tag_type="all" href="#events">Events</a></li>
          <% if user_signed_in? %>
            <% @saved_search.each do |search| %>
              <li class="related_events">
                <a data-toggle='tab' href="#related_events" key_id="<%= search.id %>" tag_type="<%= search.tag_type.nil? ? "nil" : search.tag_type %>" tag_id="<%= search.tag_id.nil? ? search.tag_id.to_i : search.tag_id.to_i %>" key="<%= search[:search_key] %>"><%= search[:search_key].gsub("_", " ") %>
                  <i class='icon-cross'></i></a></li>
            <% end %>
          <% end %>

        </ul>
      </div>

      <div class="tab-content">
        <div id="events" class="tab-pane fade in active">
          <div class="sort-panel filter-toggle price date">
            <div class="container">
        <span class="sort-item">
          <a href="#"><span class="filter-text" id=""><i class="icon-bottom-arrow"></i>Date</span></a>
          <div style="width: 340px !important;" class="popover bottom">
            <div class="arrow"></div>
            <div class="popover-content clearfix">
              <a class="btn btn-danger popover_dates" href="#" tag_id="0" tag_type="today">Today</a>
              <a class="btn btn-danger popover_dates" href="#" tag_id="0" tag_type="tomorrow">Tomorrow</a>
              <a class="btn btn-danger popover_dates" href="#" tag_id="0" tag_type="weekend">weekend</a>

              <label class="ui-input-text" for="from" style="margin-top:25px;">or custom</label>
              <input type="text" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset custom-start" id="from" name="from" style="width:115px;float:left;">
              <label class="ui-input-text" for="to" style="float: left; text-transform: none; font-size: 120%; margin-right: 11px; margin-left: 11px;">to</label>
              <input type="text" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset custom-end" id="to" name="to" style="width:115px;">
            </div>
          </div>
        </span>
        <span class="sort-item">
          <a href="#" class="ui-link"><i class="icon-bottom-arrow"></i>Time</a>
          <div style="display: none;" class="popover bottom">
            <div class="arrow"></div>
            <div class="popover-content clearfix">
              <label for="time" class="ui-input-text">After</label>
              <input type="text" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset timepicker" value="">
            </div>
          </div>
        </span>
        <span class="sort-item">
          <a href="#" class="ui-link"><span class="filter-text" id=""><i class="icon-bottom-arrow"></i>Cost</span></a>
          <div style="display: none;" class="popover bottom">
            <div class="arrow"></div>
            <div class="popover-content clearfix">
              <label for="cost" class="ui-input-text cvalue">Less than $50</label>

              <div class="left">
                <span class="option">Free</span>
                <span class="option">$5</span>
                <span class="option">$10</span>
                <span class="option">$20</span>
                <span class="option">$30</span>
                <span class="option">$40</span>
                <span class="option">$50+</span>
              </div>
              <div class="right">
                <!--<div id="slider-vertical"></div>-->
                <input type="number" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset ui-slider-input" style="display:none;" min="0" max="50" value="50" step="5" name="slider-step" id="slider-step" sliderorientation="vertical" data-type="range">
              </div>
            </div>
          </div>
        </span>
        <span class="sort-item">
          <a href="#" class="ui-link"><i class="icon-bottom-arrow"></i>Sort</a>
          <div style="display: none;" class="popover bottom">
            <div class="arrow"></div>
            <label class="cost_sort asc_btn" data-type="cost_sort" data-sort_on="price" data-sort_by="span.value"><span class="icon-hand-up"></span>COST</label>
            <label class="cost_sort desc_btn" data-type="cost_sort" data-sort_on="price" data-sort_by="span.value"><span class="icon-hand-down"></span>COST</label>
            <br>
            <label class="time_sort asc_btn" data-type="time_sort" data-sort_on="time" data-sort_by="span.time"><span class="icon-hand-up"></span>TIME</label>
            <label class="time_sort desc_btn" data-type="time_sort" data-sort_on="time" data-sort_by="span.time"><span class="icon-hand-down"></span>TIME</label>
          </div>
        </span>
        <span class="sort-item">
          <a href="#" class="ui-link"><i class="icon-bottom-arrow"></i>Neighborhood</a>
         <div style="display: none;width: 400px;" class="popover bottom">
           <div class="arrow"></div>
           <div style="max-height: 200px;overflow-y:auto">
             <table class="neighborhood_names_list table-bordered table-condensed">
               <% @all_neighborhoods.each_slice(2) do |nhs| %>
                 <tr>
                   <% nhs.each do |nh| %>
                     <td width="180px" data-id="<%= nh.id %>"><%= nh.name %></td>
                   <% end %>
                 </tr>
               <% end %>
             </table>
           </div>
         </div>
        </span>
            </div>


          </div>
          <% cache("search_index_events", expires_in: 1.day) do %>
            <div class="content main" style="padding-top:60px">
              <div class="container inline">

                <div class="container head">
                  <div class="pull-left">
                    <h2 class="text-info"><span class="total_number"> <%= @allOccurrences.count %> </span> results for
                      <span id="search_name1">all events</span></h2>

                    <div>
                      <span class="text-info"><b>Date:&nbsp;&nbsp;</b><span class="date_search"></span></span><br>
                      <span class="text-info"><b>Time:&nbsp;&nbsp;</b><span class="time_search"></span></span> <br>
                      <span class="text-info"><b>Cost:&nbsp;&nbsp;</b><span class="cost_search"></span></span>
                    </div>
                  </div>
                  <div class="pull-right" style="max-height: 100px !important;max-width: 550px !important;overflow: hidden !important;">
                    <% if @banner_advertisement.present? %>
                      <div class="ad-details" data-id="<%= @banner_advertisement.id %>" data-prop="clicks" data-value="<%= @banner_advertisement.clicks.to_i + 1 %>">
                        <%= link_to @banner_advertisement.target_url.present? ? @banner_advertisement.target_url : '#', target: :_blank, class: "pull-right" do %>
                          <%= image_tag @banner_advertisement.image.full, alt: "Advertisement" %>
                        <% end %>
                      </div>
                    <% else %>
                      <img alt="" src="assets/ad.jpg" class="pull-right">
                    <% end %>

                  </div>
                </div>

                <section class="product-list clearfix events">
                  <%= will_paginate @occurrences, previous_label: h("<"), next_label: h(">"), class: "flickr_pagination" %>

                  <% @occurrences.each_with_index do |occurrence, index| %>
                    <% if index == 2 and !@advertisement.nil? %>
                      <%= render :partial => "events/search_ads", :locals => {:advertisement => @advertisement} %>
                    <% else %>
                      <%= render :partial => "events/new_splash_event_element", :locals => {:occurrence => occurrence} %>
                    <% end %>
                  <% end %>

                </section>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <div style='display:none'>
    <div id='save_share_content' style='padding:10px; background:#fff;'>
      <p class="text-center">

      <h3>Your search is saved successfully</h3></p>

      <p><a id="share" href="#" class='btn btn-primary'>Click Me</a>&nbsp; If you wish to share this search</p>


    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade hide" id="bookmark_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index:11 !important;top:20% !important;">

  </div>
  <!-- /.modal -->


  <%= javascript_include_tag "search.js" %>
>>>>>>> 059bcf5a2945f2bcb1c9b17be77b5f4f3d6f6acf
<% end %>


<<<<<<< HEAD
<!-- crazy egg -->
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0014/9731.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
<% end %>
<% content_for :overlay do %>
	<div class="mode">
		<div class="overlay">
			<div class="insert-point">
				<div class="window">
				</div>
			</div>
		</div>
	</div>
<% end %>
=======

>>>>>>> 059bcf5a2945f2bcb1c9b17be77b5f4f3d6f6acf

