

<% content_for :title do %>
	<%= render :partial => "layouts/bookmark", :locals => { :element => @occurrence } %>
	<h1><%= @event.title %></h1>
<% end %>

<% content_for :body do %>
<%= javascript_include_tag "galleria-1.2.8.min" %>

	<ul class="sub-header">
		<li><%= @occurrence.start.to_time.strftime("%a %B %d at %I:%M%p") %></li>
		<% if @event.price %>
			<li><%= @event.price != 0 ? "$" + number_with_precision(@event.price, :precision => 2) : "FREE" %></li>
		<% end %>
		<% unless @event.tags.length == 0 %>
			<li><%= @event.tags.collect { |tag| tag.name } * " / " %></li>
		<% end %>
	</ul>
	<div class="col-1">
		<% unless @event.description.to_s.empty? %>
			<div class="description block">
				<h2>Details</h2>
				<div class="block-inner">
					<%= raw(@event.description) %>
				</div>
			</div>
		<% end %>
		<% unless @event.acts.length == 0 %>
			<div class="featuring block">
				<h2>Featuring</h2>
				<div class="block-inner">
					<% @event.acts.each_with_index do |act,index| %>
						<span link-id="<%= act.id %>" linkto="act" class="act-name"><%= act.name %></span><%= (index != @event.acts.length - 1) ? ", " : "" %>
					<% end %>
					<div class="embeds">
					<% @event.acts.each do |act| %>
						<% act.embeds.select { |e| e.primary }.each do |embed| %>
							<div class="embed-act-name"><%= act.name %></div>
							<%= raw(embed.source) %>
						<% end %>
					<% end %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<div class="col-2">
		<div class="block">
			<a class="map-link" href="http://maps.google.com/maps?q=<%= @event.venue.latitude %>,<%= @event.venue.longitude %>" style="float: left;"><img class="map" src="http://maps.googleapis.com/maps/api/staticmap?size=402x300&zoom=15&maptype=roadmap&markers=color:red%7C<%= @event.venue.latitude %>,<%= @event.venue.longitude %>&style=feature:all|hue:0x000001|saturation:-50&sensor=false"/></a>
			<div class="block-inner">
				<div class="venue"><a linkto="venue" link-id="<%= @event.venue.id %>" href="#"><%= @event.venue.name %></a></div>
				<div class="address one"><%= @event.venue.address %></div>
				<div class="address two"><%= @event.venue.city + ", " + @event.venue.state + " " + @event.venue.zip.to_s %></div>
			</div>
		</div>

		<div id="galleria">
			<% unless @event.venue.fb_picture.blank?%>
				<img src="<%=@event.venue.fb_picture%>" data-title="<%= @event.venue.name %>" >
			<% end %>
            <% @event.venue.pictures.each do |pic| %>
			    <a href="<%=pic.image_url(:large).to_s%>"><img src="<%=pic.image_url(:tiny).to_s%>" data-title="<%= @event.venue.name %>" data-big="<%=pic.image_url(:full).to_s%>" ></a>
		    <% end %>

		    <% unless @event.fb_picture.blank?%>
				<img src="<%=@event.fb_picture%>" data-title="<%= @event.title %>" >
			<% end %>
		    <% @event.pictures.each do |pic| %>
				<a href="<%=pic.image_url(:large).to_s%>"><img src="<%=pic.image_url(:tiny).to_s%>" data-title="<%= @event.title.first(25) %>" data-big="<%=pic.image_url(:full).to_s%>" ></a>
		    <% end %>

		    <% @event.acts.each do |artists| %>
			    <% unless artists.fb_picture.blank?%>
					<img src="<%= artists.fb_picture %>" data-title="<%= artists.name %>" >
				<% end %>
		    	<% artists.pictures.each do |pic| %>
		    		<a href="<%=pic.image_url(:large).to_s%>"><img src="<%=pic.image_url(:tiny).to_s%>" data-title="<%= artists.name %>" data-big="<%=pic.image_url(:full).to_s%>" ></a>
		    	<% end %>
		    	<br>
		    <% end %>
        </div>
        <script>
            Galleria.loadTheme('assets/galleria.classic.min.js');
            $('#galleria').galleria({
		        width:400,
		        height:300,
		        lightbox:true
		    });
        </script>

		<% unless @occurrences.length == 0 && @recurrences.length == 0 %>
		<div class="calendar block">
			<h2>Other Times</h2>
			<div class="block-inner">
				<%= render :partial => "events/calendar", :locals => { :occurrences => @occurrences, :recurrences => @recurrences, :options => { :datetime_only => true } } %>
			</div>
		</div>
		<% end %>
	</div>

	<div class="clear"></div>
<% end %>



<% if false %><!--
	<div class="col-2">
		<div class="block">

			<% bkmrk = Bookmark.new %>

			<%= form_for bkmrk, :url => "/bookmarks/create" do |f| %>
				<div><%= f.hidden_field :bookmarked_id, :value => @occurrence.id %></div>
				<div><%= f.hidden_field :bookmarked_type, :value => "Occurrence" %></div>
					<div><%= f.hidden_field :user_id, :value => current_user.id %></div>
				<%= f.submit "Bookmark!" %>
			<% end %>

			<br>Bookmarked by: </br>
			<% @bookmarked_by = @occurrence.bookmarks %>
			<ol>
				<% @bookmarked_by.each do |b| %>
					<li><%= b.user_id %></li>
				<% end %>
			</ol>

		</div>


		<div class="block">

			<% hist = History.new %>

			<%= form_for hist, :url => "/histories/create" do |f| %>
				<div><%= f.hidden_field :occurrence_id, :value => @occurrence.id %></div>
				<div><%= f.hidden_field :user_id, :value => current_user.id %></div>
				<%= f.submit "Done it!" %>
			<% end %>

			<br>Others that have been here: </br>
			<% @done_by = @occurrence.histories %>
			<ol>
				<% @done_by.each do |d| %>
					<li><%= d.user_id %></li>
				<% end %>
			</ol>

		</div>


	</div>-->
<% end %>