<!DOCTYPE html>
<html>
<head>
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "jquery_ujs" %>
	<%= javascript_include_tag "dropkick" %>
	<%= stylesheet_link_tag "dropkick" %>
  	<%= stylesheet_link_tag "splash" %>
  	
  	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic,'>

	<title>half past now.</title>

</head>
<body>
	<script type="text/javascript">
		$(function() {
			$('.stream').dropkick({ width: 200, display: "inline-block" });
			$('.datetime').dropkick({ width: 200, display: "inline-block" });
			$('.go-button').click(function() {
				var dateTimeParams = "";
				var streamParams = ""
				console.log($('.datetime').val());
				switch($('.datetime').val()) {
					case "today":
						dateTimeParams = "option_day=1&start_days=0&end_days=0";
						break;
					case "tonight":
						dateTimeParams = "option_day=1&start_days=0&end_days=0&start_seconds=64800&end_seconds=86400";
						break;
					case "any":
						dateTimeParams = "option_day=0&start_days=0&end_days=-1";
						break;
				}

				if($('.stream').val() != "0") {
					streamParams = "channel_id=" + $('.stream').val(); 
				}

				window.location = "/?" + dateTimeParams + "&" + streamParams;
			});
		});
	</script>
	<div id="content-outer">
		<div id="content">
			<!-- <h1>half past now.</h1> -->
			<div class="info-line">
				<img src="/assets/halfpastnow_final_beta-squat.png" class="logo"/>
				<div class="description"><strong>half past now</strong> helps you find out the things that are going on in Austin that interest you, and share them with your friends. Wait. Why are you reading this, anyway? Try this thing out already. Click on that button below. Click it!</div>
			</div>
			<div class="search-line">
				<span>Show me</span>&nbsp;
				<select name="stream" tabindex="1" class="stream">
				  <option value="0">All Events</option>
				  <% Channel.default_channels.each do |channel| %>
				  	<option value="<%= channel.id %>"><%= channel.name %></option>
				  <% end %>
				</select>
				&nbsp;in Austin&nbsp;
				<select name="datetime" tabindex="2" class="datetime">
				  <option value="today">Today</option>
				  <option value="tonight" selected="selected">Tonight</option>
				  <option value="any">Any Day</option>
				</select>&nbsp;
				<input class="go-button" type="submit" value="show me" />
			</div>
		</div>
	</div>
</body>
</html>