<div id="form_events">
<script type="text/javascript">
	 $(function() {
	 	generateValidator("#edit_venue_<%= @venue.id %>");

	 	// toggle recurring disables/enables form elements
	 	
	 	/*
	 	$("#form_events .toggle-recurring input").attr('checked', false);
	 	$("#form_events .new-recurrence select, #form_events .new-recurrence input").attr('disabled','disabled');
		$("#form_events .toggle-recurring input").change(function() {
			if($(this).attr('checked')) {
				$(this).parent().siblings(".new-occurrence").find("select, input").attr('disabled','disabled');
				$(this).parent().siblings(".new-recurrence").find("select, input").removeAttr('disabled');
			} else {
				$(this).parent().siblings(".new-recurrence").find("select, input").attr('disabled','disabled');
				$(this).parent().siblings(".new-occurrence").find("select, input").removeAttr('disabled');
			}
			$(this).parent().siblings(".new-occurrence").toggle();
			$(this).parent().siblings(".new-recurrence").toggle();
		});

		$("#form_events .new-occurrence .field select[name*=4i], #form_events .new-occurrence .field select[name*=5i]").val("");

		$("#form_events .new-recurrence select[name*=interval]").change(function() {
			$(this).siblings(".recur-parameter").hide();
			switch($(this).val())
			{
				case "0":
					$(this).siblings(".recur-parameter.day").show(); break;
				case "1":
					$(this).siblings(".recur-parameter.day-of-week").show(); break;
				case "2":
					$(this).siblings(".recur-parameter.day-of-month").show(); break;
				case "3":
					$(this).siblings(".recur-parameter.day-of-week").show();
					$(this).siblings(".recur-parameter.week-of-month").show(); break;
			}
		});

		$("#form_events .new-recurrence select[name*=interval]").change();

		$("#form_events .main.event.new input.title").change(function() {
			if($(this).val() == "") {
				$(this).removeClass("required");
				$("#form_events .main.event.new .start-time").removeClass("required");
			} else {
				$(this).addClass("required");
				$("#form_events .main.event.new .start-time").addClass("required");
			}
		});

		$("#form_events .main.event.new input.title").change();*/
	 });
</script>


<% @ordinal = ["th","st","nd","rd","th","th","th","th","th","th"] %>
<% @week = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"] %>

<%= form_for @venue, :url => "/venues/update/" + @venue.id.to_s , :validate => true do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% @i = 0; @venue.events.sort_by{ |event| event.id || 0 }.each do |event| %>
    <% @iStrName = "venue[events_attributes][" + @i.to_s + "][tag_ids][]" %>
    <% @iStrId = "venue_events_attributes_" + @i.to_s + "_tag_ids_" %>
    <%= f.fields_for :events, event do |e| %>
      <div class="main event<%= event.id ? "" : " new"%>">

	<%= event.id.nil? ? raw("<h4>New Event</h4>") : "" %>
	<%= event.user_id ? raw("<em>created by " + event.user.email + "</em><br /><br />") : "" %>
	<div class="field">
	  <%= e.label :title %>
	  <%= e.text_field :title, :class => "title required" %>
	</div>
	<div class="field">
	  <%= e.label :description %>
	  <%= e.text_area :description %>
	</div>
	<div class="field">
	  <%= e.label :price %>
	  <%= e.text_field :price, :class => "price" %>
	</div>

	<%= render :partial => "tags", :locals => { :event => event } %>

	<%= render :partial => "occurrences_recurrences", :locals => { :e => e, :event => event } %>
	
	<% if !event.id.nil? %>
	  <div class="remove">
	    <%= e.check_box :_destroy %>
	    <%= e.label :_destroy, "remove event" %>
	  </div>
	<% end %>
      </div>
    <% end %>
    <% @i += 1 %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>