<script type="text/javascript">
  var geocoder;
  var map;
  var marker = null;
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(30.25, -97.75);
    var myOptions = {
      zoom: 8,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map($("#map_canvas")[0], myOptions);
    codeAddress();
  }

  function codeAddress() {
    var address = ($("#venue_address").val() != "") ? $("#venue_address").val() + " " + $("#venue_city").val() + ", " + $("#venue_state").val() + " " + $("#venue_zip").val() : "Austin, TX";
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
	if(marker) 
	  marker.setMap(null);
	map.setCenter(results[0].geometry.location);
	marker = new google.maps.Marker({
	    map: map,
	    position: results[0].geometry.location
	});
	$("#venue_latitude").val(results[0].geometry.location.lat());
	$("#venue_longitude").val(results[0].geometry.location.lng());
      } else {
	console.log("Geocode was not successful for the following reason: " + status);
      }
    });
  }

  $(function() {
    $(".location").blur(codeAddress);
    generateValidator("#venue_settings");
  });

</script>


<% @parentTags = Tag.all(:conditions => {:parent_tag_id => nil}) %>

<% if @venue.id %>
 <% @do512RawVenue = @venue.raw_venues.find { |rv| rv.from == "do512" } %>
 <% if @do512RawVenue %>
  <a href="" onclick="$(this).hide();$('#do512-form').show();return false;">Edit Do512 RSS feed link</a>
  <form action="/venues/editRawVenue/<%= @venue.id %>" style="display:none;" id="do512-form">
    <label>Do512 RSS feed link</label>
    <input type="text" name="rawVenueFullString" style="width:250px;" value="<%= @do512RawVenue.events_url %>"/>
    <input type="submit" />
  </form>
  <% else %>
  <a href="" onclick="$(this).hide();$('#do512-form').show();return false;">Link with Do512 RSS feed</a>
  <form action="/venues/editRawVenue/<%= @venue.id %>" style="display:none;" id="do512-form">
    <label>Venue URL String</label>
    <input type="text" name="rawVenueString" style="width:250px;"/>
    <input type="submit" />
  </form>
  <% end %>
<% end %>

<%= form_for @venue, :url => @venue.id ? "/venues/update/" + @venue.id.to_s : "/venues/create", :html => { :id => "venue_settings" } do |f| %>
   <div class="main settings">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :class => 'required' %>
    </div>
    <div class="field">
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, :class => 'cleditor' %>
    </div>
    <div class="field">
      <%= f.label :phonenumber %>
      <%= f.text_field :phonenumber %>
    </div>
    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address, :class => 'location required' %>
    </div>
    <div class="field">
      <%= f.label :address2 %>
      <%= f.text_field :address2 %>
    </div>
    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city, :class => 'location required' %>
    </div>
    <div class="field">
      <%= f.label :state %>
      <%= f.text_field :state, :class => 'location required' %>
    </div>
    <div class="field">
      <%= f.label :zip %>
      <%= f.text_field :zip, :class => 'location required' %>
    </div>
    <% if false %>
    <div class="tags field">
    <label>Tags</label>
    <div class="input-tags">
    <% @parentTags.each do |tag| %>
      <div class="parent tag">
        <%= check_box_tag "venue[tag_ids][]", tag.id, @venue.tags.include?(tag), :id => "venue_tag_ids_" + tag.id.to_s %>
        <%= label_tag "venue[tag_ids][]", tag.name, :for => "venue_tag_ids_" + tag.id.to_s %>
      </div>
      <div class="children">
      <% tag.childTags.each do |childTag| %>
        <div class="child tag">
          <%= check_box_tag "venue[tag_ids][]", childTag.id, @venue.tags.include?(childTag), :id => "venue_tag_ids_" + childTag.id.to_s %>
          <%= label_tag "venue[tag_ids][]", childTag.name, :for => "venue_tag_ids_" + childTag.id.to_s %>
        </div>
      <% end %>
      </div>
    <% end %>
    </div>
  </div>
  <% end %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
  </div>
  <div id="map_canvas"></div>
  <div class="actions">
    <%= f.submit %>
    <a href="/venues/delete/<%= @venue.id %>" data-confirm="Are you sure you want to delete this venue?">Delete Venue</a>
  </div>
<% end %>
