<% content_for :head do %>
<%= stylesheet_link_tag "jcrop" %>
<% end %>

<script type="text/javascript">
  var geocoder;
  var map;
  var marker = null;
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(30.25, -97.75);
    var myOptions = {
      zoom: 13,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map($("#map_canvas")[0], myOptions);
    codeAddress();
  }

  function codeAddress() {
    var address = ($("#venue_address").val() != "") ? $("#venue_address").val() + " " + $("#venue_city").val() + ", " + $("#venue_state").val() + " " + $("#venue_zip").val() : "Austin, TX";
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
  if(marker) 
    marker.setMap(null);
  map.setCenter(results[0].geometry.location);
  marker = new google.maps.Marker({
      map: map,
      position: results[0].geometry.location
  });
  $("#venue_latitude").val(results[0].geometry.location.lat());
  $("#venue_longitude").val(results[0].geometry.location.lng());
      } else {
  console.log("Geocode was not successful for the following reason: " + status);
      }
    });
  }

  $(function() {
    $('.actions').click(function() {
      console.log("clickity")
      $('<div class="form-load">Updating... &#8634;</div>').prependTo('.actions');
    });

    $(".location").blur(codeAddress);
    generateValidator("#venue_settings");
  });

  $(window).load(initialize);

</script>


<% @parentTags = Tag.all(:conditions => {:parent_tag_id => nil}) %>
<br>
<% if @venue.id %>
 <% @do512RawVenue = @venue.raw_venues.find { |rv| rv.from == "do512" } %>
 <% if @do512RawVenue %>
  <a class="do512" href="" onclick="$(this).hide();$('#do512-form').show();return false;">Edit Do512 RSS feed link</a>
  <form action="/venues/editRawVenue/<%= @venue.id %>" style="display:none;" id="do512-form">
    <label>Do512 RSS feed link</label>
    <input type="text" name="rawVenueFullString" style="width:250px;" value="<%= @do512RawVenue.events_url %>"/>
    <input type="submit" />
  </form>
  <% else %>
  <a class="do512" href="" onclick="$(this).hide();$('#do512-form').show();return false;">Link with Do512 RSS feed</a>
  <form class="do512" action="/venues/editRawVenue/<%= @venue.id %>" style="display:none;" id="do512-form">
    <label>Venue URL String</label>
    <input type="text" name="rawVenueString" style="width:250px;"/>
    <input type="submit" />
    <div id="urlexample">Ex. http://www.do512.com/venue/  <b>this_is_the_venue_URL_string</b></div>
  </form>
  <% end %>
<% end %>
<br><br>
<div class="venue-link"><a href="/?venue_id=<%=@venue.id%>" target="_blank">Live Page</a></div>

<%= form_for @venue, :url => @venue.id ? "/venues/update/" + @venue.id.to_s : "/venues/create", :html => { :id => "venue_settings", :multipart => true } do |f| %>
   <div class="main settings">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :class => 'required' %>
    </div>
    <div class="field">
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>

    <div class="links-list" style="font-size:small;color:gray;font-style:italic;">
      <% if !EventfulData.where(:element_type => "Venue", :element_id => @venue.id, :data_type => "link").empty? %>Possible event links scraped from Eventful (copy into above field if desired):<br><% end %>
      <% EventfulData.where(:element_type => "Venue", :element_id => @venue.id, :data_type => "link").each do |d| %>
        <% unless d.data.include? "reverbnation" %>
          <%= d.data2 %>: <a href="<%=d.data %>" target="_blank"><%= d.data %></a><br>
        <% end %>
      <% end %>
      <br>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, :class => 'cleditor' %>
    </div>
    <div class="field">
      <%= f.label :hours %>
      <%= f.text_area :hours, :class => 'cleditor' %>
    </div>
    <div class="field">
      <%= f.label :phonenumber %>
      <%= f.text_field :phonenumber %>
    </div>
    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address, :class => 'location required' %>
    </div>
    <div class="field">
      <%= f.label :address2 %>
      <%= f.text_field :address2 %>
    </div>
    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city, :class => 'location required' %>
    </div>
    <div class="field">
      <%= f.label :state %>
      <%= f.text_field :state, :class => 'location required' %>
    </div>
    <div class="field">
      <%= f.label :zip %>
      <%= f.text_field :zip, :class => 'location required' %>
    </div>

    <% unless @venue.fb_picture.nil? %>
    <div class="field">
      <%= f.label "Facebook Picture" %>
      <i><%= image_tag @venue.fb_picture %></i>
    </div>
    <% end %>
    
<!-- Pictures Section -->
    <div class="picture_parts">
    <% newPic = Picture.new %>
    <%= f.fields_for newPic, :url => "/pictures/create", :html => {:multipart => true} do |g| %>
        <p>
          <label>Add Venue Picture:</label>
          <%= hidden_field_tag :pictureable_attributes %>
          <%= hidden_field_tag :pictureable_type, "Venue" %>
          <%= hidden_field_tag :pictureable_id, @venue.id %>
          <%= f.text_field :remote_image_url, :class => "picurl" %>
          <a href="" id="new_pic">Add pic</a>
        </p>
    <% end %>
    <label class="buffer139"></label>
    <% newPic2 = Picture.new %>
    <%= f.fields_for newPic2, :html => { :multipart => true} do |g| %>
      Or upload file:
      <%= hidden_field_tag :pictureable_attributes %>
      <%= f.file_field :image %>
      <a href="" id="fileclick">Add pic</a>
    <% end %>
    <br><br>


    <script>
    $(function () {
      $('#new_pic').click( function (){
        if ($("#venue_remote_image_url").val() == ""){
          confirmURL("nourl");
          return false;
        } 
        else {
          $('<div class="ajaxLoader"><img src="/assets/ajax-loader.gif"></div>').appendTo('#venueThumbs');
          var picData = 
            {"picture":
              { "pictureable_id": parseInt($("#pictureable_id").val()),
                "pictureable_type": $("#pictureable_type").val(), 
                "remote_image_url": $("#venue_remote_image_url").val()
              }
            };
        }
        $.post("/pictures/create",picData,function(data) {
          var numThumbs = document.getElementsByClassName("gallery");
          var newPicThumb = '<div class="pictures field gallery" index="' + numThumbs + ' ">';
          newPicThumb += '<div class="pictures field gallery" index="' + numThumbs + '">';
          newPicThumb += '<input type="hidden" name="venue[pictures_attributes][' + numThumbs + '][id]" value="' + data.id + '" />';
          newPicThumb += '<div href="" class="remove-pic">&#10799;</div>';
          newPicThumb += '<img alt="image_thumb" src="' + data.image.thumb.url + '"></div>';
          $('.ajaxLoader').detach();
          $(newPicThumb).appendTo('#venueThumbs');
        },
        "json");
        return false;
      });
    });

    $(function () {
        $("#fileclick").click(function() {
          if ($("#venue_image").val() == ""){
            confirmURL("nofile");
            return false;
          } else {
            $('<div class="ajaxLoader"><img src="/assets/ajax-loader.gif"></div>').appendTo('#venueThumbs');
            $("#venue_settings").ajaxSubmit({
              beforeSerialize: function(form, options) {
              },
              url: "/pictures/createFromData",
              success:function(data) {
                var numThumbs = document.getElementsByClassName("gallery");
                var newPicThumb = '<div class="pictures field gallery" index="' + numThumbs + ' ">';
                newPicThumb += '<div class="pictures field gallery" index="' + numThumbs + '">';
                newPicThumb += '<input type="hidden" name="venue[pictures_attributes][' + numThumbs + '][id]" value="' + data.id + '" />';
                newPicThumb += '<div style="margin-right:3px;" href="" class="remove-pic">&#10799;</div>';
                newPicThumb += '<img style="margin-right:3px;" alt="image_thumb" src="' + data.image.thumb.url + '"></div>';
                $('.ajaxLoader').detach();
                $(newPicThumb).appendTo('#venueThumbs');
              },
              type: "post",
              dataType: "json"
            });
            return false;
          }
        });
    });

    $('.picture_parts').on("click", ".remove-pic", function() {
        console.log("click");
      var index = $(this).parents(".pictures.field").attr("index");
      if(typeof index !== 'undefined') {
        $(this).after("<input type='hidden' name='venue[pictures_attributes][" + index + "][_destroy]' value='1' />");
        $(this).parents(".pictures.field").hide();
      } else {
        $(this).parents(".pictures.field").remove();
      }
      return false;
    });

     function confirmURL(confirmType) {
        $( "#" + confirmType ).dialog({
            modal: true,
            buttons: {
                Ok: function() {
                    $( this ).dialog( "close" );
                }
            }
        });
    };
    </script>

    <label class="buffer139"></label>

    <% @venue.pictures.each_with_index do |pic, index| %>
    <div class="pictures field gallery" index="<%= index %>">
      <input type="hidden" name="venue[pictures_attributes][<%= index %>][id]" value="<%= pic.id %>" />
        <div href="" class="remove-pic">&#10799;</div>
      <%= image_tag pic.image_url(:thumb).to_s %>
    </div>
    <% end %>

    <span id="venueThumbs"></span>

    </div>
<!-- End Pictures Section -->
    <div class="embeds-section-<%=@venue.id%>-venue">
    <%= render :partial => "embeds", :locals => { :type => 'venue', :obj => @venue, :type_ind => 'venue' } %>
    </div>

    <% if false %>
    <div class="tags field">
    <label>Tags</label>
    <div class="input-tags">
    <% @parentTags.each do |tag| %>
      <div class="parent tag">
        <%= check_box_tag "venue[tag_ids][]", tag.id, @venue.tags.include?(tag), :id => "venue_tag_ids_" + tag.id.to_s %>
        <%= label_tag "venue[tag_ids][]", tag.name, :for => "venue_tag_ids_" + tag.id.to_s %>
      </div>
      <div class="children">
      <% tag.childTags.each do |childTag| %>
        <div class="child tag">
          <%= check_box_tag "venue[tag_ids][]", childTag.id, @venue.tags.include?(childTag), :id => "venue_tag_ids_" + childTag.id.to_s %>
          <%= label_tag "venue[tag_ids][]", childTag.name, :for => "venue_tag_ids_" + childTag.id.to_s %>
        </div>
      <% end %>
      </div>
    <% end %>
    </div>

  </div>
  <% end %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
  </div>
  <div id="map_canvas"></div>

  <div class="actions">
    <%= f.submit 'Update', :class => 'venue-submit' %>
    <a href="/venues/delete/<%= @venue.id %>" data-confirm="Are you sure you want to delete this venue?">Delete Venue</a>
  </div>

  <div id="nourl" title="No image url?" style="display:none; font-size:14px;">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Please input a valid URL for an image.</p>
  </div>

  <div id="nofile" title="No image selected?" style="display:none; font-size:14px;">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Please select an image.</p>
  </div>
  <br><br><br>
<% end %>