<script type="text/javascript">
    $(document).ready(function(){
	    <% @venue.raw_events.each do |raw_event| %>
	    	generateValidator("#new_event_<%= raw_event.id %>",{"ajax":true});
	    <% end %>
    });
</script>

<% @ordinal = ["th","st","nd","rd","th","th","th","th","th","th"] %>
<% @week = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"] %>
<% @parentTags = Tag.all(:conditions => {:parent_tag_id => nil}) %>
<% @venue.raw_venues.each do |raw_venue| raw_venue.raw_events.select{ |re| !(re.deleted || re.submitted) }.each do |raw_event| %>
	<% event = @venue.events.build(:title => raw_event.title, :description => raw_event.description) 
	   event.occurrences.push(Occurrence.new(:start => raw_event.start, :end => raw_event.end))
	   event.recurrences.push(Recurrence.new(:start => raw_event.start, :end => raw_event.end))
	   occurrence = Occurrence.new(:start => raw_event.start, :end => raw_event.end) %>
	<%= form_for event, :url => "/venues/fromRaw/" + @venue.id.to_s, :html => { :id => "new_event_" + raw_event.id.to_s } do |e| %>
		<% @iStrName = "event[tag_ids][]" %>
    	<% @iStrId = "event_tag_ids_" %>
		<%= hidden_field_tag :raw_event_id, raw_event.id %>
		<div class="main event">
			<div class="field">
			  <%= label_tag :URL %>
			  <a class="url" href="<%= raw_event.url %>"><%= raw_event.from %> link</a>
			</div>
			<div class="field">
			  <%= e.label :title %>
			  <%= e.text_field :title, :class => "required" %>
			</div>
			<div class="field">
			  <%= e.label :description %>
			  <%= e.text_area :description %>
			</div>
			<div class="field" minlength="2">
			  <%= e.label :price %>
			  <%= e.text_field :price %>
			</div>

			<%= render :partial => "tags", :locals => { :event => event } %>

			<%= render :partial => "occurrences_recurrences", :locals => { :e => e, :event => event } %>


			<div class="actions">
				<%= e.submit %>
			</div>
		</div>
	<% end %>
<% end end %>