<div class="picture_parts">
<script type="text/javascript">
  $(function() {

    $('.picture_parts').on("click", ".remove-pic", function() {
      var index = $(this).parents(".pictures.field").attr("index");
      if(typeof index !== 'undefined') {
        $(this).after("<input type='hidden' name='rawEvent[pictures_attributes][" + index + "][_destroy]' value='1' />");
        $(this).parents(".pictures.field").hide();
      } else {
        $(this).parents(".pictures.field").remove();
      }
      return false;
    });
  });

  $(function() {
    $('.pic-field').on('click', 'a.pic-edit',function() {
      console.log("click - pic-edit");
      console.log("pic-id: " + $(this).attr("pic-id"));
      showCoverEditMode(parseInt($("#pictureable_id_<%=@rawEvent.id%>_url").val()),$(this).attr("pic-url"),$(this).attr("pic-id"),$("#pictureable_type_<%=@rawEvent.id%>_url").val(),callbackEdit);
      return false;
    });

  });

  $(function () {
    $('.fb-pic-field').on('click', '.fb-image-submit', function() {
      console.log("click - fb-image-submit");
        var picData = 
          {"picture":
            { "pictureable_id": parseInt($(this).attr("picable-id")),
              "pictureable_type": $(this).attr("picable-type"), 
              "remote_image_url": $(this).attr("fb-pic-url")
            }
          };
        console.log(picData);
      $.post("/pictures/create",picData,function(data) {
      console.log(data);
        console.log("Added from FB pic! " + data.id);
        showCoverEditMode(parseInt($("#pictureable_id_<%=@rawEvent.id%>_url").val()),data.image.large.url,data.id,$("#pictureable_type_<%=@rawEvent.id%>_url").val(),callbackEdit);
      },
      "json");
      return false;
    });
  });

  $(function () {
    $('.new_pic_<%=@rawEvent.id%>').click( function (){
      console.log("click");
      if ($("#rawEvent_remote_image_url_<%=@rawEvent.id%>").val() == ""){
        return false;
      } 
      else {
        $('<div class="ajaxLoader"><img src="/assets/ajax-loader.gif"></div>').appendTo('.rawEventThumbs_<%=@rawEvent.id%>');
        var picData = 
          {"picture":
            { "pictureable_id": parseInt($("#pictureable_id_<%=@rawEvent.id%>_url").val()),
              "pictureable_type": $("#pictureable_type_<%=@rawEvent.id%>_url").val(), 
              "remote_image_url": $("#rawEvent_remote_image_url_<%=@rawEvent.id%>").val()
            }
          };
      }
      $.post("/pictures/create",picData,function(data) {
        console.log(data);
        console.log("picturable id = " + data.pictureable_id);
        var numThumbs = $(".gallery_<%=@rawEvent.id%>").length;
        var newPicThumb = '<div class="pictures field gallery_<%=@rawEvent.id%>" index="' + numThumbs + ' ">';
        newPicThumb += '<input type="hidden" name="rawEvent[pictures_attributes][' + numThumbs + '][id]" value="' + data.id + '" />';
        newPicThumb += '<input id="pictureable_type" name="pictureable_type" type="hidden" value="rawEvent">';
        newPicThumb += '<input id="pictureable_id" name="pictureable_id" type="hidden" value="' + data.pictureable_id + '">';
        newPicThumb += '<div href="" class="remove-pic">&#10799;</div>';
        newPicThumb += '<a href="" class="pic-edit" rawEvent-id="<%= @rawEvent.id %>" pic-url="' + data.image.large.url + '" pic-id="' + data.id + '">'
        newPicThumb += '<img alt="image_thumb" src="' + data.image.thumb.url + '"></div>';
        $('.ajaxLoader').detach();
        $(newPicThumb).appendTo('.rawEventThumbs_<%=@rawEvent.id%>');
      },
      "json");
      return false;
    });
  });

  $(function () {
      $(".fileclick_<%=@rawEvent.id%>").click(function() {
        console.log("fileclick");
        console.log("raw event image file: " + $(".rawEvent_image_<%=@rawEvent.id%>").val());
        if ($(".rawEvent_image_<%=@rawEvent.id%>").val() == ""){
          console.log("false???");
          return false;
        } 
        else {
          console.log("here...");
          $('<div class="ajaxLoader"><img src="/assets/ajax-loader.gif"></div>').appendTo('.rawEventThumbs_<%=@rawEvent.id%>');
          $("#new_event_<%= @rawEvent.id %>").ajaxSubmit({
            beforeSerialize: function(form, options) {
            },
            url: "/pictures/createForRawEvent",
            success:function(data) {
              console.log("created picture");
              console.log(data);
              var numThumbs = $(".gallery_<%=@rawEvent.id%>").length;
              console.log("index number = " + numThumbs);
              console.log("picturable id = " + data.pictureable_id);
              var newPicThumb = '<div class="pictures field gallery_<%=@rawEvent.id%>" index="' + numThumbs + ' ">';
              newPicThumb += '<input type="hidden" name="rawEvent[pictures_attributes][' + numThumbs + '][id]" value="' + data.id + '" />';
              newPicThumb += '<input id="pictureable_type" name="pictureable_type" type="hidden" value="rawEvent">';
              newPicThumb += '<input id="pictureable_id" name="pictureable_id" type="hidden" value="' + data.pictureable_id + '">';
              newPicThumb += '<div href="" class="remove-pic">&#10799;</div>';
              newPicThumb += '<a href="" class="pic-edit" rawEvent-id="<%= @rawEvent.id %>" pic-url="' + data.image.large.url + '" pic-id="' + data.id + '">'
              newPicThumb += '<img alt="image_thumb" src="' + data.image.thumb.url + '"></div>';
              $('.ajaxLoader').detach();
              $(newPicThumb).appendTo('.rawEventThumbs_<%=@rawEvent.id%>');
            },
            type: "post",
            dataType: "json"
          });
          return false;
      }
      });
  });

  $('.picture_parts').on("click", ".remove-pic", function() {
      console.log("click");
    var index = $(this).parents(".pictures.field").attr("index");
    if(typeof index !== 'undefined') {
      $(this).after("<input type='hidden' name='rawEvent[pictures_attributes][" + index + "][_destroy]' value='1' />");
      $(this).parents(".pictures.field").hide();
    } else {
      $(this).parents(".pictures.field").remove();
    }
    return false;
  });

  function callbackEdit(pic) {

  }

  function callbackNew(pic) {

  }
</script>



<!-- Pictures Section -->

      
    <!-- Venue Facebook Photo -->
    <label>From Venue:</label>
    <% unless @venue.fb_picture.blank? %>
      <% if Picture.where(:image => @venue.fb_picture.match(/[^\/]+$/).to_s, :pictureable_id => @venue.id, :pictureable_type => "Venue").exists? %>
      <% else %>

        <span class="fb-pic-field"><div class="fb-image-submit" picable-id="<%= @venue.id %>" picable-type="Venue" fb-pic-url="<%= @venue.fb_picture %>">
          <a href="" class="pic-edit" pic-url="<%= @venue.fb_picture %>">
          <%= image_tag @venue.fb_picture %> </a>
        </div></span>
      <% end %>
    <% end %>
    <!-- end -->
    
    <span class="pic-field">
    <% @venue.pictures.each do |pic| %>
      <a href="" class="pic-edit" pic-url="<%= pic.image_url(:large).to_s %>" pic-id="<%= pic.id%>">
      <%= image_tag pic.image_url(:thumb).to_s %></a>
    <% end %>
    </span>

    <!-- Add new rawEvent picture -->
    <% newPic = Picture.new %>
    <%= e.fields_for newPic, :url => "/pictures/create", :html => {:multipart => true}, :remote => true do |g| %>
        <p>
          <label>Add Event Picture:</label>
          <input id="pictureable_type_<%=@rawEvent.id%>_url" name="pictureable_type_<%=@rawEvent.id%>" type="hidden" value="rawEvent">
          <input id="pictureable_id_<%=@rawEvent.id%>_url" name="pictureable_id_<%=@rawEvent.id%>" type="hidden" value="<%=@rawEvent.id%>">
          <input id="rawEvent_remote_image_url_<%=@rawEvent.id%>" name="rawEvent[remote_image_url]" size="30" type="text">
          <a href="" class="new_pic_<%=@rawEvent.id%>">Add pic</a>
        </p>
    <% end %>
    <label class="buffer"></label>
    <% newPic2 = Picture.new %>
    <%= e.fields_for newPic2, :html => { :multipart => true} do |g| %>
      Or upload file:
          <input id="pictureable_type_<%=@rawEvent.id%>" name="pictureable_type" type="hidden" value="rawEvent">
          <input id="pictureable_id_<%=@rawEvent.id%>" name="pictureable_id" type="hidden" value="<%=@rawEvent.id%>">

      <input class="rawEvent_image_<%=@rawEvent.id%>" name="rawEvent[image]" type="file">
      <a href="" class="fileclick_<%=@rawEvent.id%>">Add pic</a>
    <% end %>
    <br><br>
    <!-- end -->

    <label class="buffer"></label>

    <% unless @rawEvent.fb_picture.blank? %>
      <% if Picture.where(:image => @rawEvent.fb_picture.match(/[^\/]+$/).to_s, :pictureable_id => @rawEvent.id, :pictureable_type => "Event").exists? %>
      <% else %>
        <span class="fb-pic-field"><span class="fb-image-submit" picable-id="<%= @rawEvent.id %>" picable-type="rawEvent" fb-pic-url="<%= @rawEvent.fb_picture %>">
          <a href="" class="pic-edit" pic-url="<%= @rawEvent.fb_picture %>">
          <%= image_tag @rawEvent.fb_picture %> </a>
        </span></span>
      <% end %>
    <% end %>


    <span class="rawEventThumbs_<%=@rawEvent.id%> pic-field"></span>

    </div>
<!-- End Pictures Section -->

