<script type="text/javascript">
	$(function() {
		$('.mode .overlay').click(closeMode);
		$('.mode .close-mode').click(closeMode);

		$('.mode .overlay .window').click(function(event) {
		event.stopPropagation();
		});
	  	
	    var actForm = $("#act-form");
	    actForm.ajaxForm({
	      dataType: 'json',
	      success: 
	        function(data) { 
	          var eventID = actForm.attr('event-id');
	          var selectActs = $('input.act-names[event-id=' + eventID + ']');
	          var selectedActs = selectActs.siblings(".select2-container").find(".select2-search-choice");
	          hideActsMode();
	          //connect act to event
	          //var vals = $('input.act-names[event-id=' + eventID + ']').val();
	          var actIDs = selectActs.select2("val");
	          var actNames = [];
	          selectedActs.each(function() { actNames.push( $(this).text() ); });
	          var acts = [];
	          for(var i in actIDs) {
	            acts.push({id: actIDs[i], text: actNames[i]});
	          }
	          acts.push({id: data.id, text: data.name});
	          console.log("acts");
	          console.log(acts);
	          selectActs.select2("val",acts);
	          
	          actsInfo[data.id] = {tags: data.tags};
	          actsChange(selectActs);

	          //selectActs.trigger("change");
	          //$('input.act-names[event-id=' + eventID + ']').select2("val", {id:45, text:"Califoria"});
	          //import act's tags to event
	        }
	    });
	});

	function closeMode() {
		$('.mode').hide();
	}

</script>
<h3>New Performer</h3>
<%= form_for @act, :url => "/venues/actCreate", :html => { :id => "act-form" } do |e| %>
	<% if @act.id %><%= e.hidden_field :id %><% end %>
    <div class="main">
		<div class="field">
		  <%= e.label :name %>
		  <%= e.text_field :name %>
		</div>
		<div class="field">
		  <%= e.label :description %>
		  <%= e.text_area :description, :class => "cleditor" %>
		</div>

		<div class="field">
		  <%= e.label "[Genres]" %>
		  <i><%= @act.genre %></i>
		</div>
		
		<% @iStrName = "act[tag_ids][]" %>
		<% @iStrId = "act_tag_ids_" %>
		
		<%= render :partial => "tags", :locals => { :element => @act } %>

		<%= render :partial => "embeds", :locals => { :act => @act } %>		


		<div class="actions">
    		<%= e.submit %>
  		</div>
    </div>
<% end %>
<div class="close-mode">&#10799;</div>