<%= render 'venues_nav' %>

<script type="text/javascript">
	$(function() {
		$('#events .event-element .toggler').click(function() {
			var toggler = $(this);
			var obj = $(this).parent('.event-element');
			if(obj.hasClass('compact')) {
				obj.removeClass('compact').addClass('expanded');
				var form = obj.find("form.new_event");
				if(form.length > 0) {
					form.show();
				} else {
					$.get('/venues/event/' + obj.attr("objectID") + "?venue_id=<%=@venue.id%>", function(data) {
						obj.append(data);
						obj.incomingForm();
					});
				}
				toggler.html("&ndash;");
			} else {
				obj.removeClass('expanded').addClass('compact');
				obj.find("form.edit_event, form.new_event").hide();
				toggler.html("+");
			}
			return false;
		});

		$('#events .event-element').click(function() {
			if($(this).hasClass('compact'))
				$(this).find('.toggler').click();
		});
	});
</script>
<div id="events">
<% @venue.events.select { |oc| oc.nextOccurrence ? (oc.nextOccurrence.start > Time.now) : nil}.sort_by { |event| event.nextOccurrence ? event.nextOccurrence.start : DateTime.new(1970,1,1) }.each do |event| %>
	<% if event.id %>
		<% occ_id = event.nextOccurrence.id %>
		<div class="compact event-element" objectID="<%= event.id %>" id="anchor<%= occ_id %>">
			<div class="time"><%= event.nextOccurrence.start.to_time.strftime("%b %-d @ %-I:%M%P") %></div>
			<div class="title"><%= event.title %></div>
			<a class="live-link" href="/?event_id=<%= occ_id %>" target="_blank">Live Page</a>
			<div class="description"><%= truncate(strip_tags(event.description), :length => 300)  %></div>
			<a href="" class="toggler">+</a>
		</div>
	<% end %>
<% end %>

<div class="acts mode">
	<div class="overlay">
		<div class="window">
		</div>
	</div>
</div>

</div>