<script type="text/javascript">
    $(document).ready(function(){
	    generateValidator("#new_event_<%= @rawEvent.id %>",{"ajax":true});
    });

</script>

<% @ordinal = ["th","st","nd","rd","th","th","th","th","th","th"] %>
<% @week = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"] %>
<% event = @venue.events.build(:title => @rawEvent.title, :description => @rawEvent.description) 
   event.occurrences.push(Occurrence.new(:start => @rawEvent.start, :end => @rawEvent.end))
   event.recurrences.push(Recurrence.new(:start => @rawEvent.start, :end => @rawEvent.end))
   occurrence = Occurrence.new(:start => @rawEvent.start, :end => @rawEvent.end) %>
<%= form_for event, :url => "/venues/fromRaw/" + @venue.id.to_s, :html => { :multipart => true, :id => "new_event_" + @rawEvent.id.to_s } do |e| %>
	<% @iStrName = "event[tag_ids][]" %>
	<% @iStrId = "event_1#{@rawEvent.id.to_s}_tag_ids_" %>
	<%= hidden_field_tag :raw_event_id, @rawEvent.id %>
	<div class="main event">
		<% if false %>
		<div class="field">
		  <%= label_tag :URL %>
		  <a class="url" href="<%= @rawEvent.url %>"><%= @rawEvent.from %> link</a>
		</div>
		<% end %>
		<div class="field">
		  <%= e.label :title %>
		  <%= e.text_field :title, :class => "required" %>
		</div>
		<div class="field">
		  <%= e.label "Event Link / Registration Link" %>
		  <%= e.text_field :event_url, :class => "event_url" %>
		</div>
		<div class="field">
		  <label>Description<br /><em style="font-size:small;color:gray;">(make sure to rewrite pre-populated descriptions)</em></label>
		  <%= e.text_area :description, :class => "cleditor" %>
		</div>
		<div class="field" minlength="2">
		  <%= e.label :price %>
		  <%= e.text_field :price, :class => "price" %>
		</div>

		<%= render :partial => "acts", :locals => { :event => event, :rawEvent => @rawEvent } %>

		<%= render :partial => "tags", :locals => { :element => event } %>

		<%= render :partial => "occurrences_recurrences", :locals => { :e => e, :event => event, :validate_occurrence => false  } %>

		<div class="field">
	    	<%= e.label :cover_image %>
	    	<span class="cover-image-<%= @rawEvent.id %>">
				<b><span style="color:red;">**** NONE: Click an image from the gallery below, or upload a new one and click it ****</span><b>
			</span>
		</div>

		<div class="greyback">
		<div class="field pic-field">
	    	<b>PICTURE GALLERY</b><br><br>
			<!-- container for new artists from select2 box-->
			<span class="field-for-act-pics-1<%=@rawEvent.id%>"></span>
	    	<!-- end -->

	    <%= render :partial => "pictures_raw_events", :locals => { :e => e, :event => event, :rawEvent => @rawEvent, :venue => @venue } %>
	    <br>
	    </div>
	</div>

	    <div class="pics mode">
			<div class="overlay">
				<div class="window">
				</div>
			</div>
		</div>
		<div class="embeds-section-<%=@rawEvent.id%>-event">
	    <%= render :partial => "embeds", :locals => { :type => 'event', :obj => @rawEvent, :type_ind => '' } %>
		</div>

		<div class="actions">
			<%= e.submit %>
			<a href="" class="delete-raw-event" rawEventId="<%=@rawEvent.id%>">Delete Raw Event</a>
		</div>
	</div>
<% end %>