<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Halfpastnow - Details</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,900,700italic,900italic,700,500italic,500,400italic,300italic,100italic' rel='stylesheet' type='text/css'>
  <% content_for :meta do %>
    <meta property="og:type" content="halfpastnow:event"/>
    <meta property="og:url" content="http://www.halfpastnow.com/venues/show/<%= @venue.id %>?fullmode=true"/>
    <meta property="og:site_name" content="halfpastnow"/>
    <meta property="og:image" content="<%= @venue.pictures.first ? @venue.pictures.first.image_url(:large) : "" %>"/>
    <meta property="og:title" content="<%= @venue.name %> on halfpastnow.com">
    <meta property="og:description" content="<%= strip_tags(@venue.description) %>"/>
  <% end %>
</head>
<% content_for :head do %>
  <%= stylesheet_link_tag "elastislide", "details" %>
  <%= javascript_include_tag "jquery.elastislide" %>
  <script type="text/javascript">
    var id = "<%= @venue.id  %>";
    var type = "venue";
    var root_url = "http://www.halfpastnow.com/";
    var link = root_url + "?" + type + "_id=" + id;
    var facebook_url = "http://www.halfpastnow.com/" + type + "s/show/" + id + "?fullmode=true";
    var app_id = "475386955806720";
    var redirect = "http://www.halfpastnow.com";
    var bookmark_id = "<%= @bookmarkId.to_s %>";
    var attending_id = "<%= @attendingId.to_s %>";
    var bookmarkList_id = id;
    var toggle = false;
    console.log(id + ' ' + bookmark_id)
    $(function () {


      window.fbAsyncInit = function () {
        console.log("Loaded FB 2");
        FB.init({
          appId: '475386955806720', // App ID
          status: true, // check login status
          cookie: true, // enable cookies to allow the server to access the session
          xfbml: true  // parse XFBML
        });
      };

      // Load the SDK Asynchronously
      (function (d) {
        var js, id = 'facebook-jssdk';
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
      }(document));// delete below

    });


    $(function () {
      console.log("Loaded share stuff");


      // The "bookmark" class won't be here if a user isn't logged in
      $('.bookmark-share .bookmark').click(function () {
        console.log("Fullmode bookmark");
        var that = $(this);
        if (that.hasClass('add')) {
          var bookmarked_type = "";
          // var lnk = 'http://www.halfpastnow.com/mobile/og/'+id;
          var lnk = 'http://www.halfpastnow.com/events/show/' + id + '?fullmode=true';
          console.log("Bookmarks: " + lnk);
          switch (type) {
            case "event":
              (bookmarked_type = "Occurrence") || (bookmarked_type = "Recurrence");
              FB.api(
                '/me/halfpastnow:bookmark',
                'post',
                { event: lnk },
                function (response) {
                  if (!response || response.error) {
                    // alert('Error occured'+response);
                  } else {
                    // alert('Post event was successful! Action ID: ' + response.id);
                  }
                });
              break;
            case "venue":
              bookmarked_type = "Venue";
              break;
            case "act":
              bookmarked_type = "Act";
              break;
          }
          ;
          $.getJSON('/bookmarks/custom_create', { bookmark: { "type": bookmarked_type, "id": id } }, function (data) {
            console.log("new bookmark full mode");
            console.log(data);
            that.removeClass('add').addClass('remove');
            that.html("<img src='/assets/images/icon-bookmark-large.png'/>");
            bookmark_id = data;
          });
        }
        else if (that.hasClass('remove')) {
          // $.getJSON('/bookmarks/destroy/', { id: bookmark_id }, function(data) {
          // 	that.addClass('add').removeClass('remove');
          // });
          $.getJSON('/bookmarks/destroy/' + bookmark_id, function (data) {
            that.addClass('add').removeClass('remove');
            that.html("<img src='/assets/images/icon-bookmark-large.png'/>");
          });
        }
      });

      // This "attending" class won't be here if the user isn't logged in
      $('.attending').click(function (e) {
        console.log("checking....")
        var that = $(this);
        if (that.hasClass('add')) {
          var bookmarked_type = "Occurrence";
          var lnk = 'http://www.halfpastnow.com/events/show/' + id + '?fullmode=true';
          console.log("Attend: " + lnk);
          FB.api(
            '/me/halfpastnow:attend',
            'post',
            { event: lnk },
            function (response) {
              // if (!response || response.error) {
              //    alert('Error occured'+response);
              // } else {
              //    alert('Post event was successful! Action ID: ' + response.id);
              // }
            });

          $.getJSON('/bookmarks/attending_create', { bookmark: { "type": bookmarked_type, "id": id } }, function (data) {
            console.log("new attending bookmark");
            that.removeClass('add').addClass('remove');
            that.text("Planning on Attending");
            $(".re-rsvp").text("Visit RSVP Site Again");
            attending_id = data;
          });
        }
        else if (that.hasClass('remove')) {
          e.preventDefault();
          $.getJSON('/bookmarks/destroy/' + attending_id, function (data) {
            that.addClass('add').removeClass('remove');
            that.text("No longer attending (click again to attend!)");
            $(".re-rsvp").text("");
          });
        }
      });

      $('.bookmark-share').click(function () {
        console.log("Anything?????");
      });

      $('.bookmark-share .email').click(function () {
        var url = 'mailto:?body=' + link;
        window.open(url, '_blank');
        window.focus();
      });

      $('.bookmark-share .facebook').click(function () {

        var url = "http://www.facebook.com/sharer.php?u=" + facebook_url;
        window.open(url, '_blank');
        window.focus();
      });
      $('.act-name').click(function () {

        console.log($(this).attr('act_id'))
        window.location.href = window.location.origin + "/acts/show/" + $(this).attr('act_id') + "?fullmode=true"
      })

      $('.bookmark-share .twitter').click(function () {
        // var url = 'https://twitter.com/intent/tweet?text=' + link;
        var title = "<%= @venue.name  %>";

        var url = 'http://twitter.com/intent/tweet?text=' + title.replace(/(<([^>]+|)>)/ig, "").replace("&amp;", "and").substring(0, 50) + ' ' + link + ' @halfpastnow %23discoveraustin';

        window.open(url, '_blank');
        window.focus();
      });

      $('.bookmark-share .comment-tp .add-tp').click(function () {
        var that = $('.add-tp');
        if (toggle) {
          $('.popup-box').hide();
          $('.popup-box-1').hide();
        }
        else {
          if (that.hasClass('add')) {
            submit_comment();
            $('.popup-box').show();
          }
          else {
            $('.popup-box-1').show();
          }

        }
        toggle = !toggle;
      });
    });
    function submit_comment() {
      var text = $('.comment-text').val();
      $('.popup-box').hide();
      that = $('.add-tp');
      toggle = !toggle;
      that.removeClass('add').addClass('remove');
      $.getJSON('/bookmarks/add_to_featuredlist', { bookmark: { "type": "Occurrence", "id": <%= @venue.id  %>, "comment": text } }, function (data) {
        bookmark_id = data;
      });

      $(".comment-text-1").val(text);
    }
    function deleteTP() {

      $('.popup-box-1').hide();
      toggle = !toggle;
      that = $('.add-tp');
      $.getJSON('/bookmarks/destroyBookmarkedList/' + bookmarkList_id, function (data) {
        that.removeClass('remove').addClass('add');
      });
    }
    function edit_comment() {
      $('.popup-box-1').hide();
      toggle = !toggle;
      var text = $('.comment-text-1').val();
      console.log("Edit comment" + text);
      $.getJSON('/bookmarks/update_comment', { bookmark: { "type": "Occurrence", "id": bookmarkList_id, "comment": text } }, function (data) {
        bookmark_id = data;

      });
    }
  </script>

  <script>
    function postList() {
      FB.api(
        '/me/halfpastnow:subscribe',
        'post',
        { toppick: "<%= @url %>" },
        function (response) {
          if (!response || response.error) {
            // alert('Error occured'+response);
          } else {
            // alert('Post list was successful! Action ID: ' + response.id);
          }
        });
    }


    function likeit() {
      console.log("<%= @url1 %>")
      FB.api(
        '/me/og.likes',
        'post',
        { object: "<%= @url1 %>" },
        function (response) {
          if (!response || response.error) {
            // alert('Error occured'+response);
          } else {
            // alert('Successfully post on your timeline');
          }
        });
      window.open(url, '_blank');
      window.focus();
    }

  </script>
<% end %>

<% content_for :body do %>

  <section class="details">
    <section class="recommend-events">
      <div class="container">
        <a class="link" href="/search"><i class="icon-left-arrow"></i> back to search results</a>
        <a class="link" href="#" data-target="recommend-events-wrapper"><i class="icon-bottom-arrow"></i> recommended
          events</a>
      </div>
    </section>
    <div class="container">
      <div class="event-main">
        <h2>Venue: <%= @venue.name %></h2>

        <div class="row">

          <div class="right">
            <div class="share bookmark-share">
              <a href="#">
               <span class="nice-button bookmark-button <%= current_user ? "bookmark" : "" %> <%= @bookmarkId.nil? ? "add" : "remove" %>"  <%= current_user ? "" : "linkto='shunt'" %>>
                 <%= @bookmarkId.nil? ? image_tag("images/icon-bookmark-large.png") : image_tag("images/icon-bookmark-large.png") %>
	            </span>
              </a>
              <a href="#">
                <img src="/assets/images/icon-calendar.png" alt=""/>
              </a>
              <a href="#" class="twitter"><img src="/assets/images/icon-twitter.png" alt=""/></a>
              <a href="#" class="facebook"><img src="/assets/images/icon-facebook.png" alt=""/></a>
            </div>
          </div>
        </div>
        <div class="clearfix">
          <div class="left">
            <address>
              <h4><%= @venue.name %></h4>
              <%= @venue.address %>
              <br>
              <%= @venue.city + ", " + @venue.state + " " + @venue.zip.to_s %>
              <br>
              <% unless @venue.phonenumber.to_s.empty? && @venue.url.to_s.empty? %>
                <br/>
              <% end %>
              <%= @venue.phonenumber %>
              <br>
            </address>
          </div>
        </div>
        <div class="accordion" id="details-container">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#details-container" href="#details">Details
              <i class="caret pull-right"></i></a>
          </div>
          <div id="details" class="accordion-body collapse in">
            <div class="accordion-inner">
              <%= raw(@venue.description) %>
            </div>
          </div>
        </div>


        <div class="accordion" id="calender-container">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#calender-container" href="#neighbourhood">Calender
              <i class="caret pull-right"></i></a>
          </div>
          <div id="neighbourhood" class="accordion-body collapse in">
            <div class="accordion-inner product-list clearfix">
              <% unless @occurrences.length == 0 && @recurrences.length == 0 %>
                <%= render :partial => "events/calendar", :locals => {:occurrences => @occurrences, :recurrences => @recurrences, :options => {:fullmode => @fullmode, :venue => true}} %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="event-other-details">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#photos">Photos</a></li>

        </ul>
        <div class="tab-content">
          <div id="photos" class="tab-pane fade in active">
            <div class="gallery">

              <div class="image-preview">
                <% unless (@venue.fb_picture.blank? && @venue.pictures.nil?) %>
                  <div id="galleria" style="height:367px;width:550px;">
                    <% unless @venue.fb_picture.blank? %>
                      <img src="<%= @venue.fb_picture %>" data-title="<%= @venue.name %>">
                    <% end %>
                    <% @venue.pictures.each do |pic| %>
                      <a href="<%= pic.image_url(:large).to_s %>"><img src="<%= pic.image_url(:tiny).to_s %>" data-title="<%= @venue.name %>" data-big="<%= pic.image_url(:full).to_s %>"></a>
                    <% end %>
                  </div>
                <% end %>
                <script type="text/javascript">
                  Galleria.loadTheme('/assets/galleria.classic.min.js');
                  Galleria.run('#galleria');

                </script>
              </div>
            </div>
          </div>


        </div>
        <div class="accordion" id="map-container">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#map-container" href="#map"><%= @venue.name %>
              <i class="caret pull-right"></i></a>
          </div>
          <div id="map" class="accordion-body collapse in">
            <div class="accordion-inner">
              <a class="map-link" href="http://maps.google.com/maps?q=<%= @venue.latitude %>,<%= @venue.longitude %>" style="float: left;" target="_blank"><img class="map" src="http://maps.googleapis.com/maps/api/staticmap?size=358x358&zoom=15&maptype=roadmap&markers=color:gray%7C<%= @venue.latitude %>,<%= @venue.longitude %>&sensor=false"/></a>

            </div>
          </div>
        </div>

        <div class="ad-contaniner">
          <img src="/assets/images/ad02.gif" alt=""/>
          <span class="muted">Advertisement</span>
        </div>
      </div>
    </div>
  </section>

<% end %>

<script type="text/javascript">

  // example how to integrate with a previewer

  var current = 0,
    $preview = $('#preview'),
    $carouselEl = $('#carousel'),
    $carouselItems = $carouselEl.children(),
    carousel = $carouselEl.elastislide({
      current: current,
      minItems: 3,
      onClick: function (el, pos, evt) {

        changeImage(el, pos);
        evt.preventDefault();

      },
      onReady: function () {

        changeImage($carouselItems.eq(current), current);

      }
    });

  function changeImage(el, pos) {
    $preview.attr('src', el.data('preview'));
    $carouselItems.removeClass('current-img');
    el.addClass('current-img');
    carousel.setCurrent(pos);
  }


</script>

</body>
</html>
