<script type="text/javascript">
	$(function() {
		$('.mode .overlay').click(closeMode);
		$('.mode .close-mode').click(closeMode);

		$('.mode .overlay .window').click(function(event) {
		event.stopPropagation();
		});

		// console.log("width: " + $(".cropbox").width());
		// console.log("height: " + $(".cropbox").height());
		// var height = Math.round((img.length - (img.width/2.08))/2);
		// if (height < 0) {
		// 	height = 0;
		// }

	    $('.cropbox').Jcrop({
	      aspectRatio: 1.635,
	      setSelect: [0, 0, 500, 500],
	      onSelect: updateCrop, // @update,
	      onChange: updateCrop  // @update
	  	});
	  	
	    var actForm = $("#act-form");
	    actForm.ajaxForm({
	      dataType: 'json',
	      success: 
	        function(data) { 

	      	  hideActsMode();

	      	  //gross.
	      	  if(typeof picSuccessCallback !== 'undefined')
	      	  	picSuccessCallback(data);
	        }
	    });
	 });

	$(function () {
      $('.ajax-submit').click( function (){
        console.log("click");
        $('<div class="ajaxLoader pictures field gallery"><img src="/assets/ajax-loader.gif"></div>').appendTo('.ajax-submit');
       			// console.log(parseInt($(".picture_crop_x").val()));
	         //    console.log(parseInt($(".picture_crop_y").val()));
	         //    console.log(parseInt($(".picture_crop_w").val()));
	         //    console.log(parseInt($(".picture_crop_h").val()));
	      var picData = 
	        {"picture":
	          { "crop_x": parseInt($(".picture_crop_x").val()),
	            "crop_y": parseInt($(".picture_crop_y").val()),
	            "crop_w": parseInt($(".picture_crop_w").val()),
	            "crop_h": parseInt($(".picture_crop_h").val()),
	            "remote_image_url": $("remote_image_url").val(),
	            "id": parseInt($(".picture_id").val())
	          },
	          "id": parseInt($(".id").val()),
	          "picType": $(".picType").val(),
	          "cover_image": parseInt($(".picture_id").val())
	        };
        $.post("/pictures/coverImageAdd",picData,function(data) {
        	// console.log(data);
        	if (data.event) {
          		$('.cover-image-' + data.event.id).html('<img src=' + data.pictures.image.cover.url + '>');
          	} else {
          		$('.cover-image').html('<img src=' + data.pictures.image.cover.url + '><input type="hidden" name="event[cover_image]" value="' + data.pictures.id + '">');
          	}
          closeMode();
        },
        "json");
        return false;
      });
    });

	function closeMode() {
		$('.mode').hide();
	}

	function updateCrop(coords) {
      $('.picture_crop_x').val(coords.x);
      $('.picture_crop_y').val(coords.y);
      $('.picture_crop_w').val(coords.w);
      $('.picture_crop_h').val(coords.h);
      $('.preview').css({
        width: Math.round(206 / coords.w * $('.cropbox').width()) + 'px',
        height: Math.round(126 / coords.h * $('.cropbox').height()) + 'px',
        marginLeft: '-' + Math.round(206 / coords.w * coords.x) + 'px',
        marginTop: '-' + Math.round(126 / coords.h * coords.y) + 'px'
      });
    }

</script>

<h2>Crop Cover Image</h2>

<%= image_tag @picURL, :class => "cropbox" %>

<h4>Preview</h4>
<div style="width:206px; height:126px; overflow:hidden;">
  <%= image_tag @picURL, :class => "preview" %>
</div>

<%= form_for(@picture, :url => "/pictures/coverImageAdd") do |f| %>
  <div class="actions">
    <% %w[x y w h].each do |attribute| %>
      <%= f.hidden_field "crop_#{attribute}", :class => "picture_crop_#{attribute}"%>
    <% end %>
	<%= hidden_field_tag(:remote_image_url, @picURL, :class => "remote_url") %>
	<% unless @event.nil? %><%= hidden_field_tag(:id, @event.id, :class => "id") %><%end%>
	<%= hidden_field_tag(:id, @picture.id, :class => "picture_id") %>
	<%= hidden_field_tag(:picType, @eventType, :class => "picType") %>
	<a href="" class="ajax-submit purple button">Submit Crop!</a>
  </div>
<% end %>

<div class="close-mode">&#10799;</div>