<% content_for :code do %>
<%# TODO: put this stuff in the controller eventually %>
	<% 	@now = DateTime.now.change(:hour => 0)
		@channels = current_user ? current_user.channels.sort_by { |channel| channel.created_at } : Channel.default_channels %>

	<script type="text/javascript">

		var geocoder;
		var map;
		var markers = [];

		function initialize() {
			//console.log("initialize");
			//$("#map").height($(window).height() - $("#map").offset().top - 2 * parseInt($("#map").css("border-top-width")));
			geocoder = new google.maps.Geocoder();

			var styles = [
			    {
			      stylers: [
			        { saturation: 0 },
			        { invert_lightness: false },
			        { gamma: 1 },
			        { lightness: 0 }
			      ]
			    }];

			var latlng = new google.maps.LatLng(<%= @lat %>, <%= @long %>);
			var myOptions = {
				zoom: <%= @zoom %>,
				center: latlng,
				mapTypeId: 'map_style',
				disableDefaultUI: true,
				zoomControl: true,
				scrollwheel: false,
				zoomControlOptions: { position: google.maps.ControlPosition.TOP_RIGHT, style: 3 }
			};

			var styledMap = new google.maps.StyledMapType(styles,
    			{name: "Styled Map"});

			map = new google.maps.Map($("#map")[0], myOptions);

			map.mapTypes.set('map_style', styledMap);
  			map.setMapTypeId('map_style');

			var locations = [];
			
			$("#content .main .inner .events li").each(function(index) {
				var latitude = parseFloat($(this).find(".latitude").html());
				var longitude = parseFloat($(this).find(".longitude").html());
				locations.push({lat: latitude, long: longitude});
			});
			
			placeMarkers({points: locations});

			//google.maps.event.addListener(map, 'idle', boundsChanged);
		}

		function to_i(obj) {
			return parseInt(obj);
		}
		$(function() {
			      
			window.fbAsyncInit = function() {
			        console.log("Loaded FB 2");
			          FB.init({
			            appId      : '475386955806720', // App ID
			            status     : true, // check login status
			            cookie     : true, // enable cookies to allow the server to access the session
			            xfbml      : true  // parse XFBML
			          });
			        };

			        // Load the SDK Asynchronously
			        (function(d){
			          var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
			          js = d.createElement('script'); js.id = id; js.async = true;
			          js.src = "//connect.facebook.net/en_US/all.js";
			          d.getElementsByTagName('head')[0].appendChild(js);
			        }(document));// delete below        

			  	});
		$(function() {
			$('.follow.button').click(function() {

			        
				var $that = $(this);
				var listID = $that.attr('picklist-id');

				
				var url = 'http://halfpastnow.com/picks/find/'+listID
				console.log('test fowlling'+url);

			    
  

				FB.api(
				            '/me/halfpastnow:pin',
				            'post',
				            { toppick: url },
				            function(response) {
				            
				        });
				$.getJSON('/users/followBookmarkList/' + listID, function(data) {
					if(data.success) {
						$that.hide();
						$that.siblings('.unfollow.button').show();
					} else {
						console.log(data.error);
					}
				});
			});

			$('.unfollow.button').click(function() {
				var $that = $(this);
				var listID = $that.attr('picklist-id');
				$.getJSON('/users/unfollowBookmarkList/' + listID, function(data) {
					if(data.success) {
						$that.hide();
						$that.siblings('.follow.button').show();
					} else {
						console.log(data.error);
					}
				});
			});
		});
	</script>
<% end %>

<% content_for :header do %>
	<div class="titlebar">
		<div class="stay-on-target">
			<%= render :partial => "title", :locals => { :page_action => params[:action], :bookmark_list_name => @bookmarkList ? @bookmarkList.name : nil } %>
		</div>
	</div>
<% end %>

<% content_for :body do %>
	<div id="content" class="pick-content">
		<div id="map-wrapper">
			<% if(@isFollowedLists) %>
				<div style="float: left;position: relative;margin-top: -5px;font-weight: 700;margin-bottom: 11px;font-size: 16px;"><a href="/picks/followed">List View</a> | Event View</div>
			<% end %>
			<div id="map"></div>
		</div>
		<div class="main">
			<div class="inner">
				<% unless @isMyBookmarksList || @isFollowedLists %>
				<% currentUserIsFollowing = current_user && current_user.followedLists.exists?(@bookmarkList.id)
				hidden = "style=\"display:none;\"" %>
					<div class="picks-info">
						<%= image_tag @bookmarkList.picture_url(:thumb) || "/assets/picklist-placeholder.png", :class => "picture" %>
						<div class="picks-details">
							<div class="title"><%= @bookmarkList.name %></div>
							<% if current_user %>
								<div class="follow button nice-button" picklist-id="<%= @bookmarkList.id %>" <%= raw hidden if currentUserIsFollowing %> >follow</div>
								<div class="unfollow button nice-button" picklist-id="<%= @bookmarkList.id %>" <%= raw hidden unless currentUserIsFollowing %> >following</div>
							<% end %>
							<div class="description"><%= raw @bookmarkList.description %></div>							
						</div>
					</div>
				<% end %>
				<ul class="events">
					<%= render :partial => "events/event_list", :locals => { :occurrences => @occurrences } %>
				</ul>
				<img src="/assets/infinite-loader.gif" id="infinite-loader" style="display:none;" />
			</div>
		</div>
	</div>
<% end %>

<% content_for :overlay do %>
	<div class="mode">
		<div class="overlay">
			<div class="insert-point">
				<div class="window">
				</div>
			</div>
		</div>
	</div>
<% end %>
