<% content_for :header do %>
	<div class="titlebar">
		<div class="stay-on-target">
			<h1>Top Picks</h1>
		</div>
	</div>
<% end %>
<% content_for :body do %>
	<div id="info-content">
		<% @featuredLists.each do |featuredList| %>
			<div class="picklist">
				<div class="picklist-sidebar">
					<img class="picture" src="/assets/picklist-placeholder.png" />
					<div class="follow-button">follow</div>
				</div>
				<div class="picklist-details">
					<h3><a href="/picks/find/<%= featuredList.id %>"><%= featuredList.name %></a></h3>
					<div><em><%= featuredList.bookmarked_events.size %> <%= featuredList.bookmarked_events.size == 1 ? "event" : "events" %></em></div>
					<div class="picklist-description"><%= featuredList.description %></div>
					<% if (featuredList.bookmarked_events.size > 0) %>
					<ul class="picklist-events">
						<% featuredList.bookmarked_events.each do |occurrence| %>
						<li>
							<div class="title"><%= occurrence.event.title %></div>
							<div class="venue"><%= occurrence.event.venue.name %></div>
							<div class="datetime"><%= occurrence.start.to_time.strftime("%A, %B %-d at %-l:%M%P") %></div>
						</li>
						<% end %>
					</ul>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
<% end %>