<% content_for :code do %>
	<script type="text/javascript">
		$(function() {
			$('.follow.button').click(function() {
				var $that = $(this);
				var listID = $that.attr('picklist-id');
				$.getJSON('/users/followBookmarkList/' + listID, function(data) {
					if(data.success) {
						$that.hide();
						$that.siblings('.unfollow.button').show();
					} else {
						console.log(data.error);
					}
				});
			});

			$('.unfollow.button').click(function() {
				var $that = $(this);
				var listID = $that.attr('picklist-id');
				$.getJSON('/users/unfollowBookmarkList/' + listID, function(data) {
					if(data.success) {
						$that.hide();
						$that.siblings('.follow.button').show();
					} else {
						console.log(data.error);
					}
				});
			});

			var event_id = <%= params[:event_id] || "null" %>;
			var venue_id = <%= params[:venue_id] || "null" %>;
			var act_id = <%= params[:act_id] || "null" %>;
			var modality;

			if(event_id) {
				modality = spawn(modalities["event"],{id: event_id});
				modal(modality);
			}
			if(venue_id) {
				modality = spawn(modalities["venue"],{id: venue_id});
				modal(modality);
			}
			if(act_id) {
				modality = spawn(modalities["act"],{id: act_id});
				modal(modality);   
			}
		});
	</script>
<% end %>

<% content_for :header do %>
	<div class="titlebar">
		<div class="stay-on-target">
			<%= render :partial => "title", :locals => { :page_action => params[:action] } %>
		</div>
	</div>
<% end %>

<% content_for :body do %>
	<div id="info-content">
		<% if(@isFollowedLists) %>
			<div style="font-weight: 700;margin: 9px 0 0 11px;font-size: 16px;">List View | <a href="/picks/followed?events=true">Event View</a></div>
		<% end %>
		<% hidden = "style=\"display:none;\""
		@featuredLists.each do |featuredList|
		currentUserIsFollowing = current_user && current_user.followedLists.exists?(featuredList.id) %>
			<div class="picklist">
				<div class="picklist-sidebar">
    				<%= image_tag featuredList.picture_url(:thumb) || "/assets/picklist-placeholder.png", :class => "picture" %>
					<div class="follow button nice-button" picklist-id="<%= featuredList.id %>" <%= raw hidden if currentUserIsFollowing %> >follow</div>
					<div class="unfollow button nice-button" picklist-id="<%= featuredList.id %>" <%= raw hidden unless currentUserIsFollowing %> >following</div>
				</div>
				<div class="picklist-details">
					<h3><a href="/picks/find/<%= featuredList.id %>"><%= featuredList.name %></a></h3>
					<div><em><%= featuredList.bookmarked_events.size %> <%= featuredList.bookmarked_events.size == 1 ? "event" : "events" %></em></div>
					<div class="picklist-description"><%= raw featuredList.description %></div>
					<% if (featuredList.bookmarked_events.select{ |o| o.start >= Date.today.to_datetime }.size > 0) %>
					<ul class="picklist-events">
						<% featuredList.bookmarked_events.select{ |o| o.start >= Date.today.to_datetime }.take(3).each do |occurrence| %>
						<li linkto="event" link-id="<%= occurrence.id %>">
							<div class="title"><%= occurrence.event.title %></div>
							<div class="venue"><%= occurrence.event.venue.name %></div>
							<div class="datetime"><%= occurrence.start.to_time.strftime("%A, %B %-d at %-l:%M%P") %></div>
						</li>
						<% end %>
						<li class="see-more">
							<a href="/picks/find/<%= featuredList.id %>">see all events</a>
						</li>
					</ul>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
<% end %>

<% content_for :overlay do %>
	<div class="mode">
		<div class="overlay">
			<div class="insert-point">
				<div class="window">
				</div>
			</div>
		</div>
	</div>
<% end %>
