<% content_for :meta do %>
     <meta property="og:type"                 content="website"> 
     <meta property="og:url"                  content="http://www.halfpastnow.com/picks">
     <meta property="og:site_name"            content="halfpastnow">
     <meta property="og:image"                content="">
     <meta property="og:title"                content="half past now | Events from Trendsetters">
     <meta property="og:description"          content="The best events in town, handpicked by local trendsetters"> 
<% end %>
<% content_for :code do %>
	<script type="text/javascript">

		$(function() {

			$('#list-cat').change(function(){
				window.location = "/picks/index/"+$(this).val()
			});
			$('.follow.button').click(function() {
  				var $that = $(this);
				var listID = $that.attr('picklist-id');
				var url = 'http://halfpastnow.com/picks/find/'+listID
				console.log('test folling'+url);

				FB.api(
				            '/me/halfpastnow:subscribe',
				            'post',
				            { toppick: url },
				            function(response) {
				        });
				$.getJSON('/users/followBookmarkList/' + listID, function(data) {
					if(data.success) {
						$that.hide();
						$that.siblings('.unfollow.button').show();
					} else {
						console.log(data.error);
					}
				});
			});

			$('.unfollow.button').click(function() {
				var $that = $(this);
				var listID = $that.attr('picklist-id');
				$.getJSON('/users/unfollowBookmarkList/' + listID, function(data) {
					if(data.success) {
						$that.hide();
						$that.siblings('.follow.button').show();
					} else {
						console.log(data.error);
					}
				});
			});

			var event_id = <%= params[:event_id] || "null" %>;
			var venue_id = <%= params[:venue_id] || "null" %>;
			var act_id = <%= params[:act_id] || "null" %>;
			var modality;

			if(event_id) {
				modality = spawn(modalities["event"],{id: event_id});
				modal(modality);
			}
			if(venue_id) {
				modality = spawn(modalities["venue"],{id: venue_id});
				modal(modality);
			}
			if(act_id) {
				modality = spawn(modalities["act"],{id: act_id});
				modal(modality);   
			}
		});
	</script>
<% end %>

<% content_for :header do %>
	<div class="titlebar">
		<div class="stay-on-target">
			<%= render :partial => "title", :locals => { :page_action => params[:action] } %>
		</div>
	</div>
<% end %>

<% content_for :body do %>

	<% def insert_day(day, d) %>
		<div class="picklist list<%= (d % 3 == 2) ? "-left" : "" %> ">
		<div class="list-cat-label"><%= day.to_time.strftime("%A, %B %-d") %></div>
		   <% unless (@result.empty?) %>
			   <% occurrences = @result.select { |b| b if (b["start"].to_date == day) } %>
			   <% occurrences = occurrences.first(4)%>
				<ul class="picklist-events">
		   		<% unless (occurrences.blank?) %>
					<% occurrences.each do |occ| %>
			   			<% unless (occ.nil?) %>
			   				<% occurrence = Occurrence.find(occ["id"]) %>
							<li linkto="event" link-id="<%= occ["id"] %>">
								<img class="picture" src="<%= occ["cover_image_url"] ? occ["cover_image_url"] : "/assets/placeholder.png" %>" />
								<div class="title"><%= occ["title"] %></div>
								<div class="venue"><%= occ["name"] %> @ <%= occ["start"].to_time.strftime("%-l:%M%P") %></div>
								<% picklists = occurrence.event_bookmarks.collect { |b| b.bookmark_list if (b.bookmark_list && b.bookmark_list.featured) }.compact %>
								<% if picklists.size > 0 %>
								<div class="picklists">
									<% picklists.take(3).each_with_index do |pList,index| %>
										<a href="/picks/find/<%= pList.id %>" onMouseOver="show('.event-tp-comment-<%= pList.id %>-<%= occurrence.id %>')" onMouseOut="hide('.event-tp-comment-<%= pList.id %>-<%=occurrence.id %>')" class="picklist-link"><%= image_tag pList.picture_url(:mini) || "/assets/picklist-placeholder.png", :class => "picklist-picture" %></a>
										<% first_commented_occurrence = occurrence.event_bookmarks_with_comments(pList.id).first %>
										<% if first_commented_occurrence %>
										<% @comment_string = first_commented_occurrence.comment %>
										<% unless @comment_string.eql?'' %>
											<div class="event-tp-comment-<%= pList.id %>-<%=occurrence.id %> popup-comment">
												<%=  @comment_string %>
											</div>
										<% end %>
										<% end %> 
									<% end %>
									<em style="position: relative;top: -5px;margin-left: 2px;">on <%= picklists.size %> top picks <%= picklists.size == 1 ? "list" : "lists" %></em>
								</div>
								<% end %>
							</li>
						<% end %>
					<% end %>
				<% end %>
				</ul>
			<% end %>
		</div>
	<% end %>
	<div id="info-content" class="top-picks">
		<% unless(@isFollowedLists) %>
		<div id="list-cat-wrapper">
			<div class="list-cat-heading">Upcoming Top Pick Events</div>
			<div class="list-cat-label">The best events in Austin, handpicked by locals and trendsetters. <a href="/picks/trendsetters">Get to know our trendsetters</a></div>
		</div>

		<div class="picks-cats">
			<form id="cat-select">
				<% puts "Params cat is #{params[:cat]}" %>

				<% if params[:cat].nil? %>
			    	<%= check_box_tag 'cat[]', '1', true %> Live Music
			    	<%= check_box_tag 'cat[]', '104', true %> Food/Drink
			    	<%= check_box_tag 'cat[]', '43', true %> Fitness
			    	<%= check_box_tag 'cat[]', '134', true %> Tech
			    	<%= check_box_tag 'cat[]', '12', true %> Arts
			    	<%= check_box_tag 'cat[]', '192', true %> LGBT
			    	<%= check_box_tag 'cat[]', '87', true %> Kid-friendly
			    	<%= check_box_tag 'cat[]', '55', true %> Romantic
			    	<%= check_box_tag 'cat[]', '141', true %> Non-profit
		    	<% else %>
					<% if params[:cat].include?("1")%>
				    	<%= check_box_tag 'cat[]', '1', true %> Live Music
					<% else %>
				    	<%= check_box_tag 'cat[]', '1' %> Live Music
				    <% end %>

					<% if params[:cat].include?("104")%>
				    	<%= check_box_tag 'cat[]', '104', true %> Food/Drink
				    <% else %>
				    	<%= check_box_tag 'cat[]', '104' %> Food/Drink
				    <% end %>

					<% if params[:cat].include?("43") %>
				    	<%= check_box_tag 'cat[]', '43', true %> Fitness
				    <% else %>
				    	<%= check_box_tag 'cat[]', '43' %> Fitness
				    <% end %>

					<% if params[:cat].include?("134")%>
				    	<%= check_box_tag 'cat[]', '134', true %> Tech
				    <% else %>
				    	<%= check_box_tag 'cat[]', '134' %> Tech
				    <% end %>

					<% if params[:cat].include?("12") %>
				    	<%= check_box_tag 'cat[]', '12', true %> Arts
				    <% else %>
				    	<%= check_box_tag 'cat[]', '12' %> Arts
				    <% end %>

					<% if params[:cat].include?("192") %>
				    	<%= check_box_tag 'cat[]', '192', true %> LGBT
				    <% else %>
				    	<%= check_box_tag 'cat[]', '192' %> LGBT
				    <% end %>

					<% if params[:cat].include?("87") %>
				    	<%= check_box_tag 'cat[]', '87', true %> Kid-friendly
				    <% else %>
				    	<%= check_box_tag 'cat[]', '87' %> Kid-friendly
				    <% end %>

					<% if params[:cat].include?("55") %>
				    	<%= check_box_tag 'cat[]', '55', true %> Romantic
				    <% else %>
				    	<%= check_box_tag 'cat[]', '55' %> Romantic
				    <% end %>

					<% if params[:cat].include?("141") || params[:cat].empty? %>
				    	<%= check_box_tag 'cat[]', '141', true %> Non-profit
				    <% else %>
				    	<%= check_box_tag 'cat[]', '141' %> Non-profit
				    <% end %>
				<% end %>
 
			    <%= submit_tag("Filter") %>
			</form>
		</div>
		<% end %>
		<% if(@isFollowedLists) %>
			<div style="font-weight: 700;margin: 9px 0 0 11px;font-size: 16px;">List View | <a href="/picks/followed?events=true">Event View</a></div>
		<% end %>
		<% hidden = "style=\"display:none;\"" %>
		<div class='pick-cal'>
			<% 	(0..6).each do |d| 
					insert_day(Date.today + d.days, d)
				end
			%>
		</div>

	</div>



<% end %>
