<script type="text/javascript">
	var id = "<%= id  %>";
	var type = "<%= type %>";
	var root_url = "http%3A%2F%2Fhalfpastnow.com";
	var link = root_url + "%3F" + type + "_id%3D" + id;
	var bookmark_id = "<%= bookmarkId.to_s %>";

	$(function() {
		 	
		    (function(d, s, id) {
		        var js, fjs = d.getElementsByTagName(s)[0];
		        if (d.getElementById(id)) return;
		        js = d.createElement(s); js.id = id;
		        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=273167206143082";
		        fjs.parentNode.insertBefore(js, fjs);
		      }(document, 'script', 'facebook-jssdk'));
		    


	});
	
	
	$(function() {
		
		$('.bookmark-share .bookmark').click(function() {
			var that = $(this);
			if(that.hasClass('add')) {
				var bookmarked_type = "";
				switch(type) {
					case "event":
						(bookmarked_type = "Occurrence") || (bookmarked_type = "Recurrence");
						FB.api(
				            '/me/hpnevent:bookmark',
				            'post',
				            { event: "<%= @url %>" },
				            function(response) {
				               // if (!response || response.error) {
				               //    alert('Error occured'+response);
				               // } else {
				               //    alert('Post event was successful! Action ID: ' + response.id);
				               // }
				        });
						break;
					case "venue":
						bookmarked_type = "Venue";
						break;
					case "act":
						bookmarked_type = "Act";
						break;
				};
				$.getJSON('/bookmarks/custom_create', { bookmark: { "type": bookmarked_type, "id": id } }, function(data) {
					console.log("new bookmark");
					console.log(data);
					that.removeClass('add').addClass('remove');
					bookmark_id = data;
				});
				
		          
			} else if(that.hasClass('remove')) {
				$.getJSON('/bookmarks/destroy/', { id: bookmark_id }, function(data) {
					that.addClass('add').removeClass('remove');
				});
			}
		});
		
		$('.bookmark-share .email').click(function() {
			var url = 'mailto:?body=' + link;

	      	window.open(url, '_blank');
	      	window.focus();

		});
		
		$('.bookmark-share .facebook').click(function() {
			var url = 'http://www.facebook.com/sharer/sharer.php?u=' + link;
			window.open(url, '_blank');
			window.focus();
		});
		
		$('.bookmark-share .twitter').click(function() {
			var url = 'https://twitter.com/intent/tweet?text=' + link;
			window.open(url, '_blank');
			window.focus();
		});
		
		// $('.bookmark-share .gcal').click(function() {
		// 	var url = '<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsecret-citadel-5147.herokuapp.com%2F%3Fevent_id%3D1&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=80&amp;appId=449267651794206" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>';
		// 	window.open(url, '_blank');
		// 	window.focus();
		// });
	});


	

	


</script>

 <script>
	function postList()
      {
          FB.api(
            '/me/hpnevent:following',
            'post',
            { toppick: "<%= @url %>" },
            function(response) {
               if (!response || response.error) {
                  alert('Error occured'+response);
               } else {
                  alert('Post list was successful! Action ID: ' + response.id);
               }
            });
      }



    function bookmark()
      {
      	console.log("<%= @url %>");
          FB.api(
            '/me/hpnevent:bookmark',
            'post',
            { event: "<%= @url %>" },
            function(response) {
               if (!response || response.error) {
                  alert('Error occured'+response);
               } else {
                  alert('Post event was successful! Action ID: ' + response.id);
               }
            });
      }
</script>
<div class="bookmark-share">
	<span class="icon icon-envelope-alt email"></span>
	<span class="icon icon-facebook-sign facebook"></span>
	<span class="icon icon-twitter-sign twitter"></span>
	<span class="icon icon-bookmark bookmark <%= current_user ? "bookmark" : "" %> <%= bookmarkId.nil? ? "add" : "remove" %>"  <%= current_user ? "" : "linkto='shunt'" %>></span>
	<!-- <span class="icon icon-twitter-sign gcal"></span> -->
	<!-- <div class="fb-like" data-href="http://secret-citadel-5147.herokuapp.com/events/show/10?fullmode=true" data-send="true" data-width="450" data-show-faces="true"></div> -->
	<div class="fb-like" data-href="<%= @url %>" data-send="true" data-width="450" data-show-faces="true"></div>	
	<!-- <div class="fb-like" data-href="http://secret-citadel-5147.herokuapp.com/?event_id=10" data-send="false" data-width="450" data-show-faces="true"></div> -->
	<form>
    <input type="button" value="Bookmark It!!!" onclick="bookmark()" />
  </form>
</div>

