<script type="text/javascript">
	var id = "<%= id  %>";
	var type = "<%= type %>";
	var root_url = "http%3A%2F%2Fhalfpastnow.com";
	var link = root_url + "%3F" + type + "_id%3D" + id;
    var app_id = "475386955806720";
    var redirect = "http://www.halfpastnow.com";
	var bookmark_id = "<%= bookmarkId.to_s %>";
	<% if type == "event" %>
	var attending_id = "<%= attendingId.to_s %>";
	<% end %>
	var bookmarkList_id = "<%= id %>";
	var toggle = false;
	console.log(id+' '+bookmark_id)
	$(function() {
		 	
		    

		    window.fbAsyncInit = function() {
			        console.log("Loaded FB 2");
			          FB.init({
			            appId      : '475386955806720', // App ID
			            status     : true, // check login status
			            cookie     : true, // enable cookies to allow the server to access the session
			            xfbml      : true  // parse XFBML
			          });
			        };

			        // Load the SDK Asynchronously
			        (function(d){
			          var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
			          js = d.createElement('script'); js.id = id; js.async = true;
			          js.src = "//connect.facebook.net/en_US/all.js";
			          d.getElementsByTagName('head')[0].appendChild(js);
			        }(document));// delete below

	});
	
	
	$(function() {
		console.log("Loaded share stuff");

		// The "bookmark" class won't be here if a user isn't logged in
		$('.bookmark-share .bookmark').click(function() {
			var that = $(this);
			if(that.hasClass('add')) {
				var bookmarked_type = "";
				var lnk = 'http://www.halfpastnow.com/events/show/'+id+'?fullmode=true'; 
        		console.log("Bookmarks: "+lnk);
				switch(type) {
					case "event":
						(bookmarked_type = "Occurrence") || (bookmarked_type = "Recurrence");
						FB.api(
				            '/me/halfpastnow:bookmark',
				            'post',
				            { event: lnk },
				            function(response) {
				               // if (!response || response.error) {
				               //    alert('Error occured'+response);
				               // } else {
				               //    alert('Post event was successful! Action ID: ' + response.id);
				               // }
				        });
						break;
					case "venue":
						bookmarked_type = "Venue";
						break;
					case "act":
						bookmarked_type = "Act";
						break;
				};
				$.getJSON('/bookmarks/custom_create', { bookmark: { "type": bookmarked_type, "id": id } }, function(data) {
					console.log("new bookmark");
					console.log(data);
					that.removeClass('add').addClass('remove');
					that.text("In Bookmarks");
					bookmark_id = data;
				});
			} 
			else if(that.hasClass('remove')) {
				// $.getJSON('/bookmarks/destroy/', { id: bookmark_id }, function(data) {
				// 	that.addClass('add').removeClass('remove');
				// });
				 $.getJSON('/bookmarks/destroy/' + bookmark_id, function(data) {
		          that.addClass('add').removeClass('remove');
					that.text("Bookmark it!");
		        });
			}
		});
		
		// This "attending" class won't be here if the user isn't logged in
		$('.bookmark-share .attending').click(function(e) {
			var that = $(this);
			if(that.hasClass('add')) {
				var bookmarked_type = "Occurrence";
				var lnk = 'http://www.halfpastnow.com/events/show/'+id+'?fullmode=true'; 
        		console.log("Attend: "+lnk);
        		FB.api(
				            '/me/halfpastnow:attend',
				            'post',
				            { event: lnk },
				            function(response) {
				               // if (!response || response.error) {
				               //    alert('Error occured'+response);
				               // } else {
				               //    alert('Post event was successful! Action ID: ' + response.id);
				               // }
				        });

				$.getJSON('/bookmarks/attending_create', { bookmark: { "type": bookmarked_type, "id": id } }, function(data) {
					console.log("new attending bookmark");
					that.removeClass('add').addClass('remove');
					that.text("Planning on Attending");
					$(".re-rsvp").text("Visit RSVP Site Again");
					attending_id = data;
				});
			} 
			else if(that.hasClass('remove')) {
    			 e.preventDefault();
				 $.getJSON('/bookmarks/destroy/' + attending_id, function(data) {
		          	that.addClass('add').removeClass('remove');
					that.text("No longer attending (click again to attend!)");
					$(".re-rsvp").text("");
		        });
			}
		});
		
		$('.bookmark-share .email').click(function() {
			var url = 'mailto:?body=' + link;

	      	window.open(url, '_blank');
	      	window.focus();

		});
		
		$('.bookmark-share .facebook').click(function() {      
			<% if type == "event" %>

			var title = "<%= event.title  %>";
		    var summary = "<%= truncate(strip_tags(event.description), :length => 300, :separator => ' ').gsub(/\"/, '\"')  %>";
		    var pic = "<%= event.cover_image_url  %>";
    		var venue = "<%= event.venue.name  %>";
			var url = "https://www.facebook.com/dialog/feed?%20app_id=" + app_id + "&%20link=" + link + "&%20picture=" + pic + "&%20name=" + title + "&%20caption=" + venue + "&%20description=" + summary + "&%20redirect_uri=" + redirect;
			<% end %>
			window.open(url, '_blank');
			window.focus();
		});
		
		$('.bookmark-share .twitter').click(function() {
			var url = 'https://twitter.com/intent/tweet?text=' + link;
			window.open(url, '_blank');
			window.focus();
		});
		$('.bookmark-share .comment-tp .add-tp').click(function() {
			var that = $('.add-tp');
			if (toggle) {
				$('.popup-box').hide();
				$('.popup-box-1').hide();
			}
			else {
				if(that.hasClass('add')) {
					$('.popup-box').show();
				}
				else{
					$('.popup-box-1').show();
				}
				
			}
			toggle = !toggle;
			
			

			// $('.bookmark-share .comment-tp .popup-box').hidden;
		});
		// $('.bookmark-share .gcal').click(function() {
		// 	var url = '<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsecret-citadel-5147.herokuapp.com%2F%3Fevent_id%3D1&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=80&amp;appId=449267651794206" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>';
		// 	window.open(url, '_blank');
		// 	window.focus();
		// });
	});
	function submit_comment()
      {	
      	var text = $('.comment-text').val();
      	$('.popup-box').hide();
      	that = $('.add-tp');
      	toggle = !toggle;
      	that.removeClass('add').addClass('remove');
      	$.getJSON('/bookmarks/add_to_featuredlist', { bookmark: { "type": "Occurrence", "id": <%= id  %>, "comment":text } }, function(data) {
					bookmark_id = data;
				});
      
      	$(".comment-text-1").val(text);
      }
    function deleteTP()
      {	
      	
      	$('.popup-box-1').hide();
      	toggle = !toggle;
      	that = $('.add-tp');
      	$.getJSON('/bookmarks/destroyBookmarkedList/' + bookmarkList_id, function(data) {
		          that.removeClass('remove').addClass('add');
		        });
      }
	function edit_comment()
	{	
		$('.popup-box-1').hide();
		toggle = !toggle;
		var text = $('.comment-text-1').val();
		console.log("Edit comment"+text);
	$.getJSON('/bookmarks/update_comment', { bookmark: { "type": "Occurrence", "id": bookmarkList_id, "comment": text } }, function(data) {
	      bookmark_id = data;
	      
	});
	}
</script>

 <script>
	function postList()
      {
          FB.api(
            '/me/halfpastnow:subscribe',
            'post',
            { toppick: "<%= @url %>" },
            function(response) {
               if (!response || response.error) {
                  alert('Error occured'+response);
               } else {
                  alert('Post list was successful! Action ID: ' + response.id);
               }
            });
      }



    function likeit()
      {
      		console.log("<%= @url1 %>")
      	   FB.api(
            '/me/og.likes',
            'post',
            { object: "<%= @url1 %>" },
            function(response) {
               if (!response || response.error) {
                   alert('Error occured'+response);
               } else {
                   alert('Successfully post on your timeline');
               }
            });
          window.open(url, '_blank');
			window.focus();
      }
</script>
<div class="bookmark-share">
	<% if type == 'event' %>
		<% if !event.ticket_url.blank? %>
		<a href="<%= event.ticket_url %>" target="_blank" class="nice-button attending-button <%= current_user ? "attending" : "" %> <%= attendingId.nil? ? "add" : "remove" %>"  <%= current_user ? "" : "linkto='shunt'" %>>
			<%= attendingId.nil? ? "RSVP" : "Already RSVP'd" %>
		</a>
		<div class="rsvp-center" style="text-align:center; vertical-align:text-top;"><a href='<%= event.ticket_url %>' target='_blank' class='re-rsvp' style="font-size:16px;"><%= attendingId.nil? ? "" : "Visit RSVP Site Again" %></a></div>
		<% else %>
		<span class="nice-button attending-button <%= current_user ? "attending" : "" %> <%= attendingId.nil? ? "add" : "remove" %>"  <%= current_user ? "" : "linkto='shunt'" %>>
			<%= attendingId.nil? ? "I'm attending!" : "Planning on Attending" %>
		</span>
		<% end %>
	<% end %>
	<span class="nice-button bookmark-button <%= current_user ? "bookmark" : "" %> <%= bookmarkId.nil? ? "add" : "remove" %>"  <%= current_user ? "" : "linkto='shunt'" %>>
		<i class="icon-bookmark"></i>
		<%= bookmarkId.nil? ? "Bookmark it" : "In Bookmarks" %>
	</span>
<!-- 	<span class="icon icon-bookmark bookmark <%= current_user ? "bookmark" : "" %> <%= bookmarkId.nil? ? "add" : "remove" %>"  <%= current_user ? "" : "linkto='shunt'" %>></span> -->
	<% if type == 'event' %>
	<a href="http://www.halfpastnow.com/?event_id=<%=id%>" title="Add to Calendar" class="addthisevent">
	    <span class="icon icon-calendar cal"></span>
	    <span class="_url">http://www.halfpastnow.com/?event_id=<%=id%></span>
	    <span class="_start"><%= occurrence.start.strftime('%m-%d-%Y %H:%M:%S') %></span>
	    <span class="_end"><%= occurrence.end.strftime('%m-%d-%Y %H:%M:%S') %></span>
	    <span class="_zonecode">11</span>
	    <span class="_summary"><%= event.title %></span>
	    <span class="_description"><%= strip_tags(event.description)%></span>
	    <span class="_location"><%= event.venue.name %>, <%= event.venue.address %>, <%= event.venue.city %>, <%= event.venue.state %></span>
	    <span class="_date_format">DD/MM/YYYY</span>
	</a>
	<% end %>
	<span class="icon icon-facebook-sign facebook"></span>
	<span class="icon icon-twitter-sign twitter"></span>
	<% if type == 'event' %>
		<% if (!current_user.nil?) && current_user.role_at_least?("top_picker")  %>
			<div class="comment-tp">
				<span class="add-tp  <%= @bookmarkFeaturedListId.nil? ? "add" : "remove" %>">TP</span>
				<div class="popup-box">
					<label> Add comment (Optional)</label>
					<textarea class="comment-text" style="color:black;" placeholder="Comment"></textarea>
					<button onclick='return submit_comment()'>Add comment</button>
				</div>
				<div class="popup-box-1">
					<label> Edit comment (Optional)</label>
					<% featured_list = current_user.featured_list 
					   comment = (featured_list.nil?) ? '' : (@occurrence.event_bookmarks_with_comments(featured_list.id).first.nil? ) ? '' : @occurrence.event_bookmarks_with_comments(featured_list.id).first.comment
					%>
					<textarea class="comment-text-1" style="color:black;" placeholder="Comment"><%= comment %></textarea>
					<button class="edit-btn" onclick='return edit_comment()'>Edit comment</button>
					<button class="delete-btn" onclick='return deleteTP()'>UnTP</button>
				</div>
			</div>
		<% end %>
	<% end %>
</div>