<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
  <% if @fullmode %>
    <% if @event && @event.cover_image_url %>
      <meta property="og:image" content="<%= @event.cover_image_url %>" />
    <% end %>
  <% else %>
    <meta property="og:image" content="http://www.halfpastnow.com/assets/halfpastnow_final-squat.png" />
    
  <% end %>
  <meta property="fb:app_id" content="273167206143082" />
  <meta property="og:type" content="hpnevent:event" />
  <title><%= @pageTitle || "half past now." %></title>

  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic,'>
  
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  
  <%= javascript_include_tag "application" %>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCeHedIsrNnYSRpUidszbfDV27gTQKJLt4&sensor=false"></script>
  <script type="text/javascript">
    $(function() {
      window.fbAsyncInit = function() {
        console.log("Loaded FB 2");
          FB.init({
            appId      : '273167206143082', // App ID
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
          });
        };

        // Load the SDK Asynchronously
        (function(d){
          var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
          js = d.createElement('script'); js.id = id; js.async = true;
          js.src = "//connect.facebook.net/en_US/all.js";
          d.getElementsByTagName('head')[0].appendChild(js);
        }(document));
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=273167206143082";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));


  });
  </script>
  <%= stylesheet_link_tag    "application" %>
  
  <%= csrf_meta_tags %>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36312888-1']);
    _gaq.push(['_setDomainName', 'herokuapp.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    
  </script>

  
  <!-- for cropper -->
  <%= yield :head %>

</head>
<body>
	<%= yield :code %>
	
  <div id="body">
    <div id="header">
      <div class="one">
        <div>
          <div class="stay-on-target">
            <a href="/"><img class="logo" src="/assets/halfpastnow_final_beta-dark-header.png" /></a>
            <a class="main menu-element <%= params[:controller] == "events" ? "selected" : "" %>" href="/">Search</a>
            <a class="main menu-element <%= params[:controller] == "picks" ? "selected" : "" %>" href="/picks">Top Picks</a>
            <% if false %><!-- <a class="main menu-element <%= params[:controller] == "user_submission" ? "selected" : "" %>" href="/userSubmission/eventSearch">Add Event</a> --><% end %>
            <% if user_signed_in? %>
              <div class="menu-element right pic">
                <%= link_to(current_user.firstname + " " + current_user.lastname, edit_user_registration_path) %>
                <%= image_tag current_user.profilepic_url(:mini) || "/assets/profile.png", :class => "top-profile-pic" %>
              </div>
            <% else %>
              <div class="menu-element right">
                  <a href="#" linkto="shunt">Sign Up</a> <span>/</span> <a href="#" linkto="shunt">Login</a>
              </div>
            <% end %>
            <div class="menu-element right"><a href="/info/about">About Us</a></div>
          </div>
        </div>
      </div>
      <%= yield :header%>
    </div>
    <%= yield :body %>
  </div>
  <div id="overlays">
    <%= yield :overlay %>
  </div>
  
  <div id="getsat-widget-2414"></div>
  <script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
  <script type="text/javascript">
  if (typeof GSFN !== "undefined") { GSFN.loadWidget(2414,{"containerId":"getsat-widget-2414"}); }
  </script>
</body>
</html>