<html>
<head>
  <title>half past now.</title>
  <link rel="stylesheet" 
        href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
   
  <%= javascript_include_tag "applicationmobile" %>
 <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCuX99Cn10qLVF0AQNRzduy012YqkaIXgk&sensor=false"></script>



 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0,  minimum-scale=1.0, user-scalable=no"> 


  
  <%= stylesheet_link_tag    "custom.css" %>
  <%= stylesheet_link_tag    "shareqr2.2" %>
  <%= javascript_include_tag "tokeninput" %>
  <%= stylesheet_link_tag "token-input-facebook" %>
  <%= javascript_include_tag "date" %>
  <%= javascript_include_tag "shareqr2.2" %>
  <!--%= csrf_meta_tag %-->
</head>
  <body onload="if(typeof initialize !== 'undefined') initialize();">
    <div >
      <%= yield %>
    </div>
  </body>

</html>
