<!DOCTYPE html>
<html>
<head>
  <title>half past now.</title>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= javascript_include_tag "jquery-ui-timepicker-addon" %>
  <%= javascript_include_tag "viewport" %>
  <%= javascript_include_tag "date" %>
  <%= javascript_include_tag "main" %>
  <%= javascript_include_tag "tokeninput" %>
  <%= javascript_include_tag "rails.validations" %>
  <%= javascript_include_tag "jquery.tabSlideOut.v1.3" %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCuX99Cn10qLVF0AQNRzduy012YqkaIXgk&sensor=false"></script>
  <%= javascript_include_tag "markerwithlabel" %>
  <%= stylesheet_link_tag    "styles" %>
  <%= stylesheet_link_tag    "jquery-ui" %>
  <%= stylesheet_link_tag "token-input-facebook" %>

  <%= csrf_meta_tags %>

  <script type="text/javascript">
    $(function(){
        $('.slide-out-div').tabSlideOut({
            tabHandle: '.handle',                     //class of the element that will become your tab
            pathToTabImage: 'assets/feedback_tab_v.jpg', //path to the image for the tab //Optionally can be set using css
            imageHeight: '122px',                     //height of tab image           //Optionally can be set using css
            imageWidth: '40px',                       //width of tab image            //Optionally can be set using css
            tabLocation: 'right',                      //side of screen where tab lives, top, right, bottom, or left
            speed: 300,                               //speed of animation
            action: 'click',                          //options: 'click' or 'hover', action to trigger animation
            topPos: '300px',                          //position from the top/ use if tabLocation is left or right
            rightPos: '00px',                          //position from left/ use if tabLocation is bottom or top
            fixedPosition: true                      //options: true makes it stick(fixed position) on scroll
        });

    });

    </script>
</head>
<body onload="if(typeof initialize !== 'undefined') initialize();">
	<%= yield :code %>
	<!-- Devise needs it? 
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>-->
	
  <div id="body">
    <div id="header">
      <div class="one">
        <a href="/"><img class="logo" src="/assets/halfpastnow.png" /></a>
        <div class="menu-element"><a href="/info/about">about us</a></div>
        <div class="menu-element"><a href="/info/contact">contact us</a></div>
        <div class="menu-element right">
              <% if user_signed_in? %>
                <%= link_to('logout', destroy_user_session_path, :method => 'delete') %>        
              / 
                <%= link_to('edit registration', edit_user_registration_path) %> 
              <% end %>
              <% if false %> <%= link_to('login', new_user_session_path)  %>  <%= link_to('register', new_user_registration_path)  %> <% end %>
        </div>
      </div>
      <%= yield :header%>
    </div>
    <%= yield :body %>
  </div>
  <%= yield :overlay %>

<div class="slide-out-div">
            <a class="handle" href="http://link-for-non-js-users.html">Content</a>
            <h3>Contact me</h3>
            <p>Please leave us feedback, it's really appreciated.</p>
			<%= render 'feedbacks/form' %>
        </div>
</body>
</html>
