<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta property="fb:app_id" content="475386955806720" /> 
  
  <% if @pick %>
    <meta property="og:type" content="halfpastnow:toppick" />
  <% else %>
    <meta property="og:type" content="halfpastnow:event" />
  <% end %>

  <%= yield :meta %>
  
  <% if @fullmode %>
    <% if @event && @event.cover_image_url %>
      <meta property="og:image" content="<%= @event.cover_image_url %>" />
    <% end %>
  <% else %>
     <% if @pick %>
        <!-- <meta property="og:image" content="<%= @bookmarkList.picture %>" /> -->
      <% else %>
        <meta property="og:image" content="http://www.halfpastnow.com/assets/halfpastnow_final-square.png" />
      <% end %>
  <% end %>



  
  <% if @pick %>
    <meta property="og:type" content="halfpastnow:toppick" />
  <% else %>
    <!-- <meta property="og:type" content="hpnstaging:event" /> -->
  <% end %>



  <title class="head-title"><%= @pageTitle || "half past now." %></title>
  
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic,'>
  <link href='http://fonts.googleapis.com/css?family=Alegreya:900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Neuton:400,800' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  

  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCeHedIsrNnYSRpUidszbfDV27gTQKJLt4&sensor=false"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36312888-1']);
    _gaq.push(['_setDomainName', 'herokuapp.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

<script type="text/javascript">
  $(document).ready(function () {
    console.log(".....ready");
      $(".profile-hover").mouseenter(function() {
          $('ul.profile-menu').slideDown('fast');
      }), 
      $(".profile-menu").mouseleave(function () {
          $('ul.profile-menu').slideUp('fast');
        }
      );
  });
</script>

  
  <!-- for cropper -->
  <%= yield :head %>

</head>
<body>
  <%= yield :code %>

  <div id="body">
    <div id="header">
      <div class="one">
        <div>
          <div class="stay-on-target">
            <a href="/"><img class="logo" src="/assets/halfpastnow_final_beta-dark-header.png" /></a>
            <ul id="nav">
              <li class="nav-item">
                  <a class="main menu-element <%= params[:controller] == "events" && params[:action] != "sxsw" ? "selected" : "" %>" href="/search">Search</a>
              </li>
              <li class="nav-item">
                  <a class="main menu-element <%= params[:controller] == "picks" ? "selected" : "" %>" href="/picks">Top Picks</a>
              </li>
            </ul>
            <span class="divider"></span>
            
              
            
            <% if false %><% end %>
            <% if user_signed_in? %>

                <div class="menu-element right pic profile-hover">
                  <%= link_to(current_user.firstname + " " + current_user.lastname, edit_user_registration_path) %>
                  <%= link_to image_tag(current_user.profilepic_url(:mini) || "/assets/profile.png", :class => "top-profile-pic"), edit_user_registration_path %>
                </div>



            <% else %>
              <div class="menu-element right">
                  <a href="#" linkto="shunt">Sign Up</a> <span>/</span> <a href="#" linkto="shunt">Login</a>
              </div>
            <% end %>


            <% if user_signed_in? %>             
              <div class="menu-element right nice-button" id ="add-event-button"><a href="/userSubmission/eventSearch">Add an Event!</a></div>
            <% else %>           
              <div class="menu-element right nice-button" id ="add-event-button"><a href="#" linkto="shunt">Add an Event!</a></div>
            <% end %>

            <% if user_signed_in? %>
                <ul class="profile-menu">
                  <li><a href="/users/rsvp/<%=current_user.id%>">My Events</a></li>
                  <li><%= link_to("My Settings", edit_user_registration_path) %></li>
                </ul>
            <% end %>
          </div>
        </div>
      </div>
      <%= yield :header%>
    </div>
    <%= yield :body %>
  </div>
  <div id="overlays">
    <div class="mode">
      <div class="overlay">
        <div class="insert-point">
          <div class="window">
          </div>
        </div>
      </div>
    </div>
  </div>
<div id="getsat-widget-2414"></div>
<% unless @mobileMode %>
  <script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>  
<% end %>

<script type="text/javascript">
if (typeof GSFN !== "undefined") { GSFN.loadWidget(2414,{"containerId":"getsat-widget-2414"}); }
  window.fbAsyncInit = function() {
              console.log("Loaded FB 2 outside");
                FB.init({
                  appId      : '475386955806720', // App ID
                  status     : true, // check login status
                  cookie     : true, // enable cookies to allow the server to access the session
                  xfbml      : true  // parse XFBML
                });
              };
              // Load the SDK Asynchronously
              (function(d){
                var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
                js = d.createElement('script'); js.id = id; js.async = true;
                js.src = "//connect.facebook.net/en_US/all.js";
                d.getElementsByTagName('head')[0].appendChild(js);
              }(document));// delete below
</script>
<script type="text/javascript" src="http://js.addthisevent.com/atemay.js"></script>
<script type="text/javascript">
  addthisevent.settings({
      license   : "ac3hy61svzxtsqddkmut",
      mouse     : false,
      css       : false,
      outlook   : {show:true, text:"Outlook Calendar"},
      google    : {show:true, text:"Google Calendar"},
      yahoo     : {show:false, text:"Yahoo Calendar"},
      hotmail   : {show:true, text:"Hotmail Calendar"},
      ical      : {show:true, text:"iCal Calendar"},
      facebook  : {show:false, text:"Facebook Event"},
      callback  : ""
  });
</script>
</body>
</html>