<% content_for :head do %>
	<%= stylesheet_link_tag "devise" %>
 	<%= stylesheet_link_tag "jcrop" %>
<% end %>
<% content_for :header do %>
	<div class="titlebar">
		<div class="stay-on-target">
			<span><%= yield :title %></span>
		</div>
	</div>
<% end %>
<% content_for :body do %>
	<div id="info-content" class="padded">
		<%= yield :content %>
	</div>
<% end %>

<% content_for :overlay do %>
	<div class="mode">
		<div class="overlay">
			<div class="insert-point">
				<div class="window">
				</div>
			</div>
		</div>
	</div>
<% end %>

<%= render :template => 'layouts/application' %>