<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Un Official ACL | A Half Past Now Service</title>
  <%= stylesheet_link_tag    "acl/foundation.css" %>
  <%= stylesheet_link_tag    "acl/bundle.css" %>
  <%= javascript_include_tag "application" %>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA1Qi_Q7Uio7pOZKdKwiiIY4QVVIyv_yes&sensor=false">
  </script>
</head>
<body>
<div class="container">
  <div class="top-container">
    <div class="top row">
      <div class="small-6 large-3 columns">
        <div class="logo-container"><div class="logo">Unofficial ACL</div></div>
      </div>
      <div class="small-6 large-9 columns">
        <div class="tagline">
          The best unofficial ACL events and venues around Austin!
        </div>
      </div>
    </div>
    <div class="austin"></div>
  </div>

  <div id="sticker">
    <div class="pink-banner">
      <div class="wrapper row">
        <div class="large-9 columns">
          <a class="callout" tabindex="1" href="http://www.halfpastnow.com">
            <img src="/assets/acl/layout/hpn-marker.png">
            <p>See Even More Awesome Events at <span>HalfPastNow.com!</span></p>
          </a>
        </div>
        <div class="large-3 columns ptx">
          <div class="text-rounded dark">
            <%= form_tag "/unofficialacl/search" do %>
              <%= text_field_tag :search,"", placeholder: "Search", "tabindex" => "2" %>
              <%= submit_tag "",class: "search-button", "tabindex" => "6" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="toolbar">
      <div class="wrapper row">
        <div class="large-3 small-4 columns">
          <div class="ptx prm left"><h3>Map is: </h3></div>
          <div class="commutator on" id="map-onoff">
            <div class="is on">
              On
              <div class="is off">
                Off
              </div>
            </div>
          </div>
        </div>
        <div class="large-3 small-4 large-offset-3 columns by-right">
          <h3 class="ptx">You are seeing: </h3>
        </div>
        <div class="large-3 small-4 columns">
          <select class="select js-select">
            <option></option>
            <option value="Aaliyah"><%=link_to "Happy Hours", search_unofficialacl_index_path(included_tags: 12), method: :post%></option>
            <option value="Barbara">Live music</option>
            <option value="Azura">For kids</option>
            <option value="Babs">Babs</option>
            <option value="Fox">Fox</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="map">
    <div id="googleMap"></div>
  </div>

  <%= yield %>

  <div class="footer row">
    <div class="small-6 small-centered columns by-center">
      <div id="loaderImage" class="mbl"></div>
      loading more content
    </div>
  </div>
</div>

<script src="javascripts/script.js" type="text/javascript"></script>

<!-- Live Reload -->

<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

<!-- -->


</body>
</html>