<!DOCTYPE html>
<html>
<head>
  <title>half past now.</title>
  
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= javascript_include_tag "jquery-ui-timepicker-addon" %>
  <%= javascript_include_tag "date" %>
  <%= javascript_include_tag "jquery.validate" %>
  <%= javascript_include_tag "jquery.form" %>
  <%= javascript_include_tag "jquery.tabSlideOut.v1.3" %>
  <%= javascript_include_tag "jquery.cleditor.min" %>
  <%= javascript_include_tag "select2" %>
  <!-- javascript_include_tag "jquery.layout" -->
  <%= stylesheet_link_tag "venue" %>
  <%= stylesheet_link_tag "jquery-ui" %>
  <%= stylesheet_link_tag "jquery.cleditor" %>
  <%= stylesheet_link_tag "select2" %>
  <!-- stylesheet_link_tag "layout-default" -->
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCuX99Cn10qLVF0AQNRzduy012YqkaIXgk&sensor=false"></script>
</head>
<body onload="if(typeof initialize !== 'undefined') initialize();">
  <%= javascript_include_tag "venue" %>
  
  <%= yield %>

  <div class="slide-out-div">
  	<a class="handle" href="">Content</a>
  	<h3>Got some feedback?</h3>
  	<p>Let us know! We really appreciate it.</p>
  	<%= render 'feedbacks/form' %>
  </div>


</body>
</html>
