<script type="text/javascript">
	$(function() {
		//$('.mode .overlay').click(closeMode);
		$('.mode .close-mode').click(closeMode);

		$('.mode .overlay .window').click(function(event) {
		event.stopPropagation();
		});

		$('.mode .actions').click(function() {
			$('<span class="ajaxLoader"><img src="/assets/ajax-loader.gif"></span>').appendTo('.actions');
		});
	  	
	    var actForm = $("#act-form");
	    actForm.ajaxForm({
	      
	      dataType: 'json',
	      success: 
	        function(data) { 
	          var eventID = actForm.attr('event-id');

	          if(typeof eventID != 'undefined') {
	          	  var selectActs = $('input.act-names[event-id=' + eventID + ']');
		          var selectedActs = selectActs.siblings(".select2-container").find(".select2-search-choice");
		         
		          //connect act to event
		          //var vals = $('input.act-names[event-id=' + eventID + ']').val();
		          var actIDs = selectActs.select2("val");
		          var actNames = [];
		          selectedActs.each(function() { actNames.push( $(this).text() ); });
		          var acts = [];
		          for(var i in actIDs) {
		            acts.push({id: actIDs[i], text: actNames[i]});
		          }
		          acts.push({id: data.id, text: data.name});
		          console.log("acts");
		          console.log(acts);
		          selectActs.select2("val",acts);
		          
		          actsInfo[data.id] = {tags: data.tags};
		          actsChange(selectActs);
		      }
	      	  hideActsMode();

	      	  //gross.
	      	  if(typeof actSuccessCallback !== 'undefined')
	      	  	actSuccessCallback(data);
	        }
	    });
	});

	function closeMode() {
		$( "#confirm-close" ).dialog({
            resizable: false,
            height:140,
            modal: true,
            buttons: {
                "Continue": function() {
                    $('.mode').hide();
                },
                Cancel: function() {
                    $( this ).dialog( "close" );
                }
            }
        });
	};

</script>

<h3 style="margin-bottom:15px;">Performer</h3>
<%= form_for @act, :url => "/acts/actCreate", :html => { :id => "act-form", :multipart => true} do |e| %>
	<% if @act.id %><%= e.hidden_field :id %><% end %>
    <div class="main">
		<div class="field">
		  <%= e.label :name %>
		  <%= e.text_field :name %>
		</div>
		<div class="field">
		  <%= e.label :description %>
		  <%= e.text_area :description, :class => "cleditor" %>
		</div>

		<div class="field">
		  <%= e.label :bio %>
		  <%= e.text_area :bio, :class => "cleditor" %>
		</div>

		<div class="field">
		  <%= e.label :website %>
		  <%= e.text_field :website %>
		</div>

		<div class="field">
		  <%= e.label "[Genres]" %>
		  <i><%= @act.genre %></i>
		</div>
		
		<% @iStrName = "act[tag_ids][]" %>
		<% @iStrId = "act_tag_ids_" %>
		
		<%= render :partial => "/venues/tags", :locals => { :element => @act } %>

		<div class="field">
		  <%= e.label "Facebook Picture" %>
		  <i><%= image_tag @act.fb_picture %></i>
		</div>


		<%= render :partial => "/venues/pictures", :locals => { :act => @act } %>

		<%= render :partial => "/venues/embeds", :locals => { :act => @act } %>

		<div class="actions">
    		<%= e.submit %>
  		</div>
    </div>
<% end %>

  <div id="confirm-close" title="Close without saving?" style="display:none; font-size:14px;">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Changes will not be saved unless you click the "Update Act" button. Are you sure you want to exit?</p>
  </div>

<div class="close-mode">x</div>