<% content_for :title do %>
	<%= render :partial => "layouts/bookmark", :locals => { :element => @act } %>
	<h1><span class="icon-flag"></span><%= @act.name %></h1><% end %>

<% content_for :body do %>
<%= javascript_include_tag "galleria-1.2.8.min" %>
	<div class="col-1">
		<ul class="sub-header">
			<% unless @act.tags.length == 0 %>
				<li><%= @act.tags.collect { |tag| tag.name } * " / " %></li>
			<% end %>
		</ul>
		<% unless @act.description.to_s.empty? %>
			<div class="description block">
				<h2>Details</h2>
				<div class="block-inner">
					<%= raw(@act.description) %>
				</div>
			</div>
		<% end %>
		<% unless @act.embeds.length == 0 %>
			<div class="embeds block">
				<div class="block-inner">
					<% @act.embeds.select { |e| e.primary }.each do |embed| %>
						<%= raw(embed.source) %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="col-2">
		<div id="galleria">
			<% unless @act.fb_picture.blank?%>
				<img src="<%= @act.fb_picture%>" data-title="<%= @act.name %>" >
			<% end %>
            <% @act.pictures.each do |pic| %>
			    <a href="<%=pic.image_url(:large).to_s%>"><img src="<%=pic.image_url(:tiny).to_s%>" data-title="<%= @act.name %>" data-big="<%=pic.image_url(:full).to_s%>" ></a>
		    <% end %>
        </div>

        <script type="text/javascript">
        	$(function() {
        		
	            Galleria.loadTheme('assets/galleria.classic.min.js');
	            $('#galleria').galleria({
			        width:358,
			        height:358,
			        lightbox:true
			    });
	        });
        </script>

		<div class="calendar block">
			<h2>Calendar</h2>
			<div class="block-inner">
				<%= render :partial => "events/calendar", :locals => { :occurrences => @occurrences, :recurrences => @recurrences } %>
			</div>
		</div>

	</div>
	<div class="clear"></div>
<% end %>